/* ==========================================================================
   Include theme grid styles
   ========================================================================== */
/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - begin
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - end
   ========================================================================== */
/* ==========================================================================
   Portfolio mixin - begin
   ========================================================================== */
/* ==========================================================================
   Portfolio mixin - end
   ========================================================================== */
/* ==========================================================================
   Grid size and responsive grid size variables
   ========================================================================== */
/* ==========================================================================
   7.0 Grid styles
   ========================================================================== */
.qodef-content-grid {
  width: 1100px;
  margin: 0 auto;
}

@media only screen and (min-width: 1441px) {
  .qodef-content-grid-1400 .qodef-content-grid {
    width: 1400px;
  }
  .qodef--boxed.qodef-content-grid-1400 .qodef-content-grid {
    width: 1460px;
  }
}

@media only screen and (min-width: 1441px) {
  .qodef-content-grid-1300 .qodef-content-grid {
    width: 1300px;
  }
  .qodef--boxed.qodef-content-grid-1300 .qodef-content-grid {
    width: 1360px;
  }
}

@media only screen and (min-width: 1441px) {
  .qodef-content-grid-1200 .qodef-content-grid {
    width: 1200px;
  }
  .qodef--boxed.qodef-content-grid-1200 .qodef-content-grid {
    width: 1260px;
  }
}

@media only screen and (min-width: 1025px) {
  .qodef-content-grid-1000 .qodef-content-grid {
    width: 1000px;
  }
  .qodef--boxed.qodef-content-grid-1000 .qodef-content-grid {
    width: 1060px;
  }
}

@media only screen and (min-width: 769px) {
  .qodef-content-grid-800 .qodef-content-grid {
    width: 800px;
  }
  .qodef--boxed.qodef-content-grid-800 .qodef-content-grid {
    width: 860px;
  }
}

.qodef--boxed .qodef-content-grid {
  width: 1160px;
}

.qodef-grid > .qodef-grid-inner {
  position: relative;
  display: grid;
  gap: 30px;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--1 {
  order: 1;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--2 {
  order: 2;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--3 {
  order: 3;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--4 {
  order: 4;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--5 {
  order: 5;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--6 {
  order: 6;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--7 {
  order: 7;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--8 {
  order: 8;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--9 {
  order: 9;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--10 {
  order: 10;
}

.qodef-grid > .qodef-grid-inner > .qodef-grid-item.qodef-order--11 {
  order: 11;
}

.qodef-grid > .qodef-grid-inner.clear:before, .qodef-grid > .qodef-grid-inner.clear:after {
  display: none !important;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner {
  display: flex;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item {
  width: 100%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--12 {
  width: 100%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--11 {
  width: 91.66667%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--10 {
  width: 83.33333%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--9 {
  width: 75%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--8 {
  width: 66.66667%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--7 {
  width: 58.33333%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--6 {
  width: 50%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--5 {
  width: 41.66667%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--4 {
  width: 33.33333%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--3 {
  width: 25%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--2 {
  width: 16.66667%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--1 {
  width: 8.33333%;
}

.qodef-grid.qodef-layout--template > .qodef-grid-inner > .qodef-grid-item.qodef-col--auto {
  width: auto;
}

.qodef-grid.qodef-layout--columns.qodef-col-num--1 > .qodef-grid-inner {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--columns.qodef-col-num--2 > .qodef-grid-inner {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--columns.qodef-col-num--3 > .qodef-grid-inner {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--columns.qodef-col-num--4 > .qodef-grid-inner {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--columns.qodef-col-num--5 > .qodef-grid-inner {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--columns.qodef-col-num--6 > .qodef-grid-inner {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--columns.qodef-col-num--7 > .qodef-grid-inner {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--columns.qodef-col-num--8 > .qodef-grid-inner {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--columns.qodef-col-split--1-11 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 1fr) minmax(0, 11fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--1-11 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--2-10 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 2fr) minmax(0, 10fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--2-10 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--3-9 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 3fr) minmax(0, 9fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--3-9 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--4-8 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 4fr) minmax(0, 8fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--4-8 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--5-7 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 5fr) minmax(0, 7fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--5-7 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--6-6 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 6fr) minmax(0, 6fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--6-6 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--7-5 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 7fr) minmax(0, 5fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--7-5 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--8-4 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 8fr) minmax(0, 4fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--8-4 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--9-3 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 9fr) minmax(0, 3fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--9-3 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--10-2 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 10fr) minmax(0, 2fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--10-2 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--columns.qodef-col-split--11-1 > .qodef-grid-inner {
  grid-template-columns: minmax(0, 11fr) minmax(0, 1fr);
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--columns.qodef-col-split--11-1 > .qodef-grid-inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.qodef-grid.qodef-layout--masonry.qodef-items--fixed .qodef-grid-item .qodef-e-inner {
  height: 100%;
  overflow: hidden;
}

.qodef-grid.qodef-layout--masonry.qodef-items--fixed .qodef-grid-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.qodef-grid.qodef-layout--masonry > .qodef-grid-inner {
  visibility: hidden;
}

.qodef-grid.qodef-layout--masonry > .qodef-grid-inner.qodef--masonry-init {
  visibility: visible;
}

.qodef-grid.qodef-layout--masonry.qodef-col-num--1 > .qodef-grid-inner {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--masonry.qodef-col-num--2 > .qodef-grid-inner {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--masonry.qodef-col-num--3 > .qodef-grid-inner {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--masonry.qodef-col-num--4 > .qodef-grid-inner {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--masonry.qodef-col-num--5 > .qodef-grid-inner {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--masonry.qodef-col-num--6 > .qodef-grid-inner {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--masonry.qodef-col-num--7 > .qodef-grid-inner {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.qodef-grid.qodef-layout--masonry.qodef-col-num--8 > .qodef-grid-inner {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.qodef-grid.qodef-gutter--no > .qodef-grid-inner {
  gap: 0px;
}

.qodef-grid.qodef-gutter--tiny > .qodef-grid-inner {
  gap: 10px;
}

.qodef-grid.qodef-gutter--small > .qodef-grid-inner {
  gap: 20px;
}

.qodef-grid.qodef-gutter--normal > .qodef-grid-inner {
  gap: 30px;
}

.qodef-grid.qodef-gutter--medium > .qodef-grid-inner {
  gap: 40px;
}

.qodef-grid.qodef-gutter--large > .qodef-grid-inner {
  gap: 50px;
}

.qodef-grid.qodef-gutter--huge > .qodef-grid-inner {
  gap: 68px;
}

.qodef-grid.qodef-gutter--enormous > .qodef-grid-inner {
  gap: 120px;
}

/* ==========================================================================
   11.0 Grid responsive styles
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .qodef-content-grid {
    width: 960px;
  }
  .qodef-content-grid.qodef-extended-grid--right {
    padding-left: calc((100% - 960px) / 2);
  }
  .qodef-content-grid.qodef-extended-grid--left {
    padding-right: calc((100% - 960px) / 2);
  }
  .qodef--boxed .qodef-content-grid {
    width: calc(960px + 60px);
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-content-grid {
    width: 768px;
  }
  .qodef-content-grid.qodef-extended-grid--right {
    padding-left: calc((100% - 768px) / 2);
  }
  .qodef-content-grid.qodef-extended-grid--left {
    padding-right: calc((100% - 768px) / 2);
  }
  .qodef--boxed .qodef-content-grid {
    width: calc(768px + 60px);
  }
}

@media only screen and (max-width: 800px) {
  .qodef-content-grid {
    width: 86%;
  }
  .qodef-content-grid.qodef-extended-grid--right {
    padding-left: calc((100% - 86%) / 2);
  }
  .qodef-content-grid.qodef-extended-grid--left {
    padding-right: calc((100% - 86%) / 2);
  }
  .qodef--boxed .qodef-content-grid {
    width: calc(86% + 60px);
  }
}

@media only screen and (max-width: 480px) {
  .qodef-content-grid {
    width: 82%;
  }
  .qodef-content-grid.qodef-extended-grid--right {
    padding-left: calc((100% - 82%) / 2);
  }
  .qodef-content-grid.qodef-extended-grid--left {
    padding-right: calc((100% - 82%) / 2);
  }
  .qodef--boxed .qodef-content-grid {
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--1440 > .qodef-grid-inner {
    flex-wrap: wrap;
  }
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--1440 > .qodef-grid-inner > .qodef-grid-item {
    width: 100%;
  }
}

@media only screen and (max-width: 1366px) {
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--1366 > .qodef-grid-inner {
    flex-wrap: wrap;
  }
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--1366 > .qodef-grid-inner > .qodef-grid-item {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--1024 > .qodef-grid-inner {
    flex-wrap: wrap;
  }
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--1024 > .qodef-grid-inner > .qodef-grid-item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--768 > .qodef-grid-inner {
    flex-wrap: wrap;
  }
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--768 > .qodef-grid-inner > .qodef-grid-item {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--680 > .qodef-grid-inner {
    flex-wrap: wrap;
  }
  .qodef-grid.qodef-layout--template.qodef-flex-wrap--680 > .qodef-grid-inner > .qodef-grid-item {
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) {
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) {
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--2.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--2.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .qodef-grid.qodef-responsive--predefined.qodef-col-num--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--1.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--1.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--2.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--2.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--1.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--1.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--2.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--2.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--1.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--1.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--2.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--2.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1440--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--1.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--1.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--2.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--2.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1366--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--1.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--1.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--2.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--2.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--1024--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--1.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--1.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--2.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--2.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--768--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--1.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--1.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--2.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--2.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 680px) and (min-width: 481px) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--680--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--1.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--1.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--2.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--2.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--3.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--3.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--4.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--4.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--5.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--5.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--6.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--6.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--7.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--7.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--8.qodef-layout--columns > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
  .qodef-grid.qodef-responsive--custom.qodef-col-num--480--8.qodef-layout--masonry > .qodef-grid-inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

/* ==========================================================================
   Grid System responsive style - end
   ========================================================================== */
/* ========================================================================== */
