/*
Theme Name: Ganga
Theme URI: https://wpkoi.com/ganga-wpkoi-wordpress-theme/
Author: wpkoithemes
Author URI: https://wpkoi.com
Description: Ganga is a WPKoi theme under GPL license. You can find theme demos at wpkoi.com. Ganga has a colorful, happy style. The theme is multipurpose, so if You like the style, You can use it to represent Your art, business, an event, show Your portfolio, start a blog, start a webshop and sell Your products etc. The demos use Elementor, WooCommerce and Contact Form 7 plugins. The premium demo uses the Ganga premium plugin also. Ganga has an easy to use admin with a lot of customizer functions, so You can build Your dream without coding knowledge. The theme is responsive so looks good on almost every devices. You can setup multiple header styles, navigation styles and layouts. Build You site with Ganga Theme and share it with the world! You can also find a documentation on wpkoi.com.
Version: 1.2.0
Tested up to: 5.7.2
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ganga
Tags: two-columns, three-columns, one-column, right-sidebar, left-sidebar, footer-widgets, blog, e-commerce, flexible-header, full-width-template, custom-header, custom-background, custom-menu, custom-colors, sticky-post, threaded-comments, translation-ready, featured-images

Ganga is based on GeneratePress, (C) 2014-2018 EDGE22 Studios LTD.
*/

body{
    background-color:#ff5544;
    padding: 0;
}
.top-bar,h1,h2{
    text-transform:none
}
.main-navigation .main-nav ul ul li a,.nav-float-right .main-navigation .main-nav ul ul li a,pre{
    line-height:normal
}
button,input,select,sub,sup{
    vertical-align:baseline
}
pre,textarea{
    overflow:auto
}
.main-navigation a,a,a:focus,a:hover,a:visited,ins,mark{
    text-decoration:none
}
.comment-content a,.entry-header,.main-title,.site-content{
    word-wrap:break-word
}
a,abbr,acronym,applet,big,cite,code,del,dfn,div,dl,dt,em,font,form,html,iframe,ins,kbd,label,legend,li,object,q,s,samp,small,span,strike,strong,sub,sup,tbody,tfoot,thead,tr,tt,var{
    border:0;
    margin:0;
    padding:0
}
body{
    border:0;
    margin:0
}
address,dd,h1,h2,h3,h4,h5,h6,ol,p,table,ul{
    border:0;
    padding:0
}
blockquote,pre{
    border:0
}
fieldset{
    margin:0
}
caption,td,th{
    border:0;
    margin:0;
    text-align:left
}
html{
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
.main-navigation ul li a,article,aside,details,figcaption,figure,footer,header,main,nav,section{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
caption{
    padding:5px
}
caption,td{
    font-weight:400
}
blockquote:after,blockquote:before,q:after,q:before{
    content:""
}
blockquote,q{
    quotes:"" ""
}
.dropdown-click nav ul ul ul,a{
    background-color:transparent
}
a img,hr{
    border:0
}
button,input,select,textarea{
    line-height:1.5
}
hr{
    background-color:#ccc;
    background-color:rgba(0,0,0,.1);
    height:1px;
    margin-bottom:40px;
    margin-top:40px
}
ol,ul{
    margin:0 0 1.5em 3em
}
ul{
    list-style:disc
}
ol{
    list-style:decimal
}
li>ol,li>ul{
    margin-bottom:0;
    margin-left:1.5em
}
address,p,pre{
    margin:0 0 1.3em
}
b,dt,strong,th{
    font-weight:900
}
dd{
    margin:0 1.5em 1.5em
}
cite,dfn,em,i{
    font-style:italic
}
img,pre{
    max-width:100%
}
pre{
    background:rgba(0,0,0,.05);
    font-family:inherit;
    font-size:inherit;
    padding:20px
}
code,kbd,tt,var{
    font:15px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace
}
small,sub,sup{
    font-size:75%
}
abbr,acronym{
    border-bottom:1px dotted #666;
    cursor:help
}
sub,sup{
    height:0;
    line-height:0;
    position:relative
}
sup{
    bottom:1ex
}
sub{
    top:.5ex
}
big{
    font-size:125%
}
button,figure,input,select,textarea{
    margin:0
}
img{
    height:auto
}
button,html input[type=button],input[type=reset],input[type=submit]{
    border:1px solid transparent;
    background:#666;
    cursor:pointer;
    -webkit-appearance:button;
    padding:10px 20px;
    color:#fff
}
button:active,button:focus,button:hover,html input[type=button]:active,html input[type=button]:focus,html input[type=button]:hover,input[type=reset]:active,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:active,input[type=submit]:focus,input[type=submit]:hover{
    background:#606060
}
.button,.woocommerce a.button,.woocommerce button.button{
    padding:13px 25px;
    display:inline-block;
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=search]{
    -webkit-appearance:textfield
}
input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{
    background:#fafafa;
    color:#666;
    border:1px solid #ccc;
    border-radius:0;
    padding:10px 15px;
    box-sizing:border-box;
    max-width:100%
}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{
    color:#111;
    background:#fff
}
textarea{
    vertical-align:top;
    width:100%
}
input[type=file]{
    max-width:100%;
    box-sizing:border-box
}
.alignleft{
    display:inline;
    float:left;
    margin-right:1.5em
}
.alignright{
    display:inline;
    float:right;
    margin-left:1.5em
}
.aligncenter{
    clear:both;
    display:block;
    margin:0 auto
}
.size-auto,.size-full,.size-large,.size-medium,.size-thumbnail{
    max-width:100%;
    height:auto
}
.screen-reader-shortcut,.screen-reader-text,.screen-reader-text span{
    position:absolute!important;
    clip:rect(0,0,0,0);
    height:1px;
    width:1px;
    border:0;
    overflow:hidden
}
.screen-reader-shortcut:focus,.screen-reader-text:focus{
    clip:auto!important;
    height:auto;
    width:auto;
    display:block;
    font-size:1em;
    font-weight:700;
    padding:15px 23px 14px;
    color:#333;
    background:#fff;
    z-index:100000;
    text-decoration:none;
    box-shadow:0 0 2px 2px rgba(0,0,0,.6)
}
.page-header-blog-content h2 span,.page-header-content-wrapper h2 span{
    color:#fff
}
.clear:after,.clear:before,.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before,.site-info:after,.site-info:before{
    content:"";
    display:table
}
.clear:after,.comment-content:after,.entry-content:after,.site-content:after,.site-footer:after,.site-header:after,.site-info:after{
    clear:both
}
.main-navigation{
    z-index:100;
    padding:0;
    clear:both;
    display:block
}
.menu-toggle{
    margin:0;
    padding:0
}
.menu-toggle:before{
    content:"\f0c9";
    font-family:wpkoi;
    width:1.28571429em;
    text-align:center;
    display:inline-block
}
.toggled .menu-toggle:before,li.search-item.close-search a:before,span.search-item.close-search a:before{
    content:"\f00d"
}
.menu-toggle .mobile-menu{
    padding-left:3px
}
.menu-toggle .mobile-menu:empty{
    display:none
}
.inside-navigation,.site-header{
    position:relative
}
.main-navigation ul,.menu-toggle li.search-item{
    list-style:none;
    margin:0;
    padding-left:0
}
li.search-item a:before,span.search-item a:before{
    content:"\f002";
    font-family:wpkoi;
    width:1.28571429em;
    text-align:center;
    display:inline-block
}
.main-navigation a,.main-navigation ul ul a{
    display:block
}
.search-item .screen-reader-text{
    top:0;
    right:0;
    left:auto
}
.main-navigation li{
    float:left;
    position:relative
}
.main-navigation ul ul{
    display:block;
    box-shadow:0 2px 2px rgba(0,0,0,.1);
    float:left;
    position:absolute;
    left:-99999px;
    opacity:0;
    z-index:99999;
    width:200px;
    text-align:left;
    top:auto;
    transition:opacity 80ms linear;
    transition-delay:0s;
    pointer-events:none;
    height:0;
    overflow:hidden
}
.main-navigation ul ul li{
    width:100%
}
.dropdown-hover .main-navigation:not(.toggled) ul li.sfHover>ul,.dropdown-hover .main-navigation:not(.toggled) ul li:hover>ul{
    left:auto;
    opacity:1;
    transition-delay:150ms;
    pointer-events:auto;
    height:auto;
    overflow:visible
}
.dropdown-hover .main-navigation:not(.toggled) ul ul li.sfHover>ul,.dropdown-hover .main-navigation:not(.toggled) ul ul li:hover>ul{
    left:100%;
    top:0
}
.dropdown-click .main-navigation ul ul{
    visibility:hidden
}
.dropdown-click .main-navigation ul li.sfHover>ul.toggled-on,.dropdown-click .main-navigation ul.toggled-on{
    left:auto;
    opacity:1;
    visibility:visible;
    pointer-events:auto;
    height:auto;
    overflow:visible
}
.nav-float-right .inside-header .main-navigation{
    float:right;
    clear:right
}
.nav-float-left .inside-header .main-navigation{
    float:left;
    clear: none;
}
.nav-float-left .inside-header .site-branding,.nav-float-left .inside-header .site-logo{
    float:left;
    margin-right: 20px;
}
.nav-float-left .inside-header:after{
    clear:both;
    content:'';
    display:table
}
.nav-float-right .inside-header .site-branding{
    display:inline-block
}
.header-aligned-left .site-header,.nav-aligned-left.nav-above-header .main-navigation,.nav-aligned-left.nav-below-header .main-navigation{
    text-align:left
}
.header-aligned-center .site-header,.nav-aligned-center.nav-above-header .main-navigation,.nav-aligned-center.nav-below-header .main-navigation{
    text-align:center
}
.header-aligned-right .site-header,.nav-aligned-right.nav-above-header .main-navigation,.nav-aligned-right.nav-below-header .main-navigation{
    text-align:right
}
.gallery-item,.site-info{
    text-align:center
}
.site-header{
    background-repeat:repeat-x;
    background-position:bottom
}
.site-header .header-image{
    vertical-align:middle
}
.nav-float-right .main-navigation ul ul ul{
    top:0
}
.main-navigation li.search-item{
    float:right;
    z-index:21
}
.rtl .main-navigation li.search-item,.rtl.nav-aligned-right.nav-below-header .main-navigation .menu>li.search-item{
    float:left
}
.inside-navigation .search-form,li.search-item.active{
    transition:opacity .1s ease-in-out
}
.inside-navigation .search-form{
    position:absolute;
    left:-99999px;
    pointer-events:none;
    visibility:hidden;
    z-index:20;
    width:100%;
    top:0;
    opacity:0
}
.inside-navigation .search-form.nav-search-active{
    left:0;
    right:0;
    pointer-events:auto;
    visibility:visible;
    opacity:1
}
.gen-sidebar-nav .inside-navigation .search-form{
    top:auto;
    bottom:0
}
.inside-navigation .search-form input{
    border:0;
    vertical-align:bottom;
    line-height:0;
    opacity:.9;
    width:100%;
    z-index:20;
    border-radius:0;
    -webkit-appearance:none
}
.inside-navigation .search-form input::-ms-clear{
    display:none;
    width:0;
    height:0
}
.inside-navigation .search-form input::-ms-reveal{
    display:none;
    width:0;
    height:0
}
.inside-navigation .search-form input::-webkit-search-cancel-button,.inside-navigation .search-form input::-webkit-search-decoration,.inside-navigation .search-form input::-webkit-search-results-button,.inside-navigation .search-form input::-webkit-search-results-decoration{
    display:none
}
.nav-left-sidebar .main-navigation li.search-item,.nav-right-sidebar .main-navigation li.search-item{
    width:auto;
    display:inline-block
}
.nav-left-sidebar .main-navigation li.search-item.current-menu-item,.nav-right-sidebar .main-navigation li.search-item.current-menu-item,.sidebar .menu-item-has-children .dropdown-menu-toggle,nav ul ul .menu-item-has-children .dropdown-menu-toggle{
    float:right
}
.nav-aligned-center.nav-above-header .main-navigation .menu>li,.nav-aligned-center.nav-below-header .main-navigation .menu>li,.nav-aligned-right.nav-above-header .main-navigation .menu>li,.nav-aligned-right.nav-below-header .main-navigation .menu>li{
    float:none;
    display:inline-block
}
.nav-aligned-center .main-navigation ul,.nav-aligned-right .main-navigation ul{
    letter-spacing:-.31em;
    font-size:1em
}
.nav-aligned-center .main-navigation ul li,.nav-aligned-right .main-navigation ul li{
    letter-spacing:normal
}
.menu-item-has-children .dropdown-menu-toggle{
    display:inline-block;
    height:100%;
    clear:both;
    padding-left:8px
}
.dropdown-menu-toggle:before{
    content:"\f107";
    font-family:wpkoi
}
.dropdown-click .menu-item-has-children.sfHover>a .dropdown-menu-toggle:before{
    content:"\f106"
}
.dropdown-hover .children .dropdown-menu-toggle:before,.dropdown-hover .sub-menu .dropdown-menu-toggle:before{
    content:"\f105"
}
.dropdown-hover .inside-right-sidebar .dropdown-menu-toggle:before,.dropdown-hover.both-right .inside-left-sidebar .dropdown-menu-toggle:before{
    content:"\f104"
}
.dropdown-hover .inside-left-sidebar .dropdown-menu-toggle:before,.dropdown-hover.both-left .inside-right-sidebar .dropdown-menu-toggle:before{
    content:"\f105"
}
.dropdown-click .main-navigation ul ul ul.toggled-on{
    left:0;
    top:auto;
    position:relative
}
.dropdown-click .widget-area .main-navigation ul ul{
    top:auto;
    position:absolute;
    float:none;
    width:100%;
    left:-99999px
}
.dropdown-click .widget-area .main-navigation ul ul.toggled-on{
    position:relative;
    left:0;
    right:0
}
.main-navigation .main-nav ul li.menu-item-has-children>a{
    padding-right:0;
    position:relative
}
.widget-area .main-navigation li{
    float:none;
    display:block;
    width:100%;
    padding:0;
    margin:0
}
.dropdown-hover .widget-area .main-navigation ul li.sfHover>ul,.dropdown-hover .widget-area .main-navigation ul li:hover ul{
    top:0;
    left:100%;
    width:220px
}
.dropdown-hover.both-right .widget-area .main-navigation ul li.sfHover ul,.dropdown-hover.both-right .widget-area .main-navigation ul li:hover ul,.dropdown-hover.both-sidebars .widget-area .inside-right-sidebar .main-navigation ul li.sfHover ul,.dropdown-hover.both-sidebars .widget-area .inside-right-sidebar .main-navigation ul li:hover ul,.dropdown-hover.right-sidebar .widget-area .main-navigation ul li.sfHover ul,.dropdown-hover.right-sidebar .widget-area .main-navigation ul li:hover ul{
    right:100%;
    left:auto
}
.slideout-navigation .dropdown-menu-toggle:before{
    content:"\f107"!important
}
.slideout-navigation .sfHover>a .dropdown-menu-toggle:before{
    content:"\f106"!important
}
.post,.sticky{
    margin:0 0 2em
}
.bypostauthor{
    font-size:inherit
}
.archive .format-aside .entry-header,.archive .format-status .entry-header,.archive .format-status .entry-meta,.archive .format-status .entry-title,.blog .format-aside .entry-header,.blog .format-status .entry-header,.blog .format-status .entry-meta,.blog .format-status .entry-title,.comment-metadata .edit-link:before,.posted-on .updated{
    display:none
}
.byline,.group-blog .byline,.single .byline{
    display:inline
}
.entry-content,.entry-summary,.page-content{
    margin:2em 0 0
}
.page-links{
    clear:both;
    margin:0 0 1.5em
}
.archive .format-aside .entry-content,.archive .format-status .entry-content,.blog .format-aside .entry-content,.blog .format-status .entry-content{
    margin-top:0
}
.archive .format-status .entry-content p:last-child,.blog .format-status .entry-content p:last-child,.comment-content p:last-child{
    margin-bottom:0
}
.comment-content img.wp-smiley,.entry-content img.wp-smiley,.page-content img.wp-smiley{
    border:0;
    margin-bottom:0;
    margin-top:0;
    padding:0
}
.wp-caption{
    max-width:100%;
    position:relative
}
.wp-caption img[class*=wp-image-]{
    display:block;
    margin:0 auto;
    max-width:100%
}
.wp-caption .wp-caption-text{
    font-size:75%;
    padding-top:5px;
    opacity:.8
}
.wp-caption img{
    position:relative;
    vertical-align:bottom
}
.gallery,.wp-caption,ol.comment-list{
    margin-bottom:1.5em
}
.gallery-item{
    display:inline-block;
    vertical-align:top;
    width:100%
}
.gallery-columns-2 .gallery-item{
    max-width:50%
}
.gallery-columns-3 .gallery-item{
    max-width:33.33%
}
.gallery-columns-4 .gallery-item{
    max-width:25%
}
.gallery-columns-5 .gallery-item{
    max-width:20%
}
.gallery-columns-6 .gallery-item{
    max-width:16.66%
}
.gallery-columns-7 .gallery-item{
    max-width:14.28%
}
.gallery-columns-8 .gallery-item{
    max-width:12.5%
}
.gallery-columns-9 .gallery-item{
    max-width:11.11%
}
.site-logo,.widget select,embed,iframe,object{
    max-width:100%
}
.comment-form #author,.comment-form #email,.comment-form #url,.gallery-caption{
    display:block
}
.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{
    margin:0 0 2em;
    overflow:hidden
}
.comment,.comment-list{
    list-style-type:none;
    padding:0;
    margin:0
}
.comment-author-info{
    display:inline-block;
    vertical-align:middle
}
.infinite-scroll .paging-navigation,.infinite-scroll.neverending .site-footer,.widget_search .search-submit{
    display:none
}
.comment-meta .avatar{
    float:left;
    margin-right:10px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%
}
.comment-author cite{
    font-style:normal;
    font-weight:700
}
.entry-meta.comment-metadata{
    margin-top:0
}
.comment-form>.form-submit{
    margin-bottom:0
}
.comment-form input,.comment-form-comment{
    margin-bottom:10px
}
.comment-body{
    padding:30px 0
}
.comment-content{
    margin-top:1.5em;
    padding:30px;
    border:1px solid rgba(0,0,0,.05)
}
.comment .children{
    padding-left:30px;
    margin-top:-30px;
    border-left:1px solid rgba(0,0,0,.05)
}
.depth-1.parent>.children,.pingback .comment-body,.trackback .comment-body{
    border-bottom:1px solid rgba(0,0,0,.05)
}
.pingback .edit-link{
    font-size:13px
}
.comment-list>.comment:first-child{
    padding-top:0;
    margin-top:0;
    border-top:0
}
#wp-comment-cookies-consent{
    margin-right:7px
}
.widget{
    margin:0;
    box-sizing:border-box
}
.widget_categories .children{
    margin-left:1.5em;
    padding-top:5px
}
.widget_categories .children li:last-child{
    padding-bottom:0
}
.infinity-end.neverending .site-footer{
    display:block
}
a,button,input{
    transition:color .1s ease-in-out,background-color .1s ease-in-out
}
h1,h2,h3,h4,h5,h6{
    font-family:inherit;
    font-style:inherit
}
h4,h5,h6{
    font-size:100%;
    font-weight:inherit
}
blockquote{
    border-left:5px solid rgba(0,0,0,.05);
    padding:20px;
    font-size:1.2em;
    font-style:italic;
    margin:0 0 1.5em;
    position:relative
}
.footer-bar .textwidget p:last-child,.top-bar .inside-top-bar .textwidget p:last-child,blockquote p:last-child{
    margin:0
}
table,td,th{
    border:1px solid rgba(0,0,0,.1)
}
table{
    border-collapse:separate;
    border-spacing:0;
    border-width:1px 0 0 1px;
    margin:0 0 1.5em;
    width:100%
}
td,th{
    padding:8px;
    border-width:0 1px 1px 0
}
fieldset{
    border:0;
    min-width:inherit
}
fieldset,fieldset legend{
    padding:0
}
.site-main .gallery,fieldset legend,p{
    margin-bottom:1.5em
}
.gallery-item img{
    vertical-align:bottom
}
.gallery-icon{
    padding:5px
}
.one-container .comments-area{
    margin-top:1.5em
}
h1,h2,h3{
    font-weight:600
}
h1{
    font-size:80px
}
h2{
    font-size:32px
}
h3{
    font-size:25px
}
h1,h2,h3{
    line-height:1.2em;
    margin:0 0 35px
}
h4,h5,h6{
    margin:0 0 20px
}
.one-container.both-left .inside-left-sidebar,.one-container.both-right .inside-left-sidebar{
    margin-right:15px
}
.one-container.both-left .inside-right-sidebar,.one-container.both-right .inside-right-sidebar{
    margin-left:15px
}
.entry-content>:last-child,.entry-summary>:last-child,.footer-widgets .widget:last-child,.one-container .site-main>:last-child,.page-content>:last-child,.separate-containers .site-main>:last-child,.sidebar .widget:last-child{
    margin-bottom:0
}
.inside-footer-widgets:not(.grid-container):after,.inside-footer-widgets:not(.grid-container):before,.inside-header:not(.grid-container):after,.inside-header:not(.grid-container):before,.inside-navigation:not(.grid-container):after,.inside-navigation:not(.grid-container):before{
    content:".";
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
    clear:both
}
.inside-header{
    padding:0 20px
}
.one-container .site-main{
    margin:0
}
.one-container .inside-left-sidebar,.one-container .inside-right-sidebar{
    margin-top:0
}
.one-container .inside-article{
    padding:0 0 30px
}
.one-container.page .inside-article,.widget ul li.menu-item-has-children,.widget ul li.page_item_has_children{
    padding-bottom:0
}
.widget-title{
    margin-bottom:20px;
    line-height:1.5
}
.widget ol,.widget ul{
    margin:0
}
div:not(.entry-content) .widget ul li{
    list-style-type:none;
    position:relative;
    padding-bottom:5px
}
div:not(.entry-content) .widget ul li ul li:before{
    opacity:.7
}
.widget .search-field{
    width:100%
}
.separate-containers .widget:last-child,.widget:last-child{
    margin-bottom:0
}
.widget_nav_menu ul ul,.widget_pages ul ul{
    margin-left:1em;
    margin-top:5px
}
.header-widget .widget-title{
    margin-bottom:15px
}
#wp-calendar{
    table-layout:fixed;
    font-size:80%
}
#wp-calendar #prev,#wp-calendar #prev+.pad{
    border-right:0
}
.sidebar .grid-container{
    max-width:100%;
    width:100%
}
.inside-footer-widgets .inner-padding{
    padding:0 40px
}
.footer-bar-active .footer-bar .widget{
    padding:0
}
.footer-bar .widget_nav_menu>div>ul{
    display:inline-block;
    vertical-align:top
}
.footer-bar-align-right .copyright-bar{
    float:left
}
.footer-bar-align-left .copyright-bar,.footer-bar-align-right .footer-bar{
    float:right;
    text-align:right
}
.footer-bar-align-left .footer-bar{
    float:left;
    text-align:left
}
.footer-bar-align-center .copyright-bar{
    float:none;
    text-align:center
}
.footer-bar-align-center .footer-bar{
    float:none;
    text-align:center;
    margin-bottom:10px
}
.footer-bar .widget-title,.footer-bar .widget_nav_menu li ul{
    display:none
}
.footer-bar .widget_nav_menu li,.top-bar .widget_nav_menu li{
    margin:0 10px;
    float:left;
    padding:0
}
.footer-bar .widget_nav_menu li:first-child{
    margin-left:0
}
.footer-bar .widget_nav_menu li:last-child{
    margin-right:0
}
.entry-title{
    margin-bottom:0
}
.entry-header h3,.entry-header h4{
    margin:10px 0
}
.page-header{
    margin-bottom:30px
}
.page-header .author-info>:last-child,.page-header>:last-child,.read-more-container,.site-main .post-navigation,.taxonomy-description p:last-child{
    margin-bottom:0
}
.page-header .avatar{
    float:left;
    margin-right:1.5em
}
.page-header .author-info{
    overflow:hidden
}
.entry-meta{
    font-size:85%;
    margin-top:.5em;
    line-height:1.5
}
footer.entry-meta{
    margin-top:2em
}
.cat-links:before,.comments-link:before,.nav-next .next:before,.nav-previous .prev:before,.tags-links:before,footer.entry-meta .author:before,footer.entry-meta .posted-on:before{
    font-family:wpkoi;
    text-decoration:inherit;
    position:relative;
    margin-right:.6em;
    width:13px;
    text-align:center;
    display:inline-block
}
footer.entry-meta .author:before{
    content:"\f007"
}
footer.entry-meta .posted-on:before{
    content:"\f073"
}
.cat-links:before{
    content:"\f07b"
}
.tags-links:before{
    content:"\f02c"
}
.comments-link:before{
    content:"\f086"
}
.nav-previous .prev:before{
    content:"\f104"
}
.nav-next .next:before{
    content:"\f105"
}
.cat-links,.comments-link,.tags-links,footer.entry-meta .byline,footer.entry-meta .posted-on{
    display:block
}
.paging-navigation:after,.paging-navigation:before{
    content:".";
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0
}
.paging-navigation:after{
    clear:both
}
.paging-navigation .nav-next,.paging-navigation .nav-previous{
    display:none
}
.site-main .paging-navigation .navigation{
    margin:0
}
.comment-respond{
    margin-top:0
}
.main-title{
    margin:0;
    line-height:1.2em
}
.site-logo{
    display:inline-block
}
.site-description{
    margin:0;
    line-height:1.5
}
.header-widget{
    float:right;
    overflow:hidden;
    max-width:50%
}
.header-widget .widget{
    padding:0 0 20px;
    margin-bottom:0
}
.header-widget .widget:last-child,.nav-float-right .header-widget .widget:last-child{
    padding-bottom:0
}
.nav-float-right .header-widget .widget{
    padding:0 0 10px
}
.contained-content.one-container .site-content,.contained-content.separate-containers .inside-article,.full-width-content.one-container .site-content,.full-width-content.separate-containers .inside-article,.so-panel.widget{
    padding:0
}
.nav-float-right .header-widget{
    position:relative;
    top:-10px
}
.post-image{
    margin:2em 0 0
}
.page-header-image,.page-header-image-single{
    line-height:0
}
.separate-containers .page-header-content{
    margin-top:30px
}
.one-container .inside-article>[class*=page-header-],.separate-containers .inside-article>[class*=page-header-]{
    margin-bottom:2em;
    margin-top:0
}
.inside-article .page-header-image-single.page-header-below-title{
    margin-top:2em
}
.page-header-content-container:after,.page-header-content-container:before{
    content:"";
    display:table
}
.page-header-content-container:after{
    clear:both
}
.full-width-content .container.grid-container{
    max-width:100%
}
.full-width-content.no-sidebar.separate-containers .site-main{
    margin:0
}
.top-bar .inside-top-bar .widget{
    padding:0;
    display:inline-block;
    margin:0
}
.top-bar-align-center .inside-top-bar .widget:not(:first-child),.top-bar-align-right .inside-top-bar>.widget:nth-child(odd){
    margin-left:10px
}
.top-bar-align-center{
    text-align:center
}
.top-bar-align-right{
    text-align:right
}
.top-bar-align-right .inside-top-bar>.widget:nth-child(even){
    float:left;
    margin-right:10px
}
.top-bar-align-left .inside-top-bar>.widget:nth-child(even){
    margin-left:10px;
    float:right
}
.top-bar-align-left .inside-top-bar>.widget:nth-child(odd){
    float:left;
    margin-right:10px
}
.top-bar-align-center .inside-top-bar .widget:first-child:last-child{
    display:block
}
.inside-top-bar:not(.grid-container):after,.inside-top-bar:not(.grid-container):before{
    content:".";
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
    clear:both
}
.top-bar .widget-title,.top-bar .widget_nav_menu li ul{
    display:none
}
.top-bar .widget_nav_menu li:first-child{
    margin-left:0
}
.top-bar .widget_nav_menu li:last-child{
    margin-right:0
}
.top-bar .widget_nav_menu>div>ul{
    display:inline-block;
    vertical-align:top
}
#mc_embed_signup .clear{
    display:block;
    height:auto;
    visibility:visible;
    width:auto
}
.inside-navigation .search-form .search-submit,.sidebar-nav-mobile{
    display:none
}
.container.grid-container{
    width:auto
}
.sf-menu>li.menu-item-float-right{
    float:right!important
}
.ganga-back-to-top:before{
    content:"\f106";
    font-family:wpkoi
}
.ganga-back-to-top,.ganga-back-to-top:visited{
    font-size:20px;
    border-radius:3px;
    position:fixed;
    bottom:45px;
    right:30px;
    line-height:40px;
    width:40px;
    text-align:center;
    z-index:10;
    transition:opacity .3s ease-in-out
}
.ganga-back-to-top .screen-reader-text{
    left:0
}
.menu-toggle,.mobile-bar-items{
    display:none;
    cursor:pointer
}
.inside-top-bar{
    padding:6px 20px 3px
}
.one-container .site-content,.separate-containers .comments-area,.separate-containers .inside-article,.separate-containers .page-header,.separate-containers .paging-navigation{
    padding:25px 15px 20px
}
.inside-page-header{
    padding:50px 5% 20px
}
.one-container.both-right .site-main,.one-container.right-sidebar .site-main{
    margin-right:40px
}
.one-container.both-left .site-main,.one-container.left-sidebar .site-main{
    margin-left:40px
}
.one-container.both-sidebars .site-main{
    margin:0 40px
}
.separate-containers .page-header,.separate-containers .site-main>*,.separate-containers .widget,.widget-area .main-navigation{
    margin-bottom:20px
}
.right-sidebar.separate-containers .site-main{
    margin:20px 20px 20px 0
}
.left-sidebar.separate-containers .site-main{
    margin:20px 0 20px 20px
}
.both-sidebars.separate-containers .site-main{
    margin:20px
}
.both-right.separate-containers .site-main{
    margin:20px 20px 20px 0
}
.both-right.separate-containers .inside-left-sidebar{
    margin-right:10px
}
.both-right.separate-containers .inside-right-sidebar{
    margin-left:10px
}
.both-left.separate-containers .site-main{
    margin:20px 0 20px 20px
}
.separate-containers .inside-left-sidebar,.separate-containers .inside-right-sidebar,.separate-containers .site-main{
    margin-top:20px;
    margin-bottom:20px
}
.both-left.separate-containers .inside-left-sidebar{
    margin-right:10px
}
.both-left.separate-containers .inside-right-sidebar{
    margin-left:10px
}
.separate-containers .page-header-contained,.separate-containers .page-header-content-single,.separate-containers .page-header-image,.separate-containers .page-header-image-single{
    margin-top:20px
}
.main-navigation .main-nav ul li a,.main-navigation .mobile-bar-items a,.menu-toggle{
    padding-left:9px;
    padding-right:9px;
    line-height:70px
}
.main-navigation .main-nav ul ul li a{
    padding:10px 20px;
    font-size:20px
}
.inside-navigation .search-form,.inside-navigation .search-form input{
    height:100%
}
.menu-item-has-children .dropdown-menu-toggle{
    padding-right:9px
}
.menu-item-has-children ul .dropdown-menu-toggle{
    padding-top:10px;
    padding-bottom:10px;
    margin-top:-10px
}
.footer-widgets{
    padding:50px 30px
}
.widget-area .widget{
    padding:20px
}
.site-footer .footer-widgets-container .inner-padding{
    padding:0 0 0 40px
}
.site-footer .footer-widgets-container .inside-footer-widgets{
    margin-left:-40px
}
body,button,input,select,textarea{
    font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight:normal;
    text-transform:none;
    font-size:22px
}
body{
    line-height:1.3
}
.top-bar{
    font-weight:normal;
    font-size:14px;
    position: relative;
    z-index: 3;
}
.main-title{
    font-weight:900;
    font-size:55px;
    text-transform:uppercase
}
.menu-toggle{
    font-weight:400;
    text-transform:none;
    font-size:20px
}
.widget-title{
    font-weight: normal;
    text-transform:none;
    font-size:30px
}
.site-description{
    font-weight:400;
    text-transform:none;
    font-size:19px
}
.footer-widgets .widget,.sidebar .widget{
    font-size:20px
}
button:not(.menu-toggle), html input[type="button"], input[type="reset"], input[type="submit"], .button, .button:visited{
    font-size:19px;
    font-weight:600;
}
.site-info{
    padding:10px 30px;
    font-size:20px;
    font-weight:normal;
}
@font-face{
    font-family:wpkoi;
    src:url(fonts/wpkoi.eot);
    src:url(fonts/wpkoi.eot#iefix) format('embedded-opentype'),url(fonts/wpkoi.woff2) format('woff2'),url(fonts/wpkoi.woff) format('woff'),url(fonts/wpkoi.ttf) format('truetype'),url(fonts/wpkoi.svg#wpkoi) format('svg');
    font-weight:400;
    font-style:normal
}
.cat-links:before,.comments-link:before,.dropdown-menu-toggle:before,.ganga-back-to-top:before,.menu-toggle:before,.nav-next .next:before,.nav-previous .prev:before,.tags-links:before,footer.entry-meta .author:before,footer.entry-meta .posted-on:before,li.search-item a:before,span.search-item a:before{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1;
    speak:none
}
.main-navigation .slideout-toggle a:before,.slide-opened .slideout-overlay .slideout-exit:before{
    font-family:wpkoi
}
.main-navigation a{
    font-weight:600;
    text-transform:uppercase;
    font-size:18px
}
.header-aligned-center .header-content-h{
    position:relative
}
.header-aligned-center .header-widget{
    position:absolute;
    right:0;
    bottom:0
}
.button,.elementor-button,h1,h2{
    position:relative
}
.wpkoi-cf7-row{
    text-align:left;
    width:100%
}
.wpkoi-cf7-row input{
    width:100%
}
.wpkoi-cf7-col1{
    width:47.5%;
    margin-right:2%;
    display:inline-block
}
.wpkoi-cf7-col2{
    width:48%;
    float:right;
    display:inline-block
}
.products h2:after,.products h2:before,.single .entry-title:after,.single .entry-title:before,.wc-tab h2:after,.wc-tab, .button,.elementor-button{
    overflow: hidden;
}
.woocommerce-message .button:before{
    display:none
}
.page-header-blog{
    position: relative;
    overflow: hidden;
    margin-top: 0!important;
    margin-bottom: 40px;
}
.page-header-blog-inner {
    max-width: 1170px;
    margin: auto;
    position: relative;
}
.page-header-blog img {
    width: 100%;
    display: block;
}
.page-header-blog-content-h{
    position: absolute;
    bottom: 0;
    width: 50%;
    margin-left: 50%;
    padding: 0 0 11%;
    text-align: center;
}
.page-header-blog-content h2{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 85px;
    display: inline-block;
}
.page-header-blog-content h2 strong{
    font-size: 55px;
    font-weight: 600;
    padding: 0 20px;
}
.page-header-blog-content p{
    font-size: 22px;
    line-height: 1.5;
    margin: 0px 10% 30px;
    font-weight: 400;
    display: inline-block;
}
.page-header-blog-content .button{
    padding: 10px 30px;
    line-height: 1;
    font-size: 33px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: -3px 3px 0px 0px;
}
.transparent-header .site-header,.transparent-header.nav-below-header #site-navigation{
    position:absolute;
    width:100%;
    z-index:100
}
.transparent-header.nav-below-header .site-header {
    position: unset;
}
.separate-containers .inside-left-sidebar,.separate-containers .inside-right-sidebar{
    padding-top:15px
}
.ganga-side-left-cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}
.ganga-side-right-cover{
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
}
.ganga-side-left-content {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    margin: 120px 0 0;
    z-index: 10;
}
.ganga-side-left-content .ganga-side-left-text {
    transform: rotate(90deg);
    transform-origin: left bottom 0;
}
.rotate {
    transform: rotate(90deg);
    transform-origin: left bottom 0;
}
.main-navigation .main-nav ul ul li[class*="current-menu-"] > a:after {
    content: none;
}
.nav-float-right .is_stuck.main-navigation {
    width: 100%;
}
.widget_wpkoi_events_widget li{
    margin-bottom: 10px;
}
.widget_wpkoi_events_widget p{
    margin: 0;
    font-style: italic;
}
.wpkoi-posts-widget li {
    margin-bottom: 5px;
}
.wpkoi-posts-widget .post-image-thumb {
    display: inline-block;
    margin-right: 5px;
}
.wpkoi-posts-widget .post-image-thumb img{
    width: 55px;
}
.wpkoi-posts-widget .post-content {
    display: inline-block;
    vertical-align: top;
}
.wpkoi-button-widget a i{
    margin-right: 8px
}
.ganga-socials-list {
    margin: 0;
    list-style: none;
    display: inline-block;
}
.ganga-side-left-content .ganga-socials-list li {
    line-height: 2;
}
.top-bar .ganga-socials-list li {
    display: inline-block;
    padding-left: 8px;
}
.top-bar .ganga-social-bar {
    float: right;
}
.ganga-side-left-content .ganga-side-left-socials ul {
    padding: 20px 6px 20px 4px;
    text-align: center;
}
.ganga-side-left-content .ganga-side-left-text {
    padding: 6px 20px 4px 20px;
    margin-top: -20px;
}
.slideout-widget{
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    line-height: 1.5;
}

.entry-summary a,
.entry-content a,
.comment-content a,
.textwidget a {
	text-decoration: underline;
}