.tpgb-cssfilters {
    transition: all .3s linear
}

.tpgb-view-animation {
    visibility: hidden
}

.tpgb-view-animation-out {
    visibility: visible
}

@keyframes tpgb-pulse {
    0%,to {
        transform: scale(.95);
        opacity: 1
    }

    50% {
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes tpgb-pulse {
    0%,to {
        -webkit-transform: scale(.95);
        opacity: .7
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@keyframes tpgb-floating {
    0%,to {
        transform: translateY(0)
    }

    50% {
        transform: translateY(4%)
    }
}

@-webkit-keyframes tpgb-floating {
    0%,to {
        -webkit-transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(4%)
    }
}

@keyframes tpgb-tossing {
    0%,to {
        transform: rotate(-15deg)
    }

    50% {
        transform: rotate(15deg)
    }
}

@-webkit-keyframes tpgb-tossing {
    0%,to {
        -webkit-transform: rotate(-15deg)
    }

    50% {
        -webkit-transform: rotate(15deg)
    }
}

@keyframes tpgb-continue-rotating {
    0% {
        -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
        transform: rotate(0deg) translate(-10px) rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        transform: rotate(360deg) translate(-10px) rotate(-360deg)
    }
}

@-webkit-keyframes tpgb-continue-rotating {
    0% {
        -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
        transform: rotate(0deg) translate(-10px) rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        transform: rotate(360deg) translate(-10px) rotate(-360deg)
    }
}

@-webkit-keyframes tpgb-rotating {
    0% {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes tpgb-rotating {
    0% {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes tpgb-rotating {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}



.tpgb-floating,.tpgb-pulse,.tpgb-tossing,.tpgb-hover-pulse:hover,.tpgb-hover-floating:hover,.tpgb-hover-tossing:hover {
    animation-name: tpgb-pulse;
    -webkit-animation-name: tpgb-pulse;
    animation-duration: 2.2s;
    -webkit-animation-duration: 2.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

.tpgb-floating,.tpgb-tossing,.tpgb-hover-floating:hover,.tpgb-hover-tossing:hover {
    animation-name: tpgb-floating;
    -webkit-animation-name: tpgb-floating
}

.tpgb-tossing,.tpgb-hover-tossing:hover {
    animation-name: tpgb-tossing;
    -webkit-animation-name: tpgb-tossing
}

.tpgb-rotating,.tpgb-hover-rotating:hover {
    -webkit-animation-name: tpgb-rotating;
    animation-name: tpgb-rotating
}

.tpgb-rotating-continue {
    animation-name: tpgb-continue-rotating;
    -webkit-animation-name: tpgb-continue-rotating
}

.tpgb-rotating,.tpgb-rotating-continue,.tpgb-hover-rotating:hover {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}
.tpgb-drop_waves::after,.tpgb-hover-drop_waves::after{
    content: '';
    background: #ff214f;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	opacity: 0;
	z-index: -1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.tpgb-drop_waves::after,.tpgb-hover-drop_waves:hover::after{
	-webkit-animation-name: continue-drop-waves;
    animation-name: continue-drop-waves;
}
@-webkit-keyframes continue-drop-waves {
    0% {
        opacity: 0.8
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
}

@keyframes continue-drop-waves {
    0% {
        opacity: 0.8
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
}
/* Post Not Found Css */
h3.tpgb-posts-not-found{
    font-size: 14px !important;
    background: #8072fc;
    padding: 10px;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    box-shadow: 0 5px 30px -5px #8072fc;
    color: #fff !important;
    width: 100%;
}
/* Post Not Found Css */
/* Admin Bar Css */
#wp-admin-bar-tpgb_edit_template .ab-item.tpgb-admin-sub-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
}
#wp-admin-bar-tpgb_edit_template .tpgb-admin-item-title {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-transform: capitalize;
}
#wp-admin-bar-tpgb_edit_template .tpgb-admin-item-type {
    background: #6b6b6b;
    font-size: 11px;
    line-height: 11px;
    margin-top: 6px;
    padding: 4px 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: capitalize;
}
#wp-admin-bar-tpgb_edit_template .tpgb-edit-nexter {
    background: #3a3c3e;
    padding-top: 0;
}

/* Theme Compatibility Css */

/* Hello Elementor */
.alignfull .tpgb-before-after .tpgb-before-sepicon > img,.alignfull .tpgb-creative-image img,.alignfull .tpgb-flipbox img.service-img,.alignfull .tpgb-process-steps .tpgb-process-steps-wrapper img.tp-icon-img,.alignfull img.progress-bar-img{
    width: auto;
}
/* Hello Elementor */
/* OceanWP Theme */
.page .entry .tpgb-section.alignfull{
    max-width: initial;
}
.single-post:not(.elementor-page) .single-page-article .entry-content a:not(.wp-block-button__link):not(.wp-block-file__button), .page:not(.elementor-page):not(.woocommerce-page) .single-page-article .entry a:not(.wp-block-button__link):not(.wp-block-file__button),.single-post:not(.elementor-page) .single-page-article .entry-content a:not(.wp-block-button__link):not(.wp-block-file__button):hover, .page:not(.elementor-page):not(.woocommerce-page) .single-page-article .entry a:not(.wp-block-button__link):not(.wp-block-file__button):hover,.single-post:not(.elementor-page) .single-page-article .entry-content a:not(.wp-block-button__link):not(.wp-block-file__button):focus, .page:not(.elementor-page):not(.woocommerce-page) .single-page-article .entry a:not(.wp-block-button__link):not(.wp-block-file__button):focus,.single-post:not(.elementor-page) .single-page-article .entry-content a:not(.wp-block-button__link):not(.wp-block-file__button):focus:not(.wp-block-button__link):not(.wp-block-file__button), .page:not(.elementor-page):not(.woocommerce-page) .single-page-article .entry a:not(.wp-block-button__link):not(.wp-block-file__button):focus:not(.wp-block-button__link):not(.wp-block-file__button){
    text-decoration: none;
}
/* OceanWP Theme */
/* Astra Theme */
.tpgb-section .svg-inline--fa {
    width: initial;
}
.theme-astra .tpgb-product-listing article.product {
   padding: 0;
}
.ast-single-post .entry-content .tpgb-section a {
   text-decoration: none;
}
/* Astra Theme*/

/* Guten Theme */
.theme-guten .tpgb-product-listing article.product {
	outline: none;
}
/* Guten Theme */

/* PopularFX & Go Theme */
.theme-popularfx .tp-breadcrumbs a:focus, .theme-popularfx .tpgb-plus-button a:focus, .theme-popularfx .tpgb-table-content .toc-list-item a:focus , .theme-go .tpgb-table-content .toc-list-item a:focus {
    outline: none;
}
/* PopularFX & go Theme */

/* Neve Theme */
.theme-neve .entry-content a:not([class*=button]), .theme-neve .nv-comment-content a:not([class*=button]),.theme-neve  .nv-template .neve-main a:not([class*=button]), .theme-neve  .widget_text a:not([class*=button]){
    text-decoration: none;
}
.excerpt-wrap .tpgb-toc-wrap li, .nv-content-wrap .tpgb-toc-wrap li,.excerpt-wrap .tpgb-circle-menu li , .nv-content-wrap .tpgb-circle-menu li ,.content-area .tpgb-toc-wrap ul li,.content-area .tpgb-circle-menu ul li{
    margin: 0px;
}
/* Neve Theme */
/* Theme Compatibility Css */