/**
* CSS for both Frontend+Backend.
*/
.tpgb-post-listing {
    position: relative;
    display: block;
    width: 100%;
}
.tpgb-post-listing .post-loop-inner{
    position:relative;
}
.tpgb-post-listing .post-loop-inner .tpgb-post-title a,.tpgb-post-listing .post-loop-inner .post-meta-info a{
    text-decoration: blink;
}
.tpgb-post-listing .dynamic-list-content {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.tpgb-post-img{
	width:100%;
}
.tpgb-dynamic-tran, .tpgb-dynamic-tran p, .tpgb-dynamic-tran a{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
/*-----Post title----*/
.tpgb-post-listing .tpgb-post-title {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
}

.tpgb-post-listing .tpgb-post-title a {
    color: #000;
}
.tpgb-post-listing .dynamic-list-content:hover .tpgb-post-title a {
	color :#6f14f1;
}
.tpgb-post-excerpt{
	position:relative;
}
.tpgb-post-excerpt p,.editor-styles-wrapper .tpgb-post-excerpt p{
    margin: 0;
    margin-top: 5px;
}

/*-----Post title----*/
/*-----Post Meta Info----*/
.post-meta-info {
    position: relative;
    display: block;
}
.post-meta-info > span,.post-meta-info > span > a {
    font-weight: 500;
}

.post-meta-info{
    font-size: 14px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.post-info-style-3 .post-author-date {
    vertical-align: middle;
    display: inline-block;
    margin-left: 7px;
}

.post-info-style-3 .post-author-date > a {
    display: block;
    line-height: 20px;
    text-transform: capitalize;
    text-align:left;
}

.post-info-style-3 .post-author-detail {
    display: flex;
    align-items: center;
}

.post-info-style-3 .post-author-avatar img {
    border-radius: 30px;
    max-width: 42px;
}

.post-info-style-3 .post-author-date > .post-author-name {
    text-transform: uppercase;
    font-weight: 600;
}
.tpgb-post-listing .post-meta-info > span,.tpgb-post-listing .post-meta-info > span > a,.tpgb-post-listing .post-meta-info .post-author-date > a{
    color: #676767;
}
/*-----Post Meta Info----*/
.tpgb-post-featured-img {
    position: relative;
	overflow: hidden;
}
.tpgb-post-featured-img > a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	z-index:1;
}
.tpgb-post-listing .dynamic-list-content:hover .tpgb-post-featured-img.hover-image-style-1 img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.tpgb-post-category {
    display: block;
    position: relative;
}
.tpgb-post-category.cat-style-1 > a{
    margin: 0 8px 8px 0;
}
.tpgb-post-category.cat-style-1 > a {
    border: 1px solid #212121;
    padding: 4px 15px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
    display: inline-block;
    border-radius: 30px;
    color: #212121;
    vertical-align: middle;
}
.tpgb-post-category.cat-style-2 > a {
    position: relative;
	display: inline-block;
	font-size: 15px;
    line-height: 18px;
	color: #212121;
    margin: 0 10px 10px 0;
	vertical-align: middle;
}
.tpgb-post-category.cat-style-2 > a:before {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    transform : scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform-origin: left;
    background: #ff124f;
    -webkit-transition: transform 0.3s cubic-bezier(.52,.01,.16,1);
    transition: transform 0.3s cubic-bezier(.52,.01,.16,1)
}

.tpgb-post-category.cat-style-2 > a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}
/*---Style 1---*/
.dynamic-style-1 .tpgb-content-bottom {
    padding: 25px;
    bottom: 0;
    position: absolute;
    background: rgba(0,0,0,.85);
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}
.dynamic-style-1 .tpgb-post-title a{
	color:#fff;
}
.dynamic-style-1 .tpgb-post-hover-content {
    display: none;
}
.dynamic-style-1 .post-meta-info > span,.dynamic-style-1 .post-meta-info > span > a,.dynamic-style-1 .tpgb-post-excerpt p,.editor-styles-wrapper .dynamic-style-1 .tpgb-post-excerpt p{
	color:#fff;
}
/*---Style 1---*/

/*---Style 2---*/
.dynamic-style-2 .dynamic-list-content {
    box-shadow: 0 8px 20px -13px rgba(0,0,0,.35);
    border-radius: 3px;
}
.dynamic-style-2 .tpgb-content-bottom {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    background: #fff;
}
.dynamic-style-2 .post-meta-info {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    font-size: 13px;
    line-height: 1;
    text-transform: capitalize;
}
.dynamic-style-2 .post-meta-info > span > a, .dynamic-style-2 .post-meta-info .post-author-date > a{
    color: #000000;
}
.dynamic-style-2 .post-meta-info {
    margin-bottom: 0;
}
.dynamic-style-2.layout-style-2 .tpgb-post-category {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    margin-bottom: 0;
}
/*---Style 2---*/
/*---Style 3---*/
.dynamic-style-3.layout-style-1 .post-meta-info,.dynamic-style-4 .post-meta-info {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}
.dynamic-style-3 .tpgb-post-featured-img {
    border-radius: 5px;
}
.dynamic-style-3.content-align-left .post-content-image, .dynamic-style-3.content-align-left-right .grid-item:nth-child(odd) .post-content-image {
    padding: 0;
    padding-right: 15px;
}

.dynamic-style-3 .tpgb-content-bottom{
	padding:0;
}
.dynamic-style-3.content-align-right .post-content-image, .dynamic-style-3.content-align-left-right .grid-item:nth-child(even) .post-content-image{
	-webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.dynamic-style-3.content-align-left-right .grid-item:nth-child(odd) .post-content-image{
-ms-flex-order: 0;
    order: 0;
}
.dynamic-style-3 .tpgb-adv-button {
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
}

/*---Style 3---*/
/*---Style 4---*/
.dynamic-style-4 .tpgb-post-featured-img {
    min-height: 350px;
    border-radius: 5px;
}
.dynamic-style-4 .tpgb-post-featured-img a {
    width: 100%;
    height: 100%;
    position: absolute;
}
.dynamic-style-4 .tpgb-post-img.tpgb-dynamic-tran {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.dynamic-style-4 .dynamic-list-content .hover-image-style-1 .tpgb-post-img {
	transform: scale(1.13) translateZ(0);
}
.dynamic-style-4 .dynamic-list-content:hover .hover-image-style-1 .tpgb-post-img {
    transform: scale(1) translateZ(0);
}
.dynamic-style-4 .tpgb-content-bottom {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.dynamic-style-4 .post-meta-info {
    margin-bottom: 0;
}
/*---Style 4---*/
.tpgb-no-posts-found{
    font-size: 14px;
    background: #8072fc;
    padding: 10px;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    box-shadow: 0 5px 30px -5px #8072fc;
    color: #fff;
}
@media (max-width:767px) {
	.tpgb-post-listing .tpgb-row {
		margin-left:0;
		margin-right:0;
	}
}
@media (max-width:575px) {
    .dynamic-style-3.content-align-right .post-content-image, .dynamic-style-3.content-align-left-right .grid-item:nth-child(even) .post-content-image,    .dynamic-style-3.content-align-right .post-content-image, .dynamic-style-3.content-align-left-right .grid-item:nth-child(odd) .post-content-image{
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        padding: 0;
    }
    .dynamic-style-3 .tpgb-content-bottom {
        margin-top: 15px
    }
    .dynamic-style-3.content-align-right .post-content-image, .dynamic-style-3.content-align-left-right .grid-item:nth-child(even) .tpgb-content-bottom,    .dynamic-style-3.content-align-right .tpgb-content-bottom, .dynamic-style-3.content-align-left-right .grid-item:nth-child(odd) .tpgb-content-bottom{
        padding: 0 15px!important
    }
}