/*block editor style*/
.edit-post-visual-editor ul.splide__pagination {
    margin: 0;
    padding: 0;
}

/*block editor style*/

/* Splide Silder Css */

/*arrows style-1*/
.outer-slider-arrow .splide__arrow.splide__arrow--prev  {
    left: -65px;
}
.outer-slider-arrow .splide__arrow.splide__arrow--next {
    right: -65px;
}
.splide__arrow,.splide__arrow:hover,.splide__arrow:focus{
    background: none;
    border-radius: 0px;
}
.splide.splide--draggable .splide__track{
    cursor: grab;
}
.splide--ttb > .splide__arrows .splide__arrow--prev.style-3,.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev.style-3,.splide--ttb > .splide__arrows .splide__arrow--prev.style-4,.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev.style-4{
    transform: rotate(0deg);
}
.splide--ttb > .splide__arrows .splide__arrow--next.style-3, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next.style-3,.splide--ttb > .splide__arrows .splide__arrow--next.style-4, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next.style-4{
    transform: rotate(360deg);
}
.tpgb-post-listing .splide__slide, .tpgb-product-listing .splide__slide, .tpgb-team-member-list .splide__slide, .tpgb-testimonials .splide__slide{
	padding-left:15px;
	padding-right:15px;
}

/* .splide__arrows{
    display: none;
} */
.splide__arrow.style-1{
	padding: 30px 30px;
    background: #fff ;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 11;
}
.splide__arrow--prev.style-1:before{
    content: '←';
}
.splide__arrow--next.style-1:before{
    content: '→';
}
.splide__arrow.style-1:before{
	position: absolute;
    top: 0;
    left: 0;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    font-size: 28px;
    line-height: 57px;
    font-family: initial;
    color: #8072fc;
    opacity: 1 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 111;
    text-shadow: 0px 0px transparent !important;
}
.splide__arrow.style-1:hover:before{
    color: #fff;
}
.splide__arrow.style-1:hover{
    background: #8072fc;
}
/*arrows style-1*/

/*arrows style-2*/
.splide__arrow.style-2 {
	margin: 0 10px;
    width: 50px;
    height: 50px;
    background: none;
}
.splide__arrow.style-2 .icon-wrap:before,.splide__arrow.style-2 .icon-wrap:after{
    content: '';
    position: absolute;
    left: 40%;
    width: 3px;
    height: 50%;
    background: #8072fc;
    -webkit-transition: -webkit-transform 0.3s, background 0.3s;
	-moz-transition: -webkit-transform 0.3s, background 0.3s;
	-o-transition: -webkit-transform 0.3s, background 0.3s;
	-ms-transition: -webkit-transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.splide__arrow--prev.style-2 .icon-wrap:before, .splide__arrow--prev.style-2 .icon-wrap:after{
    left: 25%;
}
.splide__arrow.style-2 .icon-wrap{
    position: absolute;
    display: block;
    margin: 0% 0 0 10%;
    width: 80%;
    height: 80%;
}
.splide__arrow.style-2 .icon-wrap::before{
    -webkit-transform: translateX(-50%) rotate(30deg);
	-ms-transform:  translateX(-50%) rotate(30deg);
	-moz-transform:  translateX(-50%) rotate(30deg);
	-o-transform: translateX(-50%) rotate(30deg);
    transform: translateX(-50%) rotate(30deg);
    -webkit-transform-origin: 0 100%;
	-moz-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    -o-transform-origin:0 100%;
    transform-origin: 0 100%;
}
.splide__arrow.style-2:hover .icon-wrap::before{
    -webkit-transform: translateX(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) rotate(45deg); 
	-moz-transform: translateX(-50%) rotate(45deg); 
	-o-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
.splide__arrow.style-2 .icon-wrap::after{
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-30deg);
	-ms-transform: translateX(-50%) rotate(-30deg); 
	-moz-transform: translateX(-50%) rotate(-30deg); 
	-o-transform: translateX(-50%) rotate(-30deg);
    transform: translateX(-50%) rotate(-30deg);
    -webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
.splide__arrow.style-2:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) rotate(-45deg);
	-moz-transform: translateX(-50%) rotate(-45deg); 
	-o-transform:  translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
}
.splide__arrow.style-2:before {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
    content: '';
	opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -webkit-transform 0.3s, opacity 0.3s;
	-o-transition: -webkit-transform 0.3s, opacity 0.3s;
	-ms-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
    transform: scale(0.9);
	text-shadow: 0px 0px transparent !important;
}
.splide__arrow.style-2:hover::before {
    opacity: 1;
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
    transform: scale(1);
}
.splide__arrow.style-2:hover .icon-wrap::before,.splide__arrow.style-2:hover .icon-wrap::after{
	background: #ff5a6e;
}
.splide__arrow--next.style-2 .icon-wrap {
    -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/*arrows style-2*/

.splide__arrow.style-3,.splide__arrow.style-4 , .splide--ttb > .splide__arrows .splide__arrow.style-3,.splide--ttb > .splide__arrows .splide__arrow.style-4 {
    width: 30px;
    height: 30px;
	position: absolute;
}

.splide__arrow.style-3.top-right,.splide__arrow.style-4.top-right,.splide--ttb > .splide__arrows .splide__arrow.style-3.top-right,.splide--ttb > .splide__arrows .splide__arrow.style-4.top-right{
    top: -15px;
    right: 15px;
    left: auto;
	z-index:11;
}
.splide__arrow--prev.style-3.top-right ,.splide__arrow--prev.style-4.top-right,.splide--ttb > .splide__arrows .splide__arrow--prev.style-3.top-right,.splide--ttb > .splide__arrows .splide__arrow--prev.style-4.top-right{
    right: 50px;
}
.splide__arrow.style-3.bottom-left,.splide__arrow.style-4.bottom-left,.splide--ttb > .splide__arrows .splide__arrow.style-3.bottom-left,.splide--ttb > .splide__arrows .splide__arrow.style-4.bottom-left{
    bottom: -30px;
    left: 15px;
    top: auto;
	z-index:11;
}
.splide__arrow--next.style-3.bottom-left,.splide__arrow--next.style-4.bottom-left,.splide--ttb > .splide__arrows .splide__arrow--next.style-3.bottom-left,.splide--ttb > .splide__arrows .splide__arrow--next.style-4.bottom-left{
    left: 50px;
}
.splide__arrow.style-3.bottom-center,.splide__arrow.style-4.bottom-center,.splide--ttb > .splide__arrows .splide__arrow.style-3.bottom-center,.splide--ttb > .splide__arrows .splide__arrow.style-4.bottom-center{
    left: 50%;
    right: 17px;
    bottom: -45px;
    top: auto;
}
.splide__arrow--prev.style-3.bottom-center,.splide__arrow--prev.style-4.bottom-center,.splide__arrow--prev.style-4.bottom-center,.splide--ttb > .splide__arrows .splide__arrow--prev.style-3.bottom-center,.splide--ttb > .splide__arrows .splide__arrow--prev.style-4.bottom-center{
    margin-left: -20px;
    transform: translateY(-50%) translateX(-50%);
}
.splide__arrow--next.style-3.bottom-center,.splide__arrow--next.style-4.bottom-center,.splide--ttb > .splide__arrows .splide__arrow--next.style-3.bottom-center,.splide--ttb > .splide__arrows .splide__arrow--next.style-4.bottom-center{
    margin-left: 20px;
    transform: translateY(-50%) translateX(-50%);
}
.splide__arrow.style-3.bottom-right,.splide__arrow.style-4.bottom-right,.splide--ttb > .splide__arrows .splide__arrow.style-3.bottom-right,.splide--ttb > .splide__arrows .splide__arrow.style-4.bottom-right{
    bottom: -30px;
    right: 15px;
    top: auto;
    left: auto;
}
.splide__arrow--prev.style-3.bottom-right,.splide__arrow--prev.style-4.bottom-right,.splide--ttb > .splide__arrows .splide__arrow--prev.style-3.bottom-right,.splide--ttb > .splide__arrows .splide__arrow--prev.style-4.bottom-right{
    right: 50px;
}
.splide__arrow.style-3:hover:before{
    color: #fff;
    opacity: .7;
}

.splide__arrow.style-3 .icon-wrap {
	font-family: 'Font Awesome 5 Free';
	font-weight:600;
	font-size:22px;
    color: #fff;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 30px;   
    transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition:.5s ease;
	-ms-transition:.5s ease;
    text-align: center;
	display: inline-block;
    background: #8072fc;
	-moz-border-radius: 58%;
	-webkit-border-radius:  58%;
    border-radius: 58%;
	text-shadow: 0px 0px transparent !important;
}

.splide__arrow--next.style-3:before,.splide__arrow--prev .style-3:before,.splide__arrow--next.style-4:before,.splide__arrow--prev .style-4:before {
    content: "";
}

.splide__arrow.style-4 .icon-wrap {
    width: 100%;
    height: 100%;
    line-height: 30px; 
    font-family: 'Font Awesome 5 Free';
	font-weight:600;
    font-size:22px;
    display: inline-block;
	border: 1px solid #8072fc;
    background: transparent;
    color: #8072fc;
	-moz-border-radius: 2px;
	-webkit-border-radius:  2px;
    border-radius: 2px;
    text-shadow: 0px 0px transparent !important;
}
.splide__arrow.style-4:hover .icon-wrap {
    color: #ff5a6e;
    border: 1px solid #ff5a6e;
    opacity: .7;
}
.splide__arrow.style-3 .icon-wrap, .splide__arrow.style-4 .icon-wrap, .splide__arrow.style-6 .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splide__arrow.style-3 .icon-wrap svg, .splide__arrow.style-4 .icon-wrap svg {
    width: 9px;
}
.splide__arrow--prev svg{
    transform: none;
}
.splide__arrows.style-3,.splide__arrows.style-4{
    margin-bottom: 8px;
}

/*arrows style-5*/
.splide__arrows.style-5{
	margin: 0 10px;
    width: 50px;
    height: 50px;
	z-index: 1;
}
.splide__arrows.style-5 .icon-wrap:before, .splide__arrows.style-5 .icon-wrap:after {
    content: '';
    position: absolute;
    left: 25%;
    width: 2px;
    height: 50%;
    background: #8072fc;
    -webkit-transition: -webkit-transform 0.3s, background 0.3s;
	-moz-transition: -moz-transform 0.3s, background 0.3s;
	-o-transition: -o-transform 0.3s, background 0.3s;
	-ms-transition: -ms-transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s;
	
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	
}
.splide__arrows.style-5 .icon-wrap{
    position: relative;
    display: block;
    margin: 0% 0 0 10%;
    width: 80%;
    height: 80%;
}
.splide__arrow--prev.style-5 .icon-wrap {
	-webkit-transition: .3s linear;
	-ms-transition:  .3s linear;
	-moz-transition:  .3s linear;
	-o-transition:  .3s linear;
	transition: .3s linear;
}
.splide__arrow--next.style-5:hover .icon-wrap, .splide__arrow--next.style-5:focus .icon-wrap {
    -webkit-transform: rotate(180deg) scale(1.1) translateX(-5px);
	-ms-transform: rotate(180deg) scale(1.1) translateX(-5px);
	-moz-transform: rotate(180deg) scale(1.1) translateX(-5px);
	-o-transform: rotate(180deg) scale(1.1) translateX(-5px);
    transform: rotate(180deg) scale(1.1) translateX(-5px);
}
.splide__arrow--prev.style-5:hover .icon-wrap, .splide__arrow--prev.style-5:focus .icon-wrap {
    -webkit-transform: scale(1.1) translateX(-5px);
	-ms-transform: scale(1.1) translateX(-5px);
	-moz-transform: scale(1.1) translateX(-5px);
	-o-transform: scale(1.1) translateX(-5px);
    transform: scale(1.1) translateX(-5px);
}
.splide__arrows.style-5 .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(30deg);	
	-ms-transform: translateX(-50%) rotate(30deg);
	-moz-transform: translateX(-50%) rotate(30deg);
	-o-transform: translateX(-50%) rotate(30deg);
    transform: translateX(-50%) rotate(30deg);
    -webkit-transform-origin: 0 100%;
	-moz-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    -o-transform-origin:0 100%;
    transform-origin: 0 100%;
}

.splide__arrows.style-5 .icon-wrap::after {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-30deg);
	-ms-transform: translateX(-50%) rotate(-30deg);
	-moz-transform: translateX(-50%) rotate(-30deg);
	-o-transform: translateX(-50%) rotate(-30deg);
    transform: translateX(-50%) rotate(-30deg);
    -webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.splide__arrows.style-5:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
	opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition:-ms-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
    transform: scale(0.9);
	text-shadow: 0px 0px transparent !important;
}
.splide__arrows.style-5:hover::before {
    opacity: 1;
    -webkit-transform: scale(1);
	-ms-transform:  scale(1);
	-moz-transform:  scale(1);
	-o-transform:  scale(1);
    transform: scale(1);
}
.splide__arrows.style-5:hover .icon-wrap::before, .splide__arrows.style-5:hover .icon-wrap::after {
	background: #ff5a6e;
}
.splide__arrow--next.style-5 .icon-wrap {
    -webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
    transform: rotate(180deg);
	 -webkit-transition: .5s linear;
	-ms-transition:  .5s linear;
	-moz-transition:  .5s linear;
	-o-transition:  .5s linear;
	transition: .5s linear;
}
/*arrows style-5*/
/*arrows style-6*/
.splide__arrow.style-6:before {
    content: '→';
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: -webkit-transform .37s cubic-bezier(.77,0,.18,1);
	-ms-transition:  -ms-transform .37s cubic-bezier(.77,0,.18,1);
	-moz-transition:  -moz-transform .37s cubic-bezier(.77,0,.18,1);
	-o-transition:  -o-transform .37s cubic-bezier(.77,0,.18,1);
    transition: transform .37s cubic-bezier(.77,0,.18,1);
    background: #8072fc;
	text-shadow: 0px 0px transparent !important;
}
.splide__arrow.splide__arrow--prev.style-6:before {
    -webkit-transform: translate3d(3.625rem,0,0);
	-ms-transform: translate3d(3.625rem,0,0);
	-moz-transform: translate3d(3.625rem,0,0);
	-o-transform: translate3d(3.625rem,0,0);
    transform: translate3d(3.625rem,0,0);
}
.splide__arrow.style-6 {
    width: 50px;
    height: 50px;
	overflow: hidden;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-size: 16px;
	z-index:1;
}
.splide__arrow.style-6.splide__arrow--next:before {
    -webkit-transform: translate3d(3.625rem,0,0);
	-ms-transform: translate3d(3.625rem,0,0);
	-moz-transform: translate3d(3.625rem,0,0);
	-o-transform: translate3d(3.625rem,0,0);
    transform: translate3d(3.625rem,0,0);
}
.splide__arrow.style-6.splide__arrow--prev:before {
	-ms-transform: translate3d(-3.625rem,0,0);
	-moz-transform: translate3d(-3.625rem,0,0);
	-o-transform: translate3d(-3.625rem,0,0);
    -webkit-transform: translate3d(-3.625rem,0,0);
    transform: translate3d(-3.625rem,0,0);
}
.splide__arrow.style-6:hover:before {
    -webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
    transform: translateZ(0);
}
.splide__arrow.style-6 .icon-wrap {
    z-index: 1;
    position: relative;
}
.splide__arrow.style-6 .icon-wrap svg{
	-webkit-transition: all .37s cubic-bezier(.77,0,.18,1);
	-ms-transition:  all .37s cubic-bezier(.77,0,.18,1);
	-moz-transition:  all .37s cubic-bezier(.77,0,.18,1);
	-o-transition:  all .37s cubic-bezier(.77,0,.18,1);
    transition: all .37s cubic-bezier(.77,0,.18,1);
}

.splide__arrow.style-6 .icon-wrap svg {
    width: 20px;
    color: #8072fc;
}
.splide__arrow.style-6:hover .icon-wrap svg {
    color: #fff;
}

@media (min-width:1200px) and (max-width:1300px){
	.outer-slider-arrow .splide__arrow.splide__arrow--prev{
		left: 15px;
	}
	.outer-slider-arrow .splide__arrow.splide__arrow--next{
		right: 15px;
	}
}
@media (min-width:992px) and (max-width:1080px){
	.outer-slider-arrow .splide__arrow.splide__arrow--prev{
		left: 15px;
	}
	.outer-slider-arrow .splide__arrow.splide__arrow--next{
		right: 15px;
	}
}
@media (min-width:992px) and (max-width:1080px){
	.outer-slider-arrow .splide__arrow.splide__arrow--prev{
		left: 15px;
	}
	.outer-slider-arrow .splide__arrow.splide__arrow--next{
		right: 15px;
	}
}
@media (max-width:865px){
	.outer-slider-arrow .splide__arrow.splide__arrow--prev{
		left: 15px;
	}
	.outer-slider-arrow .splide__arrow.splide__arrow--next{
		right: 15px;
	}
}

.tpgb-carousel ul.splide__pagination{
    padding: 0px;
}

.splide__pagination li button.splide__pagination__page{
    width: 12px;
    height: 12px;
    padding: 0px;
}
.splide__pagination li button.splide__pagination__page:focus{
    outline: none;
}
.splide__pagination li button.splide__pagination__page.is-active{
    transform: scale(1);
}
.dots-style-1 .splide__pagination li, .dots-style-3 .splide__pagination li{
    margin: 0 6px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
}
/*dots style-1*/
.dots-style-1 li button.splide__pagination__page{
    outline: none;
	background: #8072fc;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    border: none;
}

.dots-style-1 li button.splide__pagination__page:hover,.dots-style-1 li button.splide__pagination__page:focus {
	-moz-box-shadow:inset 0 0 0 8px #8072fc;
	-webkit-box-shadow:inset 0 0 0 8px #8072fc;
	box-shadow: inset 0 0 0 8px #8072fc;
}

.dots-style-1 li button.splide__pagination__page.is-active{
	-moz-box-shadow: inset 0 0 0 1px #8072fc;
	-webkit-box-shadow: inset 0 0 0 1px #8072fc;
	box-shadow: inset 0 0 0 1px #8072fc;
    background: #fff;
}
/*dots style-1*/
/*dots style-2*/
.splide--ltr.dots-style-2 .splide__pagination li{
    position: relative;
    margin-left: 8px;
}
.splide--ltr.dots-style-2 .splide__pagination li button{
    border: 1px solid #8072fc;
    outline: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    text-indent: -999em;
    cursor: pointer;
}
.dots-style-2 .splide__pagination li button::after {
	content: '';
	position: absolute;
	top: 0px;
	width: 10px;
	height: 10px;
	visibility: hidden;
	opacity: 0;
	left: 0;
	border: 1px solid #8072fc;
	background: #8072fc;
	-moz-border-radius:50%;
	-webkit-border-radius:50%; 
	border-radius: 50%;
	-webkit-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	transform: translateY(-200%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
	-moz-transition: -moz-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
	-o-transition: -o-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
	-ms-transition: -ms-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}

.dots-style-2 .splide__pagination li button{
	background: #000000;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
	-o-transition: -o-transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
	-ms-transition:-ms-transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
    margin-left: 8px;
}
.dots-style-2 .splide__pagination li:hover button,
.dots-style-2 .splide__pagination li button:focus,
.dots-style-2 .splide__pagination li button.is-active {
	background: #8072fc;
}

.dots-style-2 .splide__pagination li button.is-active {
    visibility: hidden;
	-webkit-transform: translateY(0%);
	-ms-transform:  translateY(0%);
	-moz-transform:  translateY(0%);
	-o-transform:  translateY(0%);
	transform: translateY(0%);
}
.dots-style-2 .splide__pagination li button.is-active::after {
    opacity: 1;
    visibility: visible;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	-moz-transition:   -moz-transform 0.3s ease, opacity 0.3s ease;
	-o-transition:  -o-transform 0.3s ease, opacity 0.3s ease;
	-ms-transition:  -ms-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    -webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
    transform: translateY(0%);
}
.splide--ltr.dots-style-2 .dots-style-2 .splide__pagination {
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
	 cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tpgb-carousel.hover-slider-dots .splide__pagination,.tpgb-carousel.hover-slider-arrow .splide__arrow {
    opacity: 0;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition:  all .3s linear;
	-ms-transition:  all .3s linear;
    transition: all .3s linear;
}
.tpgb-carousel.hover-slider-dots:hover .splide__pagination,.tpgb-carousel.hover-slider-arrow:hover .splide__arrow  {
    opacity: 1;
}
/*dots style-2

/*dots style-3*/
.dots-style-3 .splide__pagination li button{
    outline: none;
    border-radius: 50%;
    text-indent: -999em;
    cursor: pointer;
}
.dots-style-3 .splide__pagination li button{
	background: transparent;
	box-shadow: inset 0 0 0 1px #8072fc;
	-webkit-box-shadow: inset 0 0 0 1px #8072fc;
	-webkit-transition: box-shadow 0.3s ease;
	-moz-transition:  box-shadow 0.3s ease;
	-o-transition: box-shadow 0.3s ease;
	-ms-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
}

.dots-style-3 .splide__pagination li button:hover,
.dots-style-3 .splide__pagination li button:focus {
	-moz-box-shadow:inset 0 0 0 2px rgba(128, 114, 252, 0.6);
	-webkit-box-shadow:inset 0 0 0 2px rgba(128, 114, 252, 0.6);
	box-shadow: inset 0 0 0 2px rgba(128, 114, 252, 0.6);
}

.dots-style-3 .splide__pagination li button.is-active{
	-moz-box-shadow: inset 0 0 0 8px #8072fc;
	-webkit-box-shadow: inset 0 0 0 8px #8072fc;
	box-shadow: inset 0 0 0 8px #8072fc;
}
/*dots style-3*/
/*dots style-4*/
.dots-style-4 .splide__pagination li{
    position: relative;
    display: inline-block;
    /* width: 20px;
    height: 20px; */
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.dots-style-4 .splide__pagination li button{
    font-size: 0;
    line-height: 0;
    display: block;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}
.dots-style-4 .splide__pagination li button.is-active {
	-moz-box-shadow:0 0 0 1px #8072fc;
	-webkit-box-shadow:0 0 0 1px #8072fc;
    box-shadow: 0 0 0 1px #8072fc;
    border: none;
	-moz-border-radius:50%;
	-webkit-border-radius:50%; 
    border-radius: 50%;
    background: transparent;
}
.dots-style-4 .splide__pagination li button {
	-moz-border-radius:50%;
	-webkit-border-radius:50%; 
    border-radius: 50%;
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
	-webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
	-moz-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
    -webkit-transition: box-shadow 0.3s ease;
	-moz-transition: box-shadow 0.3s ease;
	-o-transition: box-shadow 0.3s ease;
	-ms-transition:box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    background: transparent;
}
.dots-style-4 .splide__pagination li button.is-active:before, .dots-style-4 .splide__pagination li button:hover::before {
    opacity: .75;
    color: #8072fc;
    transform: scale(0.4);
	-ms-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-o-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    background: #8072fc;
}
.dots-style-4 .splide__pagination li button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #8072fc;
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
    outline: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #8072fc;
    text-indent: -999em;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background 0.3s ease, -webkit-transform 0.3s ease;
    -moz-transition: background 0.3s ease, -moz-transform 0.3s ease;
    -o-transition: background 0.3s ease, -o-transform 0.3s ease;
    -ms-transition: background 0.3s ease, -ms-transform 0.3s ease;
    transition: background 0.3s ease, transform 0.3s ease;
}
/*dots style-4*/
/*dots style-5*/
.dots-style-5 .splide__pagination li {
    position: relative;
    display: inline-block;
    width: auto;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
	padding-top: 8px;
}
.dots-style-5 .splide__pagination li button {
    width: 20px ;
    height: 4px;
    -webkit-transition: width .3s, background .3s !important;
    -moz-transition: width .3s, background .3s;
	-o-transition: width .3s, background .3s;
	-ms-transition: width .3s, background .3s;
    transition: width .3s, background .3s;
    background: #8072fc ;
	-moz-border-radius:0;
	-webkit-border-radius:0; 
    border-radius: 0;
    padding: 0;
    border: none;
}
.dots-style-5 .splide__pagination li button:before {
    content: '' !important;
    width: 0;
    height: 0;
}
.dots-style-5 .splide__pagination li button.is-active, .dots-style-5 .splide__pagination li:hover button {
    width: 30px !important;
	background: #ff5a6e;
}
/*dots style-5*/
/*dots style-6*/
.dots-style-6 .splide__pagination li{
    margin-right: 5px;
}
.dots-style-6 .splide__pagination li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
	-moz-border-radius: 50%;
	-webkit-border-radius:  50%; 
    border-radius: 50%;
    border: 1px solid #8072fc;
	margin-top: -1px;
	transition: 0.4s ;
	-webkit-transition: 0.4s ;
	-moz-transition:  0.4s ;
	-o-transition:0.4s ;
	-ms-transition:0.4s ;
}
.dots-style-6 .splide__pagination li button.is-active{
	border: 2px solid transparent !important;
}
.dots-style-6 .splide__pagination li button:before {
    content: '' !important;
    width: 0;
    height: 0;
}
.dots-style-6 .splide__pagination li button:after {
    opacity: 0;
	transition: 0.4s ;
	-webkit-transition: 0.4s ;
	-moz-transition: 0.4s ;
	-o-transition:0.4s ;
	-ms-transition:0.4s ;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: 0;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "/";
    font-size: 18px;
    color: #8072fc;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 1px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition:  0.4s ease-in-out;
	-o-transition:0.4s ease-in-out;
	-ms-transition:0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.dots-style-6 .splide__pagination button.is-active:after, .dots-style-6  li:hover button {
	opacity: 1;
}
/*dots style-6*/
/*dots style-7*/
.dots-style-7 .splide__pagination {
    margin-top: 10px;
}
.dots-style-7 .splide__pagination li {
    position: relative;
    display: inline-block;
    width: auto;
    height: 10px;
    margin: 0 6px;
    padding: 0;
    cursor: pointer;
    padding-top: 4px;
}
.dots-style-7 .splide__pagination li button {
    float: right;
    width: 40px ;
    height: 3px;
    -webkit-transition: width .3s, background .3s !important;
    -moz-transition: width .3s, background .3s; 
	-o-transition: width .3s, background .3s;
	-ms-transition: width .3s, background .3s;
    transition: width .3s, background .3s;
    background: #8072fc;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    border: none;
}
.dots-style-7 .splide__pagination li button:before {
    content: '' !important;
    width: 0;
    height: 0;
}
.dots-style-7 .splide__pagination li button.is-active {
    background: #ff5a6e;
}
/*dots style-7*/

/* vertical Dot Css */
.splide--ttb > .splide__pagination li:not(:last-child){
    margin: 0px 0px 10px 0px;
}

/* Splide Silder Css */