#toplevel_page_tpgb_gutenberg_settings ul.wp-submenu .wp-first-item {
    display: none;
}
.wp-menu-image.dashicons-before.dashicons-tpgb-plus-settings {
    background: url(../../images/tpgb-favicon.svg);	
    background-size: 22px;
    background-repeat: no-repeat;	
    background-position: center;
}
.tpgb_gutenberg_options {
    position: relative;
    display: block;
    margin-right: 20px;
}
/*tpgb-setting-header*/
#tpgb-setting-header-wrapper {
    position: relative;
    display: block;
    padding: 0;
    margin: 0px -20px;
    min-height: 115px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#tpgb-setting-header-wrapper .tpgb-head-inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 115px;
    margin: 0;
    background: #6f14f1;
    white-space: nowrap;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    border-radius: 1px;
}
#tpgb-setting-header-wrapper .tpgb-head-inner:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-image: url(../../images/tpgb_pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#tpgb-setting-header-wrapper .tpgb-panel-logo {
    max-width: 180px;
    display: block;
}
.tpgb-panel-head-inner {
    position: relative;
    display: inline-block;
    text-align: center;
}
.tpgb_gutenberg_options * :not(.dashicons) {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.tpgb-nav-tab-wrapper * {
    outline: none !important;
	box-shadow: none !important;
}
.tpgb-head-setting-panel {
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 30px;
    white-space: nowrap;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: .2px;
}
#tpgb-setting-header-wrapper .tpgb-current-version {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    color: #fff;
    padding: 6px 10px;
    background: #ff844a;
    border-radius: 30px;
    right: 0;
    top: -3px;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 500;
}
/*tpgb-setting-header*/
/*tpgb-setting-tab*/
.tpgb-nav-tab-wrapper {
    position: relative;
    margin: 0 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	margin-top: -67px;
}
.tpgb_gutenberg_options .nav-tab-wrapper {
    border-bottom: 0;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    width: 100%;
    padding: 25px 25px 0;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(191, 191, 191, 0.161);
}
.tpgb_gutenberg_options .nav-tab-wrapper > a {
	position: relative;
    background: transparent;
    color: #313131;
    padding: 10px 10px 35px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    border-radius: 0;
    margin: auto;
    border: 0;
    transition: all .3s linear;
}
.tpgb_gutenberg_options .nav-tab-wrapper > a.nav-tab-active, .tpgb_gutenberg_options .nav-tab-wrapper > a:focus:active {
	font-weight: 600;
    box-shadow: none;
    border: 0;
	background:transparent;
    outline: none;
}
.tpgb_gutenberg_options .nav-tab-wrapper .nav-tab-active, .tpgb_gutenberg_options .nav-tab-wrapper .nav-tab-active:focus, .tpgb_gutenberg_options .nav-tab-wrapper .nav-tab-active:focus:active, .tpgb_gutenberg_options .nav-tab-wrapper .nav-tab-active:hover{
	border:0;
}
.tpgb_gutenberg_options .nav-tab-wrapper > a.nav-tab-active:after {
    position: absolute;
    bottom: 0;
    background: #6f14f1;
    height: 2px;
    content: '';
    z-index: 11;
    left: 0;
    right: 0;
}
.nav-tab-wrapper > a svg.tab-nav-icon {
    width: 30px;
    height: 30px;
	fill: #6f14f1;
}
.tpgb_gutenberg_options .nav-tab-wrapper > a > span {
    display: block;
    text-align: center;
}
.tpgb_gutenberg_options .nav-tab-wrapper > a > span:first-child {
    margin-bottom: 10px;
}
/*tpgb-setting-tab*/
/*tpgb welcome page*/
.tpgb-settings-form-wrapper.form-tpgb_welcome_page {
	margin-top: 50px;
}
.tpgb-panel-welcome-page {
    position: relative;
    display: block;
    width: 100%;
}
.tpgb-panel-row {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}
.tpgb-panel-col {
    position: relative;
    min-height: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	padding: 8px;
	flex-wrap: wrap;
}
.tpgb-panel-col-50 {
    width: 50%;
}
.tpgb-panel-col-35 {
    width: 35%;
}
.tpgb-panel-col-65 {
    width: 65%;
}
.tpgb-panel-col-100 {
    width: 100%;
}
a.panel-sec-color {
    color: #ff844a;
    text-decoration: blink;
}
.tpgb-welcome-user-info {
    background: #6f14f1;
    width: 100%;
    color: #fff;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgb(186 186 186 / 0.10);
}
.tpgb-panel-sec {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(186, 186, 186, 0.102);
    border-radius: 4px;
}
.tpgb-p-20{
	padding: 30px;
}
.tpgb-mt-8{
	margin-top: 8px;
}
.tpgb-mt-8.tp-mt-8-remove{
	margin-top: unset;
}
.tpgb-mb-8{
	margin-bottom: 8px;
}
.tpgb-mt-50 {
    margin-top: 50px;
}

.tpgb-sec-border {
	background: #313131;
    width: 55px;
    height: 5px;
    margin: 20px 0;
}
.tpgb-sec-title {
	font-size: 20px;
    line-height: 30px;
    color: #313131;
    white-space: nowrap;
    margin-bottom: 10px;
    font-weight: 500;
    transition: all .3s linear;
}
.tpgb-sec-subtitle, .tpgb-sec-desc {
    color: #888;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}
.tpgb-panel-btn {
	padding: 8px 16px 8px 16px;
    display: inline-block;
    background: #6f14f1;
    color: #fff;
    text-decoration: blink;
    border-radius: 4px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 40px;
}
.tpgb-panel-btn:hover,.tpgb-panel-btn:focus {
	outline:none;
	color:#fff;
	box-shadow:none;
}
.tpgb-user-info {
    position: relative;
    display: flex;
    align-items: center;
}
.tpgb-user-info .tpgb-avatar-img {
    border-radius: 50%;
    max-width: 50px;
    margin-right: 10px;
	box-shadow: 0 5px 10px rgb(119 116 116 / 0.18);
}
.tpgb-user-info .tpgb-welcom-author-name {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.2;
}
.tpgb-text-white{
	color:#fff;
}
.tpgb-bg-white{
	background:#fff;
}
ul.tpgb-panel-list {
    list-style: disc;
    margin-left: 15px;
    font-size: 15px;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}
ul.tpgb-panel-list li:not(:last-child) {
    margin-bottom: 10px;
}
a.tpgb-panel-btn-outline {
    padding: 8px 16px;
    display: inline-block;
    border: 2px solid #fff;
    text-decoration: blink;
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 40px;
    letter-spacing: 0.2px;
}
a.tpgb-panel-btn-outline:hover,a.tpgb-panel-btn-outline:focus {
	color:#fff;
	box-shadow:none;
	outline:none;
}
a.tpgb-panel-btn-outline-2 {
    padding: 7px 15px 7px 15px;
    display: inline-block;
    border: 2px solid #6f14f1;
    color: #6f14f1;
    text-decoration: blink;
    border-radius: 4px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 15px;
}
a.tpgb-panel-btn-outline-2:hover,a.tpgb-panel-btn-outline-2:focus {
	color:#6f14f1;
	box-shadow:none;
	outline:none;
}

small.tpgb-notice-text {
	font-size: 13px;
    display: block;
    line-height: 20px;
    font-weight: 400;
}
/*Changelog List*/
.tpgb-changelog-list {
    position: relative;
    display: block;
	margin-top: 20px;
}

.tpgb-changelog-list .changelog-date {
	color: #313131;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}

.tpgb-changelog-list .changelog-version {
    margin-left: 10px;
    background: #656363;
    color: #fff;
    padding: 2px 10px;
    line-height: 1;
    font-size: 14px;
    border-radius: 3px;
}
.tpgb-changelog-list ul.changelog-list {
    list-style: disc;
    margin-left: 15px;
    color: #888;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.tpgb-changelog-list ul.changelog-list li:not(:last-child) {
    margin-bottom: 12px;
}
.tpgb-changelog-list ul.changelog-list li:last-child {
    margin-bottom: 0;
}
/*Changelog List*/
/*FAQ List*/
.tpgb-faq-section {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.tpgb-faq-section:nth-child(9) {
    margin-bottom: 0;
}
.tpgb-faq-section .faq-title {
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
    color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
	margin-bottom: 10px;
}
.tpgb-faq-section .faq-title .faq-icon-toggle {
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    font-family: serif;
    font-weight: 600;
    text-align: center;
}
.tpgb-faq-section .faq-content {
    color: #888;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    padding-right: 10%;
	display:none;
}
.tpgb-faq-section.faq-active .faq-content {
    display: block;
}
.tpgb-faq-section:not(.faq-active) .faq-icon-toggle svg {
    transform: rotate(180deg);
}
/*FAQ List*/
/*system req*/
.tpgb-welcome-sys-req {
    position: relative;
    z-index: 1;
}
.sys-req-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #888;
    margin-bottom: 15px;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 15px;
}

.sys-req-label span.check-req-right,.sys-req-label span.check-req-wrong {
    background: #2ed47d;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}
.sys-req-label span.check-req-wrong{
	background: #ff844a;
}
.check-req-right svg, .check-req-wrong svg {
    fill: #fff;
}
.check-req-wrong svg {
    max-width: 14px;
}
.sys-req-label.tpgb-bm-0 {
	border-bottom:0;
	padding-bottom: 0;
    margin-bottom: 0;
}
/*system req*/
/*Video Tutorial*/
.tpgb-panel-col-25 {
    width: 25%;
}
.tpgb-panel-relative{
	position:relative;
}
.tpgb-panel-video-list {
    width: 100%;
    position: relative;
    display: flex;
    box-shadow: 0 5px 10px rgb(158 158 158 / 25%);
    border-radius: 4px;
}

.tpgb-panel-video-list img {
    width: 100%;
    border-radius: 4px;
}
.tpgb-more-video {
    position: absolute;
    right: 12px;
    top: -30px;
    text-decoration: blink;
    color: #6f14f1;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.2px;
}
/*Video Tutorial*/
/*Tech Support */
.support-point {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #666;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.support-point.tpgb-mt-8 {
    margin-top: 30px;
}
.support-point.tpgb-mb-8 {
    margin: 0;
}
.support-point span:first-child {
    margin-right: 10px;
}
.support-point span:first-child svg {
    max-width: 16px;
}
/*Tech Support */
/*Social */
a.tpgb-panel-social {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 12px;
}
/*Social */
/*tpgb welcome page*/
/*tpgb Plus Block page*/
.panel-plus-block-filter {
    position: relative;
    display: flex;
    align-items: center;
}
.panel-plus-block-filter .panel-block-check-all {
    padding: 10px 15px;
    background: rgb(46 212 125 / 0.2);
    color: #2ed47d;
    border: 1px solid rgb(46 212 125 / 0.3);
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.3px;
    cursor: pointer;
	display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgb(186 186 186 / 0.16);
}
.panel-block-filters .blocks-filter {
    position: relative;
    padding: 10px 25px 10px 10px;
    background: rgb(111 20 241 / 0.2);
    color: #6f14f1;
    border: 1px solid rgb(111 20 241 / 0.3);
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.3px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgb(186 186 186 / 0.16);
}
.panel-block-filters .blocks-filter:hover{
	color: #6f14f1;
}
.panel-block-filters .blocks-filter:focus,.panel-block-filters .blocks-filter:active{
	border-color: rgb(111 20 241 / 0.3);
    color: #6f14f1;
    box-shadow: 0 3px 6px rgb(186 186 186 / 0.16);
}
.panel-block-head.panel-block-filters {
    margin-left: 15px;
	overflow: hidden;
    position: relative;
    border-radius: 4px;
	font-family: dashicons;
}
.panel-block-head.panel-block-filters:after {
    content: '\f347';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: rgb(111 20 241 / .15);
    color: #6f14f1;
    cursor: pointer;
    pointer-events: none;
    height: 100%;
    display: inline-flex;
    align-items: center;
}
#block_check_all {
    display: none;
}
.panel-block-check-all > span {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #2ed47d;
    margin-right: 6px;
    border-radius: 4px;
}
.panel-block-check-all > span > svg {
    display: none;
}
.panel-block-check-all.active-all > span > svg {
    display: block;
    fill: #fff;
    max-width: 16px;
    margin: 0 auto;
    margin-top: 0;
}
.panel-plus-block-filter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.tpgb-block-filters-check {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tpgb-block-filters-search {
    position: relative;
    display: inline-block;
}
.tpgb-filter-block-search .block-search {
    position: relative;
    padding: 7px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #101111;
    border-radius: 4px;
    border-color: #EFEFEF;
    border-width: 2px;
}
.tpgb-filter-block-search .block-search:focus {
    box-shadow: none;
    outline: none;
    border-color: #EFEFEF;
}
/*Block List*/
.plus-block-list{
	flex-wrap: wrap;
}
.plus-block-list .tpgb-panel-col {
    padding: 0;
    transition: all .2s linear;
}
.plus-block-list .filter-block-no{
	display:none !important;
}
.plus-block-list .plus-block-list-wrap {
	position: relative;
	width:100%;
    border: 1px solid #EDEDED;
    background: #fff;
    padding: 32px 15px;
    border-radius: 4px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	margin: 15px 8px;
	transition: all .3s linear;
}
.plus-block-list .plus-block-list-wrap:hover {
    box-shadow: 0 5px 10px rgb(186 186 186 / 0.10);
}
.plus-block-list-inner {
    font-size: 14px;
    line-height: 1.2;
    color: #313131;
    text-transform: capitalize;
    font-weight: 500;
	display: flex;
    align-items: center;
}
.block-pin-free-pro {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 6px;
    background: #ff844a;
    color: #fff;
    border-radius: 0 4px 0 4px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0px;
	opacity: 0;
    transition: all 0.3s linear;
}
.plus-block-list .plus-block-list-wrap:hover .block-pin-free-pro{
    opacity: 1;
}
.plus-block-list-inner .block-icon {
    margin-right: 10px;
    line-height: 0;
}
.plus-block-list-inner .block-icon svg {
    width: 20px;
}
.plus-block-list-inner .block-group-info {
    margin-left: 6px;
    line-height: 0;
	margin-right: 5px;
}
.plus-block-list-inner .block-group-info .block-hover-info {
	border: 2px solid #e6e6e6;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.block-group-info{
	position:relative;
}
.plus-block-list-inner .block-group-info .block-hover-info svg, .plus-block-list-inner .block-group-info .block-hover-details svg {
    fill: #888;
}
.plus-block-list-inner .block-group-info .block-hover-info:hover svg, .plus-block-list-inner .block-group-info .block-hover-details:hover svg {
    fill: #313131;
}
.block-group-info .block-hover-details {
	position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
	background: #fff;
    border: 2px solid #e6e6e6;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s linear;
}

.block-group-info:hover .block-hover-details {
    opacity: 1;
    visibility: visible;
    top: -30px;
}

.block-group-info {
    cursor: pointer;
}

.block-hover-details.block-info-demo:before {
	content: 'Demo';
	position: absolute;
	font-size: 11px;
	background: #313131;
	display: initial;
	opacity: 0;
	visibility: hidden;
	color: #fff;
	padding: 12px 10px;
	border-radius: 3px;
	left: calc(100% + 7px);
	box-shadow: 0 3px 6px rgb(0 0 0 / 0.10);
	transition: all .3s linear;
}

/*.block-group-info:hover .block-hover-details.block-info-doc {
    opacity: 1;
    visibility: visible;
    top: -60px;
}*/
.block-group-info:hover .block-hover-details.block-info-doc {
    display: none;
}
.block-hover-details.block-info-doc:before {
	content: 'Documentation';
	position: absolute;
	font-size: 11px;
	background: #313131;
	display: initial;
	opacity: 0;
	visibility: hidden;
	color: #fff;
	padding: 12px 10px;
	border-radius: 3px;
	left: calc(100% + 7px);
	box-shadow: 0 3px 6px rgb(0 0 0 / 0.10);
	transition: all .3s linear;
}

.block-group-info:hover .block-hover-details.block-info-video {
    opacity: 1;
    visibility: visible;
    top: -60px;
}
.block-hover-details.block-info-video:before {
	content: 'Video';
	position: absolute;
	font-size: 11px;
	background: #313131;
	display: initial;
	opacity: 0;
	visibility: hidden;
	color: #fff;
	padding: 12px 10px;
	border-radius: 3px;
	left: calc(100% + 7px);
	box-shadow: 0 3px 6px rgb(0 0 0 / 0.10);
	transition: all .3s linear;
}

.block-hover-details.block-info-demo:hover:before, .block-hover-details.block-info-doc:hover:before, .block-hover-details.block-info-video:hover:before {
    opacity: 1;
    visibility: visible;
}

/*check toggle*/
.block-check-wrap {
	position: relative;
    display: inline-table;
    width: 46px;
    height: 26px;
}
.block-check-wrap label {
    display: flex;
    position: relative;
    align-items: initial;
    justify-content: initial;
}
.block-check-wrap .block-list-checkbox {
    display: none;
}
.block-check-wrap label:before {
    content: '';
    position: absolute;
    display: block;
    text-align: center;
    height: 16px;
    margin: 0 auto;
    width: 16px;
    top: 5px;
    left: 5px;
    background-color: #888888;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
}
.block-check-wrap .block-list-checkbox:checked + label:before {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #6f14f1;
}
.block-check-wrap label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 42px;
    border: 2px solid #888888;
    height: 22px;
    transform: translateX(-50%);
    border-radius: 30px;
}
.block-check-wrap .block-list-checkbox:checked + label:after {
    border-color: #6f14f1;
}
/*check toggle*/
.plus-block-list .is-animated {
  animation: .4s block-filter-zoom;
}

@keyframes block-filter-zoom {
  0% {
   transform: scale(.1);
  } 
  100% {
    transform: none;
  }
}
.plus-block-pro .block-pro {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.5;
}

/*Block List*/
/*tpgb Plus Block page*/
/*tpgb- form setting*/
.tpgb-settings-form-wrapper:not(.form-tpgb_welcome_page):not(.form-tpgb_normal_blocks_opts):not(.form-tpgb_connection_data):not(.form-tpgb_custom_css_js):not(.form-tpgb_activate):not(.form-tpgb_white_label):not(.form-tpgb_performance) {
	display: block;
    padding: 30px;
    margin-top: 50px;
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0px 3px 6px rgb(222 222 222 / 0.16);
    box-shadow: 0px 3px 6px rgb(222 222 222 / 0.16);
}
.tpgb-settings-form-wrapper .button-secondary.cmb-multicheck-toggle {
    background: rgb(128, 115, 252);
    border: 1px solid rgb(128, 115, 252);
    color: #fff;
    margin: 0;
    display: inline-flex;
    padding: 8px 20px;
    align-items: center;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
}
.tpgb-settings-form-wrapper  .button-secondary.cmb-multicheck-toggle:hover {
    color: #fff;
    background: #ff844a;
    border-color: #ff844a;
}

.tpgb-settings-form-wrapper .cmb2-checkbox-list.cmb2-list {
    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin-top: 0;
}

.tpgb-settings-form-wrapper .cmb2-checkbox-list.cmb2-list li {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 19.659%;
    margin-top: 0;
}

.tpgb-settings-form-wrapper .cmb2-checkbox-list.cmb2-list label {
    position: relative;
    display: block;
    padding: 45px 0;
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}

.tpgb-settings-form-wrapper .cmb2-checkbox-list.cmb2-list label:before {
    content: '';
    position: relative;
    display: block;
    text-align: center;
    height: 22px;
    margin: 0 auto;
    width: 22px;
    top: 0;
    left: -13px;
    margin-bottom: 15px;
    background-color: #adb5bd;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-animation-name: pulsein;
    animation-name: pulsein;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    z-index: 1;
}

.tpgb-settings-form-wrapper .cmb2-checkbox-list.cmb2-list input[type=checkbox]:checked + label:before {
    -webkit-transform: translateX(27px);
    transform: translateX(27px);
    background-color: #f1f3fa;
}
.tpgb-settings-form-wrapper .cmb2-checkbox-list.cmb2-list label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 42px;
    width: 55px;
    background: #f1f3fa;
    height: 28px;
    transform: translateX(-50%);
    border-radius: 30px;
}
.tpgb-settings-form-wrapper .cmb2-checkbox-list.cmb2-list input[type=checkbox]:checked + label:after {
    background: #6f14f1;
}
.tpgb-settings-form-wrapper .cmb2-checkbox-list.cmb2-list input[type=checkbox]{
    display:none   
}
.tpgb-settings-form-wrapper input.button-primary {
    position: fixed;
    bottom: 15px;
    z-index: 1;
    left: calc(50% - 10px );
    transform: translateX(50%);
    transition: .2s linear;
    padding: 5px 25px;
    box-shadow: 0px 10px 30px rgb(46 212 125 / 0.56);
    background: #2ed47d;
    height: auto;
    display: block;
    color: #fff;
    border: 0px;
    text-shadow: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
}
.tpgb-settings-form-wrapper input.button-primary:hover,.tpgb-settings-form-wrapper input.button-primary:focus {
    transform: translateX(50%) translateY(-2px);
    background: #ff844a;
    box-shadow: 0px 10px 30px rgb(255 132 74 / 0.56);
    border-color: #ff844a;
    outline: none;
}
/*tpgb- form setting*/
/*extra option page Custom page White Label Page*/
#cmb2-metabox-tpgb_connection_data, #cmb2-metabox-tpgb_custom_css_js, #cmb2-metabox-tpgb_white_label, #cmb2-metabox-tpgb_performance{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 50px -8px 0;
	flex-wrap: wrap;
}
#cmb2-metabox-tpgb_custom_css_js {
    width: 80%;
    margin: 50px auto 0;
}
#cmb2-metabox-tpgb_white_label {
    width: 60%;
    margin: 50px auto 0;
    padding: 20px;
}
#cmb2-metabox-tpgb_connection_data .cmb-row, #cmb2-metabox-tpgb_custom_css_js .cmb-row, #cmb2-metabox-tpgb_white_label .cmb-row, #cmb2-metabox-tpgb_performance .cmb-row {
    position: relative;
    min-height: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
	width: calc(33.33% - 78px);
    margin: 8px;
    padding: 30px;
}
#cmb2-metabox-tpgb_custom_css_js .cmb-row{
	width: calc(50% - 90px);
	margin: 15px;
}
#cmb2-metabox-tpgb_white_label .cmb-row {
    width: 100%;
    margin: 0;
}
#cmb2-metabox-tpgb_white_label .cmb-row:not(:first-child) {
	padding-top: 10px;
}
#cmb2-metabox-tpgb_connection_data .cmb-row, #cmb2-metabox-tpgb_custom_css_js .cmb-row, #cmb2-metabox-tpgb_white_label, #cmb2-metabox-tpgb_performance .cmb-row {
    background: #fff;
    box-shadow: 0px 5px 10px rgba(186, 186, 186, 0.102);
    border-radius: 4px;
}

#cmb2-metabox-tpgb_connection_data .cmb-th label, #cmb2-metabox-tpgb_custom_css_js .cmb-th label, #cmb2-metabox-tpgb_white_label .cmb-th label {
    padding: 0;
}
#cmb2-metabox-tpgb_connection_data .cmb-th, #cmb2-metabox-tpgb_custom_css_js .cmb-th, #cmb2-metabox-tpgb_white_label .cmb-th {
    padding: 0;
	width: auto;
    text-align: left;
    float: none;
    font-size: 20px;
	line-height:30px;
    color: #313131;
    white-space: nowrap;
    margin-bottom: 10px;
    font-weight: 500;
    transition: all .3s linear;
}
#cmb2-metabox-tpgb_connection_data .cmb-td, #cmb2-metabox-tpgb_custom_css_js .cmb-td, #cmb2-metabox-tpgb_white_label .cmb-td {
    padding: 0;
    padding-top: 12px;
	float: none;
    width: 100%;
}
#cmb2-metabox-tpgb_connection_data input, #cmb2-metabox-tpgb_connection_data textarea, #cmb2-metabox-tpgb_connection_data .cmb2_select,#cmb2-metabox-tpgb_white_label input, #cmb2-metabox-tpgb_white_label textarea {
	padding: 8px 15px;
    border: 1px solid #EDEBFF;
    background: #FBFAFF;
    margin: 0;
    border-radius: 4px;
    color: #6f14f1;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
#cmb2-metabox-tpgb_connection_data input:focus, #cmb2-metabox-tpgb_connection_data textarea:focus, #cmb2-metabox-tpgb_connection_data .cmb2_select:focus, #cmb2-metabox-tpgb_white_label input:focus, #cmb2-metabox-tpgb_white_label textarea:focus{
	border-color: #6f14f1;
    box-shadow: none;
}
#cmb2-metabox-tpgb_connection_data .cmb2_select{
	width:100%;
	background: #FBFAFF url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%236f14f1%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
}
#cmb2-metabox-tpgb_connection_data p.cmb2-metabox-description, #cmb2-metabox-tpgb_custom_css_js p.cmb2-metabox-description, #cmb2-metabox-tpgb_white_label p.cmb2-metabox-description {
   color: #888888;
    font-size: 15px;
    margin-top: 5px;
    font-style: normal;
    line-height: 26px;
    font-weight: 400;
}
#cmb2-metabox-tpgb_custom_css_js .cmb-td .CodeMirror {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background: rgb(242 242 242 / 0.37);
}


#cmb2-metabox-tpgb_white_label .cmb-th {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.2px;
}
#cmb2-metabox-tpgb_white_label .cmb-td {
    padding-top: 0;
}
#cmb2-metabox-tpgb_white_label .cmb-td #tpgb-white-title {
    font-size: 20px;
	line-height: 30px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 0;
	color:#313131;
}
#cmb2-metabox-tpgb_white_label .cmb-td .cmb2-metabox-description {
    margin-top: 0;
    font-size: 15px;
	font-style: normal;
	line-height: 26px;
    font-weight: 400;
    color: #888;
}
#cmb2-metabox-tpgb_white_label input, #cmb2-metabox-tpgb_white_label textarea {
    border-color: #EFEFEF;
    border-width: 2px;
    background: #fff;
    width: 100%;
	color: #313131;
    font-weight: 400;
    font-size: 15px;
	box-shadow: 0 3px 6px rgb(213 213 213 / 0.16);
}
#cmb2-metabox-tpgb_white_label input.cmb2-upload-button {
    border-color: #D8D3FF;
    background: #F3F1FF;
    width: auto;
    padding: 0 10px;
    color: #6f14f1;
    font-weight: 500;
}
#cmb2-metabox-tpgb_white_label input#tpgb_hidden_label {
    position: relative;
	width: auto;
	top: 3px;
    margin-right: 8px;
    border-color: #888;
    color: #888;
}

#cmb2-metabox-tpgb_white_label .cmb-row.cmb2-id-tpgb-hidden-label .cmb-td {
    display: flex;
	align-items: baseline;
	border: 2px solid #6f14f1;
    padding: 15px;
    border-radius: 4px;
}
.cmb2-id-fontawesome-pro-kit .cmb-td{
	position:relative;
}
.tpgb-fontawesome-kit-pro {
	position: absolute;
    right: 10px;
    top: 23px;
    cursor: pointer;
	width: 1.5rem;
    height: 1.5rem;
}
.tpgb-fontawesome-kit-pro.check-loading{
	display: inline-block;
    vertical-align: text-bottom;
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: tpgb-spinner .75s linear infinite;
    animation: tpgb-spinner .75s linear infinite;
}
.tpgb-fontawesome-kit-pro.check-loading .inner-load{
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.tpgb-fontawesome-kit-pro .dashicons{
	font-size:27px;
}
.tpgb-fontawesome-kit-pro .dashicons-image-rotate {
    font-size: 20px;
}
.tpgb-fontawesome-kit-pro .dashicons-yes {
    color: #2ecc71;
}
.tpgb-fontawesome-kit-pro .dashicons-no-alt {
    color: #e74c3c;
}
@keyframes tpgb-spinner {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}
/*extra option page Custom page White Label Page*/
/*tpgb-form performance*/
#cmb2-metabox-tpgb_performance .cmb-row {
    width: calc(45% - 78px);
    justify-content: center;
}
#tpgb_performance input.button-primary {
    display: none;
}
#cmb2-metabox-tpgb_performance .cmb-th {
    width: auto;
    padding: 0;
    text-align: left;
    float: none;
    font-size: 20px;
	line-height: 30px;
    color: #313131;
    white-space: nowrap;
    font-weight: 500;
    transition: all .3s linear;
}
#cmb2-metabox-tpgb_performance .cmb-th label{
	padding:0;
}
#cmb2-metabox-tpgb_performance .cmb-td {
    padding: 0;
    margin-top: 20px;
    text-align: center;
}
#tpgb-remove-smart-cache, #tpgb-remove-dynamic-style {
	text-decoration: blink !important;
    outline: none !important;
    background: #6f14f1;
    color: #fff;
    padding: 15px 25px;
    margin-top: 25px;
    font-size: 15px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0px 10px 20px rgb(111 20 241 / 0.10);
    position: relative;
    display: inline-block;
}
#cmb2-metabox-tpgb_performance p.cmb2-metabox-description {
    color: #888;
    margin: 0;
    font-size: 15px;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 0;
    font-style: normal;
	margin: 0 auto;
    max-width: 85%;
}
#tpgb_performance .smart-performace-desc-btn {
    font-size: 13px;
    line-height: 22px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    color: #888;
    font-weight: 400;
    text-align: center;
}
#cmb2-metabox-tpgb_performance {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Dyanmic Style Remove*/
.tpgb-remove-dynamic-style .tpgb-tooltip-dynamic {
    width: 25px;
    background: #6f14f1;
    color: #fff;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

.tpgb-remove-dynamic-style  .tpgb-tooltip-dynamic:after {content: 'By using this option, You can clear dynamic Assets(CSS Files) of each page, template and all parts of website. This option will be required to use sometimes when you migrate site to new domain or similar tasks.';
	position: absolute;
    left: 35px;
    background: #6f14f1;
    font-size: 11px;
    line-height: 1.5em;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    width: 400px;
    z-index: 1;}

.tpgb-remove-dynamic-style  .tpgb-tooltip-dynamic:hover:after {
    opacity: 1;
    visibility: visible;
}
#cmb2-metabox-tpgb_performance .tpgb-remove-dynamic-style {
    width: 60%;
    justify-content: space-around;
    margin-top: 35px;
    background: transparent;
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: unset;
    padding: 15px 20px;
    box-shadow: none;
}
#cmb2-metabox-tpgb_performance .tpgb-remove-dynamic-style .cmb-th {
    white-space: normal;
	max-width: 60%;
}

#cmb2-metabox-tpgb_performance .tpgb-remove-dynamic-style .cmb-th .cmb2-metabox-description {
    max-width: initial;
    text-align: left;
    margin-top: 10px;
	}
#cmb2-metabox-tpgb_performance .tpgb-remove-dynamic-style .cmb-td {
    float: none;
    margin-top: 0;
}
#tpgb-remove-dynamic-style {
	margin-top: 0;
    background: #c5c5c5;
    color: #464646;
    display: flex;
    box-shadow: none;
}
#tpgb-remove-smart-cache{
	display:inline-flex;
}
.cmb-row.tpgb-remove-dynamic-style:after {
    position: absolute;
}
#tpgb-remove-dynamic-style:hover {
    background: #c5c5c5de;
}
#tpgb-remove-smart-cache:hover {
    background: #6f14f1de;
}
.tpgb-panel-btn:hover {
    background: #6f14f1e6;
}
/*Dyanmic Style Remove*/
/*tpgb-form performance*/
#side-sortables #post_setting_metabox_opt .cmb2-metabox.cmb-field-list .cmb-row {
    padding: 0;
	padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#post_setting_metabox_opt .cmb2-metabox.cmb-field-list .cmb-row:after {
    display: none;
}

#side-sortables #post_setting_metabox_opt .cmb2-metabox .cmb2-metabox-description {
    padding-bottom: 0;
}
/*Activate*/
.tpgb-settings-form-wrapper.form-tpgb_activate{
	margin-top: 50px;
}
.tpgb-panel-activate-page{
	position: relative;
    display: block;
    width: 100%;
}
.cmb2-id-tpgb-activate-key #tpgb_activate_key {
    width: 30em;
}
.tpgb-activate-info p.tpgb-sec-desc {
    margin: 7px 0 0;
}
.tpgb-activate-support-list.tpgb-panel-row {
    flex-wrap: wrap;
	margin-top: 0;
    margin-bottom: 0;
}
.tpgb-activate-support-list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.tpgb-activate-support-list li a {
    position: relative;
    display: block;
    border-style: solid;
	border-color: #EDEBFF;
    background: #FBFAFF;
    border-width: 1px 1px 1px 1px;
    padding: 20px 15px 20px 15px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}
.tpgb-activate-support-list li a:hover {
    border-color: #6f14f1;
    box-shadow: 0 6px 15px -7px rgb(111 20 241 / 50%);
    background: #6f14f1;
}
.tpgb-activate-support-list li a svg * {
    fill: #6f14f1;
	-webkit-transition: all 0.3s;
    moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.tpgb-activate-support-list li a:hover svg * {
    fill: #fff;
}
.tpgb-activate-support-list .sidebar_title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: #313131;
	margin-top: 5px;
	-webkit-transition: all 0.3s;
    moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.tpgb-activate-support-list a:hover .sidebar_title {
	color: #fff;
}
#cmb2-metabox-tpgb_activate #tpgb_activate_key {
    padding: 8px 15px;
    border: 2px solid #EFEFEF;
    background: #fff;
    margin: 10px 0 0 0;
    border-radius: 4px;
    color: #313131;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    box-shadow: 0 3px 6px rgb(213 213 213 / 16%);
}

#cmb2-metabox-tpgb_activate #tpgb_activate_key:focus {
    border-color: #2ed47d70;
    box-shadow: none;
}
form#tpgb_activate input.button-primary {
    text-transform: capitalize;
    line-height: 1;
    font-size: 13px;
    padding: 15px 20px;
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    transform: initial;
    display: inline-block;
    margin-left: -100px;
}
form#tpgb_activate input.button-primary.tpgb-deactivate-btn {
    box-shadow: 0px 10px 30px rgb(252 64 50 / 56%);
    background: #fc4032;
	margin-left: -117px;
}
form#tpgb_activate input.button-primary {
    position: absolute;
    top: auto;
    margin-top: 14px;
}
form#tpgb_activate input.button-primary.tpgb-deactivate-btn:hover, form#tpgb_activate input.button-primary.tpgb-deactivate-btn:focus {
    box-shadow: 0px 10px 30px rgb(208 57 46 / 56%);
    background: #d0392e;
}
.tpgb-activate-msg {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: .6px;
    font-weight: 500;
	color: #fff;
}
.tpgb-activate-msg.active-invalid a {
    color: #fff;
    font-weight: 600;
}
.tpgb-activate-msg.active-invalid {
	background: #e73c2f;
    box-shadow: 0 0 20px 0 #ff120029;
    border-radius: 8px;
}
.tpgb-activate-msg.active-invalid .tpgb-notice-head {
	margin: 0;
    padding: 10px 15px;
    box-shadow: 0px 5px 20px -8px #a62323;
    font-size: 15px;
}
.tpgb-activate-msg.active-invalid p {
    margin: 0;
    padding: 13px 15px;
    font-size: 13px;
    line-height: 1.6;
}
.tpgb-activate-info.tpgb-hide {
    display: none;
}
.tpgb-activate-form.tpgb-table {
    display: table;
}
.notice .tpgb-notice-head {
    font-size: 16px;
    margin: 10px 0 10px 0px;
}
/*Activate*/

/*tpgb pro notice*/
.tpgb-pro-features {
    position: relative;
    display: inline-flex;
    padding: 7px 15px;
    background: #f9f8ff;
    color: #6f14f1;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
}

.tpgb-pro-notice-wrap {
    padding: 7px;
    border: 1px dashed #eee;
    margin-bottom: 5px;
    border-radius: 3px;
}

.tpgb-pro-features svg {
    width: 12px;
    margin-right: 7px;
}

.tpgb-pro-info {
    color: #4d555f;
    position: relative;
    display: inline-block;
    margin-top: 12px;
    font-size: 13px;
    line-height: 1.5em;
}

.tpgb-pro-btns {
    position: relative;
    display: flex;
    margin-top: 15px;
}

.tpgb-pro-btns .tpgb-pro-buy,.tpgb-pro-btns .tpgb-pro-vs {
    position: relative;
    display: flex;
    padding: 8px 15px;
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 600;
    outline: none;
}

.tpgb-pro-btns .tpgb-pro-buy {
    background: #6f14f1;
    color: #fff !important;
    border-radius: 5px;
    text-decoration: blink;
}

.tpgb-pro-btns .tpgb-pro-vs {
    color: #6f14f1;
    text-decoration: underline;
}
/*tpgb pro notice*/
/*tpgb style image pro*/
.tpgb-field-styles .tpgb-style-loop.tpgb-is-pro {
    position: relative;
    opacity: 0.5;
}

.tpgb-field-styles .tpgb-style-loop.tpgb-is-pro:after {
    content: 'PRO';
    position: absolute;
    background: #ff0000d9;
    color: #fff;
    font-size: 13px;
    letter-spacing: .5px;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.tpgb-field-styles .tpgb-style-loop.tpgb-is-pro:hover:after {
    opacity: 1;
    visibility: visible;
}
/*tpgb style image pro*/
/*tpgb options notice*/
.tp-pro-note-title {
    width: 60%;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
}

.tp-pro-note-title p {
    color: #313131;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.tp-pro-note-link {
    text-align: center;
}

.tp-pro-note-link a {
    position: relative;
    padding: 8px 16px 8px 16px;
    background: #6f14f1;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    border-radius: 4px;
    display: inline-block;
}
/*tpgb options notice*/

/* Woocommerce Custom Field Preview Css */
.tpgb-color-preview{
    width: 30px;
    height: 30px;
}
.tpgb-meta-image-field-wrapper{
    display: table;
}
.tpgb-meta-image-field-wrapper .button-wrapper{
    margin-left: 10px;
    display: table-cell;
    vertical-align: top;
}
.tpgb-meta-image-field-wrapper .image-preview{
    display: table-cell;
    width: 60px;
    padding-right: 10px;
}
.tpgb-meta-image-field-wrapper .button-wrapper button{
    margin: 5px 0;
    display: block;
}
#tpgb-meta-preview {
    width: 30px;
}
/* Woocommerce Custom Field Preview Css */

/*tablet responsive start*/
@media (max-width: 1200px){ 
	#cmb2-metabox-tpgb_connection_data .cmb-th, #cmb2-metabox-tpgb_custom_css_js .cmb-th, #cmb2-metabox-tpgb_white_label .cmb-th {
		white-space: inherit;
	}
}
@media (min-width: 768px) and (max-width: 1024px){ 
	.tpgb_gutenberg_options .nav-tab-wrapper {
		padding: 15px 5px 0;
	}

	.tpgb_gutenberg_options .nav-tab-wrapper > a {
		font-size: 12px;
		padding: 10px 3px 20px;
	}

	.nav-tab-wrapper > a svg.tab-nav-icon {
		width: 20px;
		height: 20px;
	}
	.tpgb-changelog-list ul.changelog-list,#cmb2-metabox-tpgb_performance p.cmb2-metabox-description,#tpgb_performance .smart-performace-desc-btn {
		font-size: 12px;
	}
	.tpgb-sec-subtitle, .tpgb-sec-desc,.tpgb-more-video,.support-point,#cmb2-metabox-tpgb_white_label .cmb-td .cmb2-metabox-description, #cmb2-metabox-tpgb_white_label input, #cmb2-metabox-tpgb_white_label textarea, .tpgb-settings-form-wrapper.form-tpgb_connection_data input,.plus-block-list-inner,#tpgb-remove-smart-cache, #tpgb-remove-dynamic-style{
		font-size: 13px;
	}
	.tpgb-faq-section .faq-content,.sys-req-label{
		font-size: 14px;
	}
	.panel-block-filters .blocks-filter {
		font-size: 16px;
	}
	.tpgb-sec-title, #cmb2-metabox-tpgb_performance .cmb-th {
		font-size: 18px;
	}
	.tpgb-user-info .tpgb-welcom-author-name {
		font-size: 19px;
	}
	/*welcome*/
	.tpgb-panel-btn {
		font-size: 12px;
		padding: 8px 13px;
	}
	.sys-req-label span.check-req-right, .sys-req-label span.check-req-wrong {
		width: 24px;
		height: 24px;
	}
	.tpgb-sec-border {
		height: 3px;
	}
	.support-point span:first-child svg {
		max-width: 14px;
	}
	a.tpgb-panel-btn-outline-2 {
		padding: 7px 16px;
	}
	/*welcome*/
	/*plus widgets*/
	.tpgb-panel-col-25 {
		width: 33.33%;
	}
	.plus-block-list .plus-block-list-wrap {
		padding: 26px 12px;
		margin: 13px 6px;
	}
	.block-pin-free-pro {
		padding: 1px 5px;
		font-size: 9px;
	}
	.panel-plus-block-filter .panel-block-check-all {
		padding: 7px 13px;
		font-size: 16px;
	}
	.tpgb-filter-block-search .block-search {
		font-size: 13px;
		padding: 5.5px 8px;
	}
	/*plus widgets*/
	/*performance*/
	#tpgb-remove-smart-cache, #tpgb-remove-dynamic-style {
		padding: 13px 20px;
		margin-top: 20px;
	}
	/*performance*/
	/*activate*/
	.tpgb-activate-support-list .sidebar_title {
		font-size: 14px;
		line-height: 20px;
	}
	/*activate*/
	/*primary button*/
	.tpgb-settings-form-wrapper input.button-primary {
		padding: 5px 20px;
		font-size: 14px;
	}
	/*primary button*/
}
/*tablet responsive end*/

@media (max-width:767px){
	/*activate*/
	.tpgb-activate-support-list .sidebar_title {
		font-size: 14px;
		line-height: 20px;
	}
	.tpgb-activate-support-list li a{
		padding:15px 10px 15px 10px;
	}
	.tpgb-settings-form-wrapper.form-tpgb_activate{
		margin-top: 25px;
	}
	/*activate*/
}

/*mobile responsive start*/
@media (min-width: 600px) and (max-width: 767px){ 
	.tpgb-panel-col-25 {
		width: 50%;
	}
	
	#cmb2-metabox-tpgb_connection_data .cmb-row{
		width: calc(50% - 78px);
	}
	#cmb2-metabox-tpgb_connection_data input, #cmb2-metabox-tpgb_connection_data textarea, #cmb2-metabox-tpgb_white_label input, #cmb2-metabox-tpgb_white_label textarea {
		padding: 5px 10px;
		font-size: 12px;
	}
	#cmb2-metabox-tpgb_custom_css_js .cmb-row {
		width: 100%;
	}
	.tpgb-settings-form-wrapper input.button-primary {
		left: calc(40% - 10px);
	}
	#cmb2-metabox-tpgb_white_label .cmb-row {
		width: 100%;
	}
	#cmb2-metabox-tpgb_connection_data .cmb-th {
		white-space: unset;
	}
	.tpgb_gutenberg_options .nav-tab-wrapper > a{
		font-size: 12px;
		padding: 10px 10px 20px;
	}
	.nav-tab-wrapper > a svg.tab-nav-icon {
		width: 20px;
		height: 20px;
	}
}
@media (max-width: 599px){ 
	#cmb2-metabox-tpgb_connection_data .cmb-th {
		white-space: unset;
	}
	.tpgb-welcome-video .tpgb-panel-row,.tpgb-panel-row.plus-block-list {
		flex-direction: unset;
	}
	.tpgb-panel-row {
		flex-direction: column;
		margin-left: 0;
		margin-right: 0;
	}
	.tpgb-panel-col-35,.tpgb-panel-col-50,.tpgb-panel-col-65{
		width: 100%;
	}
	.tpgb-panel-col-25 {
		width: 50%;
	}
	
	.tpgb-settings-form-wrapper input.button-primary {
		left: 35%;
	}
	#cmb2-metabox-tpgb_connection_data .cmb-row, #cmb2-metabox-tpgb_custom_css_js .cmb-row, #cmb2-metabox-tpgb_white_label .cmb-row, .form-tpgb_gutenberg_options .plus-extras-feature-list {
		width: 100%;
	}
	.tpgb_gutenberg_options .nav-tab-wrapper > a{
		font-size: 11px;
		padding: 10px 10px 15px;
	}
	.nav-tab-wrapper > a svg.tab-nav-icon {
		width: 16px;
		height: 16px;
	}
	.tpgb-activate-support-list.tpgb-panel-row {
		flex-direction: initial;
	}
}
@media (max-width: 425px){ 
	.tpgb-panel-col-25,.tpgb-block-filters-search {
		width: 100%;
	}
	.tpgb-block-filters-search {
		width: 100%;
		margin-top: 15px;
	}
	.panel-plus-block-filter {
		display: inline-block;
	}
	#cmb2-metabox-tpgb_white_label,#cmb2-metabox-tpgb_custom_css_js {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.tpgb-settings-form-wrapper.form-tpgb_performance{
		width: 80%;
	}
}
/*mobile responsive end*/