#cx-row-woolementor_tools-reset .cx-toggle-checkbox:checked + .cx-toggle-switch {
    background: #d80101;
}
/*help tab design start*/
.wcd_tab_btns .wcd_help_tablinks {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#wcd_templates .wcd_tab_btns .wcd_help_tablinks {
	align-items: center;
	height: 50px;
	justify-content: center;
}
.wcd_tab_btns .wcd_help_tablinks .wcd_help_tablink {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 3px solid #ccc !important;
    padding-bottom: 15px;
    cursor: pointer;
}
#wcd_templates .wcd_tab_btns .wcd_help_tablinks .wcd_help_tablink {
	font-size: 13px;
	padding: 0;
	margin: 0;
	width: 70px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid transparent !important;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.wcd_tab_btns .wcd_help_tablinks .wcd_help_tablink.active {
    border-color: #c36 !important;
}
#wcd_templates .wcd_tab_btns .wcd_help_tablinks .wcd_help_tablink.active {
	border-bottom: 3px solid #562dd4 !important;
	background-image: -webkit-linear-gradient(top,#f1f3f5,#fff);
}
.wcd_tabcontent {
    display: none;
}
.wcd_tabcontent.active {
    display: block;
}
#wcd_vidtt_content iframe {
    margin: auto;
}
/*help tab design end*/
#wcd_video_content {
	text-align: center;
}
#wcd_support_content #support_btn {
	background-color: transparent;
	background-image: linear-gradient(to right, #3B2C73, #E9345F);
	padding: 8px 40px;
	border: none;
	margin-right: 4px;
	border-radius: 25px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-size: 16px;
}
#wcd_support_content #support_btn_div {
	text-align: center;
}
#cx-overview li a {
	font-size: 14px;
}

/* more plugins */
#cxis-more-plugins a {
	text-decoration: none;
}
#cxis-more-plugins a:focus {
	box-shadow: none;
}
.cxis-plugin {
    padding: 20px;
    box-shadow: 2px 2px 20px 0px #9e9e9e21;
    transition: all 0.4s;
    border: 1px solid #eee;
}
.cxis-plugin:hover {
    box-shadow: 2px 2px 20px 0px #00000032;
    margin-top: -3px;
}
.cxis-thumb {
    max-height: 160px;
}
.cxis-name {
    text-align: center;
    font-size: 22px;
}
.cxis-url-wrap {
    text-align: center;
    margin: 40px 0 10px 0;
}
#cxis-custom .cxis-url-wrap {
    margin-top: 35px;
}
.cxis-url {
    border: 2px solid #fff;
    background: #f09;
    color: #fff;
    padding: 10px 30px;
    transition: all 0.4s;
    box-shadow: 0 0 17px 6px #ff00994a;
}
.cxis-url:hover {
    border: 2px solid #f09;
    background: #fff;
    color: #f09;
}
#cxis-more-plugins {
	display: grid;
	gap:  20px;
}
.cxis-desc {
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
	#cxis-more-plugins {
		display: grid;
	    grid-template-columns: 1fr;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#cxis-more-plugins {
		display: grid;
	    grid-template-columns: 1fr;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#cxis-more-plugins {
		display: grid;
	    grid-template-columns: 1fr 1fr;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#cxis-more-plugins {
		display: grid;
	    grid-template-columns: 1fr 1fr 1fr;
	}
	.cxis-thumb-wrap {
		margin: 0 60px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#cxis-more-plugins {
		display: grid;
	    grid-template-columns: 1fr 1fr 1fr;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1366px) {
	#cxis-more-plugins {
		display: grid;
	    grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
/* more plugins ends*/

.current.toplevel_page_woolementor img {
	opacity: 1 !important;
}
.wl-plugins-gopro {
	color: #d30c5c;
	text-shadow: 1px 1px 1px #eee;
	font-weight: 700;
}
#wl-overview h3 {
	font-weight: 500;
	text-align: center;
	border-bottom: 1px solid #ffffff36;
	padding: 13px 0;
}
#wl-overview .inside {
	background-image: linear-gradient(75deg,#5a15bf,#df3460);
	margin-top: 0;
	padding: 0;
}
#wl-overview .inside h3,
#wl-overview .inside p {
	color: #fff;
}
#wl-overview .inside a {
	color: #fff;
}
#wl-overview .inside a .wl-doc-title:hover {
	text-decoration: underline;
}
#wl-overview .community-events-footer {
	border-top: 2px solid #ffffff36;
	margin-bottom: 0px !important;
	background: #fff;
}
#wl-overview .community-events-footer, #wl-overview .community-events-footer a, #wl-overview .community-events-footer a .dashicons:before {
	color: #23282d !important;
}
#wl-docs-wrapper {
	padding: 10px 10px 0 10px;
	margin-top: 0;
}
#wl-docs-wrapper li {
	border-bottom: 1px solid #ffffff36;
}
#wl-docs-wrapper li:last-child {
	border-bottom: 0px;
}
.wl-plugins-gopro {
	color: #d30c5c;
	text-shadow: 1px 1px 1px #eee;
	font-weight: 700;
}
.wl-plugins-help {
    color: #e50068;
    font-weight: 600;
}
.wl-plugins-upgrade, .wl-plugins-upgrade:hover, .wl-plugins-upgrade:focus {
    color: #fff;
    background: #e50068;
    padding: 1px 4px;
    border-radius: 3px;
}
#toplevel_page_woolementor .wp-menu-image img {
	padding: 5px 0 0 0;
	opacity: 1;
}
/*help tab*/
#woolementor-helps{
	border: 1px solid #f0f0f0;
}
#woolementor-helps .woolementor-help{
	border-bottom: 1px solid #f0f0f0;
	padding: 4px 8px;
}
#woolementor-helps .woolementor-help-heading {
	margin: 5px 0;
	font-size: 14px;
	cursor: pointer;
}
#woolementor-helps .woolementor-help-heading a, 
#woolementor-helps .woolementor-help-text a{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: #4054B2;
	text-decoration: none;
	font-weight: 300;
}
#woolementor-helps .woolementor-help-heading .heading-text {
	color: #515151;
	font-size: 18px;
	text-decoration: none;
	font-weight: 300;
}
#woolementor-helps .woolementor-help-text > p {
	font-size: 15px;
}
#woolementor-helps .woolementor-help-text > p:first-child {
	margin: 0;
}
#woolementor-helps .woolementor-help-text {
	padding: 8px;
}
.loopedin-wrap {
	overflow: hidden;
}
.loopedin-wrap iframe {
	position: relative;
	top: -150px;
}
#wcd_help ul li {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
#wcd_help ul li:last-child {
	border-bottom: none;
}
#wcd_help ul li p {
	font-size: 14px;
	margin-top: 5px;
}
#wcd_help ul li a {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: transparent;
	background-image: linear-gradient(60deg, #4054B2 20%, #f2295b 80%);
	font-size: 20px;
	text-decoration: none;
	font-weight: 300;
}
#wcd_help ul li p {
	font-size: 14px;
}
.cx-section .wl-more {
	font-size: 14px !important;
}
#wcd_help.cx-section ul{
	width: 100%;
	display: inline-block;
	margin: auto;
}
#wcd_help.cx-section ul li.wl_help_tablink {
	 float: left;
	 border: none;
	 outline: none;
	 cursor: pointer;
	 padding: 14px 0;
	 font-size: 17px;
	 width: 33%;
	 text-align: center;
	 border-bottom: 10px solid #ccc;
}
#wcd_help.cx-section ul li.wl_help_tablink.active {
	border-bottom: 10px solid #c36;
}
#wcd_help.cx-section ul li#wl_vidtt.wl_help_tablink.active {
	border-bottom: 10px solid #4054b2;
}
#wcd_help.cx-section ul li#wl_support.wl_help_tablink.active {
	border-bottom: 10px solid #009900;
}
#wcd_help.cx-section .tabcontent{
	display: none;
}
#wcd_help.cx-section #wl_vidtt_content.tabcontent{
	text-align: center;
}
#wcd_help.cx-section .tabcontent.active{
	display: block;
}
#wcd_help.cx-section #wl_support_content.tabcontent p {
	font-size: 16px
}
#wcd_help.cx-section #wl_support_content.tabcontent #support_btn_div {
	text-align: center;
}
#wcd_help.cx-section #wl_support_content.tabcontent #support_btn {
	background-color: transparent;
	background-image: linear-gradient(to right, #3B2C73, #E9345F);
	padding: 15px 40px;
	border: none;
	margin-right: 4px;
	border-radius: 25px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-size: 16px;
}
/*end help tab*/

/*div_woolementor-pro*/
#div_woolementor-pro-woolementor-pro-php {
	margin: auto;
	margin-top: 50px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: baseline;
	position: relative;
}
#div_woolementor-pro-woolementor-pro-php input.key-field {
	width: 100%;
	margin-bottom: 15px;
	border-bottom: ;
	border-radius: 0;
	font-size: 18px;
	border: 0px solid;
	border-bottom: 1px solid #ddd;
}
#div_woolementor-pro-woolementor-pro-php input.key-field:focus {
	box-shadow: none;
	outline: none;
}
#div_woolementor-pro-woolementor-pro-php input::placeholder {
	font-style: italic;
	font-size: 16px;
	font-weight: normal;
	opacity: .5;
}
#div_woolementor-pro-woolementor-pro-php input.button-primary {
	background-color: transparent;
	background-image: linear-gradient(to right, #3B2C73, #E9345F);
	padding: 4px 40px;
	border: none;
	width: 35%;
	margin-right: 4px;
	border-radius: 25px;
}
#div_woolementor-pro-woolementor-pro-php input.button-primary:hover {
	background-image: none;
	background-color: #3B2C73;
}
#div_woolementor-pro-woolementor-pro-php input.button-primary:focus {
	box-shadow: none;
}
#div_woolementor-pro-woolementor-pro-php input.button {
	border: 1px solid #E9345F;
	border-radius: 25px;
	padding: 3px 40px;
	background: transparent;
	width: 35%;
	margin-left: 5px;
	color: #E9345F;
	transition: all 0.5s;
	line-height: 28px;
}
#div_woolementor-pro-woolementor-pro-php input.button:hover {
	background-color: #E9345F;
	color: #fff;
}
#div_woolementor-pro-woolementor-pro-php .woolementor-pro-message {
	margin-top: 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	top: 40px;
	text-align: center;
	width: 100%;
}
#div_woolementor-pro-woolementor-pro-php .woolementor-pro-message strong {
	font-weight: normal;
	font-size: 14px;
}
#wcd_license p {
	font-size: 15px;
}
.wl-search-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#wl-search-docs {
	width: 30%;
	position: relative;
	margin-right: 15px;
}
#wl-search-docs input[type="text"] {
	height: 100%;
	display: block;
	width: 100%;
	padding: 8px 15px;
	font-size: 14px;
	color: #484848;
	font-family: lato,sans-serif;
	border: 1px solid #E9345F;
	border-radius: 25px;
}
#wl-search-docs input[type="text"]:focus {
	box-shadow: none;
	outline: 0;
}
#wl-search-docs button[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	border: none;
	padding: 13px;
	color: #E9345F;
	cursor: pointer;
	border-radius: 0 25px 25px 0;
}
.wl-search-wrap a button {
	padding: 15px;
	background-image: linear-gradient(60deg, #4054B2 20%, #f2295b 80%);
	color: #fff;
	border: 0px solid transparent;
	border-radius: 25px;
	cursor: pointer;
	width: 100%
}
#wcd_upgrade a {
	text-decoration: none;
}
#wl-confirm-box-container {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000000a6;
	top: 0px;
	left: 0px;
	z-index: 100;
	display: none;
}
#wl-confirm-box {
	position: absolute;
	top: 37%;
	left: calc( 50% - 130px );
	background: #fff;
	padding: 25px 40px;
	border: 2px solid #c36;
	border-radius: 4px;
	text-align: center;
	width: 296px;
	height: 110px;
}
#wl-confirm-content {
	margin-bottom: 58px;
	font-size: 16px;
}
#wl-confirm-btns {
	display: flex;
	justify-content: center;
	font-size: 15px;
	gap: 25px;
}
#wl-confirm-btns .wl-confirm-btn {
	cursor: pointer;
	padding: 5px 30px;
}
#wl-cancle-reset{}
#wl-confirm-reset {
	background: #c36;
	border-color: #c36;
	color: #fff;
}
#wl-site-report{
	width: 100%;
}
#wl-reset-widgets {
	padding: 2px 20px;
	background: #c36;
	border: 1px solid #c36;
}
#wl-loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}
#wl-site-report{
	position: relative;
}
#wl-report-copy {
	position: absolute;
	right: 40px;
	bottom: 50px;
	padding: 3px;
	line-height: 0px;
}
.cx-field-wrap .wl-toggle-switch.active input:checked + .wl-toggle-slider {
	background-color: #1d7b06;
}
.cx-field-wrap .wl-toggle-switch {
	float: none;
	margin-left: 15px;
}
#cx-row-woolementor_tools-report .cx-desc {
	max-width: 600px;
	position: relative;
}
#cx-row-woolementor_tools-report #wl-report-copy {
	right: 10px;
	bottom: 10px;
}

/*Start TMPL*/
.wcd_tab_btns {
	margin-bottom: 20px;
	margin-top: 25px;
}
.wcd_tab_btns.wcd-tmpl-btns{
	margin-bottom: 20px;
	margin-top: 6px;
}
#wcd_templates .wcd_tab_btns {
	/* box-shadow: 0 0 7px #0000001a; */
	position: relative;
	border-bottom: 1px solid #ddd;
}
.wcd_template_content {
    display: none;
}
.wcd_template_content.active {
    display: block;
}
.wcd_tab_btns .wcd_template_tabs {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#wcd_templates .wcd_tab_btns .wcd_template_tabs {
	align-items: center;
	height: 50px;
	justify-content: center;
	margin-bottom: 1px;
	margin-top: 0px;
}
.wcd_tab_btns .wcd_template_tabs .wcd_template_tab {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 10px solid #ccc !important;
    padding-bottom: 15px;
    cursor: pointer;
}
#wcd_templates .wcd_tab_btns .wcd_template_tabs .wcd_template_tab {
	font-size: 13px;
	padding: 0;
	margin: 0;
	width: 130px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid transparent !important;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*Template searchbox*/
#wcd-template-search-box {
	position: absolute;
	top: 10px;
	left: 0px;
	width: fit-content;
	height: fit-content;
}
#wcd-template-search-box .input-search {
	background: transparent;
	border: none;
	font-size: 14px;
	color: #0f0e0e;
	outline: none;
	box-shadow: none;
	padding: 0;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	margin-left: 25px;
}
#wl-template-categories {
	border: 1px solid #ddd;
	color: #676c73;
}
#wcd-template-search-box .btn-search {
	background: transparent;
	border: none;
	font-size: 16px;
	color: #0f0e0e;
	padding: 0;
}
/*Template searchbox*/
#wcd_templates .wcd_tab_btns .elementor-templates-modal__header__item {
	position: absolute;
	top: 13px;
	right: 14px;
}
#wcd_templates .wcd_tab_btns .elementor-templates-modal__header__item.spin {
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.wcd_tab_btns .wcd_template_tabs .wcd_template_tab.active {
    border-color: #c36 !important;
}
#wcd_templates .wcd_tab_btns .wcd_template_tabs .wcd_template_tab.active {
	border-bottom: 3px solid #562dd4 !important;
	/*background-image: -webkit-linear-gradient(top,#f1f3f5,#fff);*/
}
.wcd_template_tabs.wcd-tmpl-content {
	grid-template-columns: repeat(2,auto);
}
.wcd_tabcontent .elementor-template-library-template-remote .elementor-template-library-template-body {
	height: 260px;
}
.wcd_tabcontent .elementor-template-library-template-remote .elementor-template-library-template-screenshot {
	background-size: contain;
	background-repeat: no-repeat;
}
.tmpl-wl-templates-modal-preview-iframe {
	display: none;
}
.elementor-template-library-template-footer a {
	text-decoration: none;
}
.tmpl-admin-template-header.elementor-templates-modal__header {
	position: relative;
	border-bottom: 1px solid #ddd;
}
.tmpl-admin-template-header .wl__responsive-menu-item {
	text-align: center;
}

.wp-core-ui .notice.cx-promo {
    padding: 0;
    border: 0px;
}
.wp-core-ui .notice.cx-promo img {
    max-width: 100%;
}
.wp-core-ui .notice.cx-promo a {
    text-decoration: none;
    display: flex;
}
.wp-core-ui .notice.cx-promo a::before {
    color: #fff;
}
/*End TMPL*/

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*end div_woolementor-pro*/

/*preview scroll*/
.elementor-template-library-template-body .elementor-template-library-template-screenshot {
	background-position: center 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 576px;
	top: 0px;
	right: 0px;
	margin: 0;
	transition: all 4s ease-out 0s;
	-webkit-transition: all 4s ease-out 0s;
	-moz-transition: all 4s ease-out 0s;
	-ms-transition: all 4s ease-out 0s;
	-o-transition: all 4s ease-out 0s;
}
.elementor-template-library-template-body:hover .elementor-template-library-template-screenshot {
	background-position: center 100% !important;
}
/*preview scroll*/

 /*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	#div_woolementor-pro-woolementor-pro-php {
		width: 100%;
		display: unset;
	}
	#div_woolementor-pro-woolementor-pro-php input.button-primary {
		width: 100%;
		margin-right: 0;
		padding: 6px 40px;
	}
	#div_woolementor-pro-woolementor-pro-php input.button {
		width: 100%;
		margin-left: 0;
		padding: 3px 10px;
	}
	#div_woolementor-pro-woolementor-pro-php input.button-primary {
		width: 49%;
	}
	#div_woolementor-pro-woolementor-pro-php input.button {
		width: 49%;
	}
	#div_woolementor-pro-woolementor-pro-php .woolementor-pro-message {
		top: 80px;
		left: 0;
		right: 0;
	}
	#wl-search-docs {
		width: 100%;
		margin-bottom: 15px;
	}
	.wl-search-wrap {
		display: unset;
	}
	.wl-search-wrap a {
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	#div_woolementor-pro-woolementor-pro-php {
		width: 100%;
		display: flex;
	}
	#div_woolementor-pro-woolementor-pro-php input.button-primary {
		width: 35%;
		margin-right: 4px;
		margin-left: 15px;
		padding: 6px 40px;
	}
	#div_woolementor-pro-woolementor-pro-php input.button {
		width: 35%;
		margin-left: 5px;
		padding: 3px 40px;
	}
	#div_woolementor-pro-woolementor-pro-php .woolementor-pro-message {
		top: 40px;
		left: 0;
		right: 0;
	}
	#wl-search-docs {
		width: 50%;
		margin-bottom: 0;
	}
	.wl-search-wrap {
		display: flex;
	}
	.wl-search-wrap a {
		width: 200px;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {
	#div_woolementor-pro-woolementor-pro-php input.button-primary {
		padding: 4px 40px;
	}
	#wl-search-docs {
		width: 30%;
	}
	.wl-search-wrap a {
		width: 250px;
	}
}