/*-------theplus button-------*/
.pt-plus-button-wrapper{
	position:relative;
	display: block;
}
.ts-button.content_hover_effect {
    position: relative;
    display: inline-block;
	width:auto;
}
.pt-plus-button-wrapper .parallax-scroll {
	position: relative;
    display: inline-block;
}
.pt-plus-button-wrapper .pt-plus-move-parallax {
	position: relative;
    display: inline-block;
	width:auto;
}
.pt-plus-button-wrapper .pt-plus-move-parallax.full-button {
	width:100%;
}
.pt_plus_button {
 	position: relative;
 	display: inline-block;
 	width: auto;
}
.pt_plus_button.full-button {
    width: 100%;
    text-align: center;
}
.ts-button.content_hover_effect.full-button {
    width: 100%;
}
.pt_plus_button.full-button a.button-link-wrap {
    display: block;
    width: 100%;
	text-align: center;
}
a.button-link-wrap:hover {
    text-decoration: blink;
}
.pt_plus_button.trnasition_hover{
-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
}
.pt_plus_button.trnasition_hover:hover{
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
}
.pt_plus_button .button-link-wrap i {
 	padding-left: 5px;
 	padding-right: 5px;
	vertical-align: middle;
}
.pt_plus_button .button-link-wrap {
 	position: relative;
 	display: inline-block;
 	padding: 15px 30px;
		font-size: 16px;
 	line-height: 25px;
 	letter-spacing: 1px;
	    cursor: pointer;
 	color: #000;
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
}
.pt_plus_button .button-link-wrap:hover .button_line{
 	-webkit-animation: mymove 1s; 
 	-webkit-animation-iteration-count: 1;
 	animation: mymove 1s;
 	animation-iteration-count: 1;
}

.pt_plus_button .button-link-wrap .button_line {
 	position: absolute;
 	background: #000;
 	width: 100%;
 	height: 1px;
 	bottom: 0;
 	left: 0%;
 	pointer-events: none;
 	z-index: 11;
 	display: inline-block;
}

@-webkit-keyframes mymove {
 	0% { left: 0%;width:100%;}
 	45% {left: 100%;width:0%}
		55% {left: 0%;width:0%}
		100% {left:0%;width:100%}
}

@keyframes mymove {
 	0% { left: 0%;width:100%;}
 	45% {left: 100%;width:0%}
		55% {left: 0%;width:0%}
		100% {left:0%;width:100%}
}
/*---------style-1-----------*/
.button-link-wrap i.button-before {
		margin-right:10px;
}
.button-link-wrap i.button-after {
		margin-left:10px;
}
/*---------style-4-----------*/
.pt_plus_button.button-style-4 .button-link-wrap {
 	padding: 15px 30px;
 	text-align: center;
 	font-size: 16px;
 	line-height: 25px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
 	border-radius: 30px;
 	border: 1px solid #252525;
 	vertical-align: top;
 	background: #252525;
	-webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
	-moz-transition:  background 150ms ease-in-out, color 150ms ease-in-out;
	-o-transition: background 150ms ease-in-out, color 150ms ease-in-out;
	-ms-transition: background 150ms ease-in-out, color 150ms ease-in-out;
 	transition: background 150ms ease-in-out, color 150ms ease-in-out;
 	position: relative;
 	overflow: hidden;
 	color: #8a8a8a;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
		background-size: cover !important;
 	background-position: center center !important;
}
.pt_plus_button.button-style-4 .button-link-wrap:hover {
 	color: #252525;
	border: 1px solid #252525;
}
.pt_plus_button.button-style-4 .button-link-wrap::after {
 	content: attr(data-hover);
 	display: grid;
 	align-items: center;
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	top: 0;
 	left: 0;
 	z-index: 1;
 	background: #00d7e4;
 	-ms-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-o-transform:  translateY(100%);
 	transform: translateY(100%);
	-webkit-transition:-webkit-transform ease 0.3s;
	-moz-transition: -moz-transform ease 0.3s;
	-o-transition:-o-transform ease 0.3s;
	-ms-transition:-ms-transform ease 0.3s;
 	transition: transform ease 0.3s;
	-webkit-background-size:  cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	    background-size: cover !important;
 	background-position: center center !important;
}
.pt_plus_button.button-style-4 .button-link-wrap:hover::after {
 	-ms-transform: translateY(0);
	-ms-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform:  translateY(0);
 	transform: translateY(0);
}
/*---------style-4-----------*/
/*---------style-8-----------*/
.pt_plus_button.button-style-8{
 	overflow: visible;
}
.pt_plus_button.button-style-8 .button-link-wrap{
	-moz-box-shadow: 0 8px 20px 1px rgba(0,0,0,0.27);
	-webkit-box-shadow: 0 8px 20px 1px rgba(0,0,0,0.27);
 	box-shadow: 0 8px 20px 1px rgba(0,0,0,0.27);
		padding: 15px 30px;
		border:1px solid #252525;
}
.pt_plus_button.button-style-8 .button-link-wrap:hover{
	-webkit-box-shadow: 0 3px 6px 1px rgba(0,0,0,0.08);
	-moz-box-shadow: 0 3px 6px 1px rgba(0,0,0,0.08);
	box-shadow: 0 3px 6px 1px rgba(0,0,0,0.08);
 	-webkit-transform:translateY(3px);
	-ms-transform:translateY(3px);
	-moz-transform:translateY(3px);
	-o-transform: translateY(3px);
 	transform: translateY(3px);
}
/*---------style-8-----------*/
/*---------style-11-----------*/
.pt_plus_button.button-style-11 .button-link-wrap {
 	display: inline-block;
	background:#252525;
 	border: 1px solid #252525;
	overflow: hidden;
}

.pt_plus_button.button-style-11 .button-link-wrap:hover > span {
 	-webkit-transform: translate3d(0, 100%, 0);
	-ms-transform:translate3d(0, 100%, 0);
	-moz-transform:translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
 	transform: translate3d(0, 100%, 0);
 	display: block;
 	opacity: 0;
}
.pt_plus_button.button-style-11 .button-link-wrap::before {
 	content: attr(data-hover);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
	color: #252525;
    background: #ff214f;
		display: grid;
 	align-items: center;
 	text-align: center;
}
.pt_plus_button.button-style-11 .button-link-wrap > span,.pt_plus_button.button-style-11 .button-link-wrap::before{
 	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-o-transition:-o-transform 0.3s;
	-ms-transition:-ms-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    padding: 15px 30px;
    display: block;
}

.pt_plus_button.button-style-11.hover-left .button-link-wrap::before {
-webkit-transform: translate3d(-100%, 0, 0);
-ms-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	-o-transform:  translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.pt_plus_button.button-style-11.hover-right .button-link-wrap::before {
		-webkit-transform: translate3d(100%, 0, 0);
		-ms-transform:  translate3d(100%, 0, 0);
	-moz-transform:  translate3d(100%, 0, 0);
	-o-transform:  translate3d(100%, 0, 0);
 	transform: translate3d(100%, 0, 0);
}
.pt_plus_button.button-style-11.hover-top .button-link-wrap::before {
		-webkit-transform: translate3d(0,-100%, 0);
		-ms-transform:translate3d(0,-100%, 0);
	-moz-transform:translate3d(0,-100%, 0);
	-o-transform: translate3d(0,-100%, 0);
 	transform: translate3d(0, -100%, 0);
}
.pt_plus_button.button-style-11.hover-bottom .button-link-wrap::before {
		-webkit-transform: translate3d(0,100%, 0);
		-ms-transform:translate3d(0,100%, 0);
	-moz-transform:translate3d(0,100%, 0);
	-o-transform: translate3d(0,100%, 0);
 	transform: translate3d(0,100%, 0);
}
.pt_plus_button.button-style-11.hover-left .button-link-wrap:hover::before,.pt_plus_button.button-style-11.hover-right .button-link-wrap:hover::before,.pt_plus_button.button-style-11.hover-top .button-link-wrap:hover::before,.pt_plus_button.button-style-11.hover-bottom .button-link-wrap:hover::before  {
 	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform:  translate3d(0, 0, 0);
 	transform: translate3d(0, 0, 0);
}

.pt_plus_button.button-style-11 .button-link-wrap {
	overflow: hidden;
	padding: 0;
}

/*---------style-11-----------*/
/*---------style-12-----------*/
.pt_plus_button.button-style-12 .button-link-wrap {
 	display: inline-block;
 	border: 1px solid #252525;
 	padding: 15px 30px;
		overflow: hidden;
}
.pt_plus_button.button-style-12 .button-link-wrap span{
	z-index: 1;
    position: relative;
}
.pt_plus_button.button-style-12 .button-link-wrap::before {
 	content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin: -15px 0 0 1px;
    width: 50px;
    height: 30px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
    border-radius: 50%;
    background: #ff214f;
    -webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale3d(1, 2, 1);
	-moz-transform: scale3d(1, 2, 1);
	-ms-transform: scale3d(1, 2, 1);
	-o-transform: scale3d(1, 2, 1);
    transform: scale3d(1, 2, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -webkit-transform 0.3s, opacity 0.3s;
	-ms-transition: -webkit-transform 0.3s, opacity 0.3s;
	-o-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.1, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
    transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}
.pt_plus_button.button-style-12 .button-link-wrap:hover::before {
 	-webkit-transform: scale3d(9, 9, 1);
 	transform: scale3d(9, 9, 1);
}
/*---------style-12-----------*/
/*---------style-13-----------*/
.pt_plus_button.button-style-13 .button-link-wrap {
 	display: inline-block;
 	border: 1px solid #252525;
 	padding: 15px 30px;
		overflow: hidden;
}
.pt_plus_button.button-style-13 .button-link-wrap span {
    position: relative;
    z-index: 1;
}
.pt_plus_button.button-style-13 .button-link-wrap::before{
 	opacity: .4;
}
.pt_plus_button.button-style-13 .button-link-wrap::before, .pt_plus_button.button-style-13 .button-link-wrap::after {
 	content: '';
 	position: absolute;
 	height: 100%;
 	width: 100%; 
 	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-o-transition:-ms-transform 0.3s;
	-ms-transition:-o-transform 0.3s;
 	transition: transform 0.3s;
 	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
 	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.pt_plus_button.button-style-13.hover-top .button-link-wrap::before, .pt_plus_button.button-style-13.hover-top .button-link-wrap::after {
 	bottom: 100%;
 	left: 0;
}
.pt_plus_button.button-style-13.hover-bottom .button-link-wrap::before, .pt_plus_button.button-style-13.hover-bottom .button-link-wrap::after {
 	bottom: -100%;
 	left: 0;
}
.pt_plus_button.button-style-13.hover-right .button-link-wrap::before, .pt_plus_button.button-style-13.hover-right .button-link-wrap::after {
 	right: 100%;
 	top: 0;
		left: 100%;
}
.pt_plus_button.button-style-13.hover-left .button-link-wrap::before, .pt_plus_button.button-style-13.hover-left .button-link-wrap::after {
		left: -100%;
 	right: 100%;
 	top: 0;
}
.pt_plus_button.button-style-13.hover-left .button-link-wrap:hover::before, .pt_plus_button.button-style-13.hover-left .button-link-wrap:hover::after {
 	-webkit-transform: translate3d(100%,0%, 0);
	-ms-transform:translate3d(100%,0%, 0);
	-moz-transform:translate3d(100%,0%, 0);
	-o-transform: translate3d(100%,0%, 0);
 	transform: translate3d(100%,0%, 0);
}
.pt_plus_button.button-style-13.hover-right .button-link-wrap:hover::before, .pt_plus_button.button-style-13.hover-right .button-link-wrap:hover::after {
 	-webkit-transform: translate3d(-100%,0%, 0);
	-ms-transform:translate3d(-100%,0%, 0);
	-moz-transform:translate3d(-100%,0%, 0);
	-o-transform: translate3d(-100%,0%, 0);
 	transform: translate3d(-100%,0%, 0);
}
.pt_plus_button.button-style-13.hover-top .button-link-wrap:hover::before, .pt_plus_button.button-style-13.hover-top .button-link-wrap:hover::after {
 	-webkit-transform: translate3d(0%,100%, 0);
	-ms-transform: translate3d(0%,100%, 0);
	-moz-transform: translate3d(0%,100%, 0);
	-o-transform:  translate3d(0%,100%, 0);
 	transform: translate3d(0%,100%, 0);
}
.pt_plus_button.button-style-13.hover-bottom .button-link-wrap:hover::before, .pt_plus_button.button-style-13.hover-bottom .button-link-wrap:hover::after {
 	-webkit-transform: translate3d(0%,-100%, 0);
	-ms-transform:translate3d(0%,-100%, 0);
	-moz-transform:translate3d(0%,-100%, 0);
	-o-transform: translate3d(0%,-100%, 0);
 	transform: translate3d(0%,-100%, 0);
}
.pt_plus_button.button-style-13 .button-link-wrap:hover::after {
 	-webkit-transition-delay: 0.175s;
	-moz-transition-delay:0.175s;
	 -o-transition-delay:0.175s;
 	transition-delay: 0.175s;
}
.pt_plus_button.button-style-13 .button-link-wrap::before, .pt_plus_button.button-style-13 .button-link-wrap::after {
    background: #ff214f;
}
/*---------style-13-----------*/
/*---------style-20-----------*/
.pt_plus_button.button-style-20 .button-link-wrap{
		display: inline-block;
		margin: 0px;
		padding: 15px 30px;
 	overflow: hidden;
 	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
 	transition: all 0.3s;
		border: 1px solid #252525;
}
.pt_plus_button.button-style-20 .button-link-wrap span,.pt_plus_button.button-style-20 .button-link-wrap i.btn-icon{	
    position: relative;
	z-index: 1;
}
.pt_plus_button.button-style-20 .button-link-wrap:after{
 	content: '';
 	position: absolute;
 	-webkit-transition: all 0.3s;
 	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
 	-o-transition: all 0.3s;
 	transition: all 0.3s;
}
.pt_plus_button.button-style-20 .button-link-wrap:after {
 	width: 100%;
 	height: 0;
 	top: 50%;
 	left: 50%;
 	background: #ff214f;
 	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
 	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
 	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
 	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.pt_plus_button.button-style-20 .button-link-wrap:hover:after {
 	height: 280%;
 	opacity: 1;
}
.pt_plus_button.button-style-20 .button-link-wrap:active:after {
 	height: 500%;
 	opacity: 1;
}
/*---------style-20-----------*/
/*-------tp button-------*/
html.video {overflow: inherit !important;}

html.video:before {
    content: unset !important;   
}