/*
 External Form Styler
 Front End + Back End CSS
*/
.tpgb-external-form-styler {
	display: block;
	position: relative;
	width: 100%;
}
.tpgb-external-form-styler .tpgb-select-form-alert {
	font-size: 14px;
    background: #8072fc;
    padding: 10px;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    box-shadow: 0 5px 30px -5px #8072fc;
    color: #fff;
}
/*contact form 7*/
.tpgb-contact-form-7 span.wpcf7-form-control-wrap.radio-checkbox-1 {
    display: block;
    width: 100%;
    position: relative;
}
.tpgb-contact-form-7 span.wpcf7-form-control-wrap.radio-checkbox-1 input[type="radio"] {
    display: none;
}
.tpgb-contact-form-7 span.wpcf7-form-control-wrap.radio-checkbox-1 span.wpcf7-list-item {
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}
.tpgb-contact-form-7 span.wpcf7-form-control-wrap.radio-checkbox-1 .input__radio_btn {
    display: inline-block;
    cursor: pointer;
    text-align: left;
    margin: 0;
    position: relative;
    margin-left: 4px;
    font-weight: 400;
}
.tpgb-contact-form-7 label.input__radio_btn .toggle-button__icon {
    content: "";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1;
    height: 24px;
    width: 24px;
    overflow: hidden;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #000;
    margin-left: 5px;
    position: relative;
}
.tpgb-contact-form-7 .input__radio_btn .toggle-button__icon .tpgb-radiocf7-icon {
    position: absolute;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tpgb-contact-form-7 .input__radio_btn .toggle-button__icon .tpgb-radiocf7-icon {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.tpgb-contact-form-7 .input__radio_btn .toggle-button__icon .tpgb-radiocf7-icon {
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    background: transparent;
    color: #fff;
    animation: radio-hide 0.2s ease-out;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transform: translate3d(-50%, 200%, 0);
}
.input-radio-check:checked ~ label.input__radio_btn .toggle-button__icon .tpgb-radiocf7-icon {
    transform: translate3d(-50%, -50%, 0);
    animation: radio-show 0.2s;
}
@keyframes radio-hide {
    0% {
        transform: translate3d(-50%, -50%, 0);
    }
    100% {
        transform: translate3d(-50%, 200%, 0);
    }
}
@keyframes radio-show {
    0% {
        transform: translate3d(-50%, 200%, 0);
    }
    100% {
        transform: translate3d(-50%, -50%, 0);
    }
}
.tpgb-contact-form-7 span.wpcf7-list-item.first {
    margin: 0;
}

.tpgb-contact-form-7 span.wpcf7-form-control-wrap input[type="checkbox"],
.tpgb-contact-form-7 span.wpcf7-form-control-wrap input[type="radio"] {
    display: none;
}

.tpgb-contact-form-7 span.wpcf7-form-control-wrap span.wpcf7-list-item {
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}
.tpgb-contact-form-7 label.input__radio_btn {
    cursor: pointer;
}
.tpgb-contact-form-7 span.wpcf7-form-control-wrap .input__checkbox_btn {
    display: inline-block;
    cursor: pointer;
    text-align: left;
    margin: 0;
    position: relative;
    margin-left: 4px;
    font-weight: 400;
}
.tpgb-contact-form-7 label.input__checkbox_btn .toggle-button__icon {
    content: "";
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1;
    height: 24px;
    width: 24px;
    overflow: hidden;
    background: #000;
    margin-left: 5px;
    position: relative;
}
.tpgb-contact-form-7 .input__checkbox_btn .toggle-button__icon .tpgb-checkcf7-icon {
    position: absolute;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tpgb-contact-form-7 .input__checkbox_btn .toggle-button__icon .tpgb-checkcf7-icon {
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    animation: checkbox-hide 0.2s ease-out;
    transition: none;
    color: #fff;
    background: transparent;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -webkit-transform: translate3d(-50%, 200%, 0);
    -ms-transform: translate3d(-50%, 200%, 0);
    -moz-transform: translate3d(-50%, 200%, 0);
    -o-transform: translate3d(-50%, 200%, 0);
    transform: translate3d(-50%, 200%, 0);
}
.input-checkbox-check:checked ~ label.input__checkbox_btn .toggle-button__icon .tpgb-checkcf7-icon {
    transform: translate3d(-50%, -50%, 0);
    animation: checkbox-show 0.2s;
}
@keyframes checkbox-hide {
    0% {
        transform: translate3d(-50%, -50%, 0);
    }
    100% {
        transform: translate3d(-50%, 200%, 0);
    }
}
@keyframes checkbox-show {
    0% {
        transform: translate3d(-50%, 200%, 0);
    }
    100% {
        transform: translate3d(-50%, -50%, 0);
    }
}
body #primary #pt-plus-blog-post-list.blog-list .entry-content,
body #primary .testimonial-list .testimonial-list-content .entry-content,
body #primary .gallery-list .entry-content {
    width: 100%;
    float: none;
}
.tpgb-contact-form-7 span.wpcf7-form-control-wrap.cf7-style-file {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.tpgb-contact-form-7 input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}
.wpcf7-file + .input__file_btn {
    max-width: 80%;
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.525rem 1.825rem;
    margin-bottom: 0;
}
.wpcf7-file + .input__file_btn svg {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    fill: #252525;
    margin-top: -0.25em;
    margin-right: 1em;
    stroke-opacity: 0.8;
}
.wpcf7-file + .input__file_btn {
    color: #252525;
    border: 2px solid #252525;
}
.wpcf7-file + .input__file_btn {
    cursor: pointer;
}
.wpcf7-file:focus + .input__file_btn,
.inputfile-2 + .input__file_btn:hover {
    color: #722040;
    border: 2px solid #722040;
}
.wpcf7-file + .input__file_btn * {
    pointer-events: none;
}
.theplus-contact-form .wpcf7-not-valid-tip {
    position: relative;
    display: block;
    padding: 0;
    margin-left: 10px;
    line-height: 1;
    font-size: 12px;
}
.tpgb-contact-form-7 .input--filled .input__file_btn {
    background: #252525;
    color: #fff;
    border-color: #252525;
}
.tpgb-contact-form-7 .input--filled .input__file_btn * {
    stroke: #fff;
}
.tpgb-contact-form-7 .wpcf7-form-control.wpcf7-acceptance .toggle-button__icon {
    margin-right: 5px;
    margin-left: 0;
}
.tpgb-contact-form-7 .wpcf7-form-control.wpcf7-acceptance label.input__checkbox_btn {
    margin-bottom: 0 !important;
}
.tpgb-contact-form-7 .wpcf7-form-control.wpcf7-acceptance .wpcf7-list-item {
    margin: 0;
}
.fa.fa-check.toggle-button__icon:before {
    display: none;
}
.tpgb-contact-form-7 {
    position: relative;
    display: inline-block;
    width: 100%;
}
.tpgb-contact-form-7.text-right {
    margin: 0 auto;
    margin-right: 0;
}
.tpgb-contact-form-7.text-center {
    margin: 0 auto;
}
.tpgb-contact-form-7.text-left {
    margin: 0 auto;
    margin-left: 0;
}
.tpgb-contact-form-7 input.wpcf7-form-control.wpcf7-submit,
.tpgb-contact-form-7 .wpcf7 form input[type="submit"] {
    font-family: inherit;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    padding: 15px 50px 15px;
    border: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background: #005ade;
    border-radius: 4px;
    text-transform: none;
    text-shadow: none !important;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
.tpgb-contact-form-7.tpgb-cf7-label form.wpcf7-form label,
.tpgb-contact-form-7.tpgb-cf7-custom form.wpcf7-form .tp-cf7-outer {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(56, 130, 247, 0.5);
    border-radius: 4px;
    box-shadow: 0 3px 25px -7px rgba(56, 130, 247, 0.48);
    text-align: left;
}
.tpgb-contact-form-7 form.wpcf7-form label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0;
}
.tpgb-contact-form-7 span.wpcf7-form-control-wrap {
    position: relative;
    display: block;
    width: 100%;
}
.tpgb-contact-form-7 form.wpcf7-form p {
    margin-bottom: 0;
}
.tpgb-contact-form-7 .wpcf7-form-control {
    width: 100%;
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.tpgb-contact-form-7 input[type="text"]:focus,
.tpgb-contact-form-7 input[type="url"]:focus,
.tpgb-contact-form-7 input[type="email"]:focus,
.tpgb-contact-form-7 input[type="tel"]:focus,
.tpgb-contact-form-7 input[type="number"]:focus,
.tpgb-contact-form-7 input[type="date"]:focus,
.tpgb-contact-form-7 select:focus,
.tpgb-contact-form-7 textarea:focus {
    outline: none;
}
.tpgb-contact-form-7 .wpcf7-form-control {
    margin-top: 10px;
    border: 0;
}
.tpgb-contact-form-7.tpgb-cf7-label form.wpcf7-form label,
.tpgb-contact-form-7.tpgb-cf7-custom form.wpcf7-form .tp-cf7-outer {
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.tpgb-contact-form-7 select.wpcf7-form-control.wpcf7-select {
    padding: 10px;
    border-radius: 4px;
}
.tpgb-contact-form-7 select.wpcf7-form-control.wpcf7-select {
    -webkit-appearance: none;
	background-image: url(../../plugins/the-plus-addons-for-block-editor/assets/images/selectarrow.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.tpgb-contact-form-7 span.wpcf7-list-item span.wpcf7-list-item-label {
    cursor: pointer;
}
.tpgb-contact-form-7 textarea.wpcf7-form-control.wpcf7-textarea {
    padding: 5px 15px;
}
.tpgb-contact-form-7 span.wpcf7-not-valid-tip:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: 15px;
    transition: 0.3s ease;
}
.tpgb-contact-form-7 span.wpcf7-form-control-wrap .wpcf7-not-valid-tip {
    position: relative;
    line-height: 1.2;
    font-size: 13px;
    display: inline-block;
    margin-left: 0;
    top: 8px;
    right: 0;
    width: 100%;
    background: #fff;
    padding: 6px;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

/*Caldera Form*/
.tpgb-caldera-form .caldera_forms_form {
    margin: 0 auto;
}
.tpgb-caldera-form,
.tpgb-caldera-form input[type="text"],
.tpgb-caldera-form input[type="email"],
.tpgb-caldera-form input[type="number"],
.tpgb-caldera-form input[type="tel"],
.tpgb-caldera-form input[type="phone"],
.tpgb-caldera-form input[type="url"],
.tpgb-caldera-form input[type="color_picker"],
.tpgb-caldera-form input[type="date"],
.tpgb-caldera-form select.form-control,
.tpgb-caldera-form .flag-container,
.tpgb-caldera-form textarea.form-control,
.tpgb-caldera-form input[type="submit"],
.tpgb-caldera-form input[type="button"],
.tpgb-caldera-form input[type="reset"],
.tpgb-caldera-form .form-group,
.tpgb-caldera-form .caldera_forms_form,
.tpgb-caldera-form .cf-toggle-group-buttons .btn,
.tpgb-caldera-form input[type="file"],
.tpgb-caldera-form .form-control.cf2-file .btn,
.tpgb-caldera-form .caldera-forms-consent-field-linked_text,
.tpgb-caldera-form .input__file_btn {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.tpgb-caldera-form .caldera-forms-summary-field ul > li {
    list-style-type: circle;
}
.tpgb-caldera-form a.caldera-forms-consent-field-linked_text {
    text-decoration: none;
}
.tpgb-caldera-form label .caldera_checkbox_label,
.tpgb-caldera-form .radio label .caldera_radio_label {
    position: absolute;
    display: block;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    display: inline-block;
    font: normal normal normal 14px/1 "Font Awesome 5 Free";
    font-weight: 600;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 50%;
    left: -30px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    background: transparent;
    color: transparent;
    animation: radio-hide 0.2s ease-out;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    background: #bfcecc;
    transform: translateY(-50%);
}
.caldera-grid .radio input[type="radio"],
.caldera-grid .checkbox input[type="checkbox"] {
    display: none;
}
.checkbox-inline.caldera-forms-consent-field input[type="checkbox"] {
    display: inline-block;
}
.caldera-grid .checkbox input[type="checkbox"]:checked + .caldera_checkbox_label,
.caldera-grid .radio input[type="radio"]:checked + .caldera_radio_label {
    background: #ead0d0;
}
.caldera-grid .checkbox input[type="checkbox"]:checked + .caldera_checkbox_label,
.caldera-grid .radio input[type="radio"]:checked + .caldera_radio_label {
    color: #000;
}
span.caldera_checkbox_label,
span.caldera_radio_label {
    color: #fff;
}
.tpgb-caldera-form .radio label .caldera_radio_label {
    border-radius: 50px;
}
.tpgb-caldera-form .checkbox label .caldera_checkbox_label,
.tpgb-caldera-form .radio label .caldera_radio_label {
    margin-left: 30px;
}
.tpgb-caldera-form .caldera-grid .checkbox label,
.tpgb-caldera-form .caldera-grid .radio label {
    padding-left: 30px;
}
.tpgb-caldera-form .cf-toggle-group-buttons.btn-group {
    display: inline-flex;
}
.tpgb-caldera-form h2 {
    text-align: center;
}
.tpgb-caldera-form span.field_required {
    margin-left: 1px;
}
.tpgb-caldera-form select.form-control {
    -webkit-appearance: none;
    background-image: url(../../plugins/the-plus-addons-for-block-editor/assets/images/selectarrow.png);
    background-position: center right;
    background-repeat: no-repeat;
}
/*...New Added */
.tpgb-caldera-form .caldera-grid .form-control {
	height: auto;
}
/*...New End*/
/*Everest Form*/
.tpgb-everest-form .everest-forms {
    margin: 0 auto;
}
.tpgb-everest-form,
.tpgb-everest-form input[type="text"],
.tpgb-everest-form input[type="email"],
.tpgb-everest-form input[type="number"],
.tpgb-everest-form input[type="url"],
.tpgb-everest-form .everest-forms .evf-field-container .evf-frontend-row select,
.tpgb-everest-form .everest-forms .evf-field-container .evf-frontend-row textarea,
.tpgb-everest-form .everest-forms .everest-forms-part-button,
.tpgb-everest-form .everest-forms button[type="submit"],
.tpgb-everest-form .everest-forms input[type="submit"],
.tpgb-everest-form .everest-forms .evf-field,
.tpgb-everest-form .everest-forms .evf-submit-container,
.tpgb-everest-form .everest-forms {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.tpgb-everest-form .evf-field-checkbox .everest-forms-field-label-inline .tpgb-everest-check,
.tpgb-everest-form .evf-field-radio .everest-forms-field-label-inline .tpgb-everest-radio {
    display: block;
    position: relative;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    display: inline-block;
    font: normal normal normal 14px/1 "Font Awesome 5 Free";
    font-weight: 600;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    background: transparent;
    color: #fff;
    animation: radio-hide 0.2s ease-out;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    background: #ead0d0;
    margin-right: 10px;
    margin-bottom: 3px;
}
.tpgb-everest-form .everest-form .evf-field-checkbox input[type="checkbox"]:checked + .everest-forms-field-label-inline .tpgb-everest-check,
.tpgb-everest-form .everest-form .evf-field-radio input[type="radio"]:checked + .everest-forms-field-label-inline .tpgb-everest-radio {
    background: #bfcecc;
}
.tpgb-everest-form .everest-form .evf-field-checkbox input[type="checkbox"]:checked + .everest-forms-field-label-inline .tpgb-everest-check,
.tpgb-everest-form .everest-form .evf-field-radio input[type="radio"]:checked + .everest-forms-field-label-inline .tpgb-everest-radio {
    color: #000;
}
.tpgb-everest-form .evf-field-radio .everest-forms-field-label-inline .tpgb-everest-radio {
    border-radius: 50px;
}
.tpgb-everest-form .everest-forms .everest-forms-notice::before {
    top: 0;
    left: -25px;
}
.tpgb-everest-form .everest-form .evf-field-checkbox input[type="checkbox"],
.tpgb-everest-form .everest-form .evf-field-radio input[type="radio"] {
    display: none !important;
}
.tpgb-everest-form .everest-forms .everest-forms-part-button,
.tpgb-everest-form .everest-forms button[type="submit"],
.tpgb-everest-form .everest-forms input[type="submit"] {
    width: 100%;
}
.tpgb-everest-form .everest-forms .evf-field-container .evf-frontend-row select {
    -webkit-appearance: none;
    background-image: url(../../plugins/the-plus-addons-for-block-editor/assets/images/selectarrow.png);
    background-position: center right;
    background-repeat: no-repeat;
}

/*Gravity Form*/
.tpgb-gravity-form .gform_body ul.gform_fields {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
.tpgb-gravity-form .gform_wrapper .gform_fields, .tpgb-gravity-form .gform_wrapper .gform_footer {
	pointer-events: all; 
}
.ginput_container ul {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
.tpgb-gravity-form .gform_wrapper {
    margin: 0 auto;
}
.tpgb-gravity-form,
.tpgb-gravity-form .gfield,
.tpgb-gravity-form .gfield .ginput_container,
.tpgb-gravity-form .gfield .ginput_container input[type="text"],
.tpgb-gravity-form .gfield .ginput_container select,
.tpgb-gravity-form .gfield .ginput_container textarea,
.tpgb-gravity-form .gform_wrapper .gfield_checkbox li label,
.tpgb-gravity-form .ginput_container_checkbox input[type="checkbox"],
.tpgb-gravity-form .gform_wrapper .gfield_radio li label,
.tpgb-gravity-form .ginput_container_radio input[type="radio"],
.tpgb-gravity-form .gform_wrapper input[type="button"],
.tpgb-gravity-form .gform_wrapper input[type="submit"],
.tpgb-gravity-form .input__file_btn,
.tpgb-gravity-form .ginput_container_fileupload input[type="file"],
.tpgb-gravity-form .gform_wrapper .gform_fileupload_multifile .gform_drop_area,
.tpgb-gravity-form .gform_wrapper ul li.gfield,
.tpgb-gravity-form .gform_wrapper .gform_footer,
.tpgb-gravity-form .gform_wrapper {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.tpgb-gravity-form .ginput_container_checkbox .tpgb-gravity-check,
.tpgb-gravity-form .ginput_container_radio .tpgb-gravity-radio {
    position: absolute;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    display: block;
    font: normal normal normal 14px/1 "Font Awesome 5 Free";
    font-weight: 600;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    background: transparent;
    color: transparent;
    animation: radio-hide 0.2s ease-out;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    background: #bfcecc;
}
.tpgb-gravity-form .gform_wrapper .gfield_checkbox li,
.tpgb-gravity-form .gform_wrapper .gfield_radio li {
    line-height: inherit;
    position: relative;
}
.tpgb-gravity-form .ginput_container_checkbox input[type="checkbox"]:checked + label .tpgb-gravity-check,
.tpgb-gravity-form .ginput_container_radio input[type="radio"]:checked + label .tpgb-gravity-radio {
    background: #e8e2e2;
}
.tpgb-gravity-form .ginput_container_checkbox input[type="checkbox"] + label .tpgb-gravity-check,
.tpgb-gravity-form .ginput_container_radio input[type="radio"] + label .tpgb-gravity-radio {
    background: #ead0d0;
}
.tpgb-gravity-form .ginput_container_checkbox input[type="checkbox"]:checked + label .tpgb-gravity-check,
.tpgb-gravity-form .ginput_container_radio input[type="radio"]:checked + label .tpgb-gravity-radio {
    color: #000;
}
.tpgb-gravity-form .ginput_container_checkbox .tpgb-gravity-check,
.tpgb-gravity-form .ginput_container_radio .tpgb-gravity-radio {
    color: #fff;
}
.tpgb-gravity-form .ginput_container_radio .tpgb-gravity-radio {
    border-radius: 50px;
}
.tpgb-gravity-form .gform_wrapper .gfield_checkbox li label,
.tpgb-gravity-form .gform_wrapper .gfield_radio li label {
    top: 0;
    margin-left: 30px;
}
.tpgb-gravity-form .ginput_container_checkbox input[type="checkbox"],
.tpgb-gravity-form .ginput_container_radio input[type="radio"] {
    display: none !important;
}
.tpgb-gravity-form input[type="file"] {
    width: 100% !important;
}
.tpgb-gravity-form input[type="button"],
.tpgb-gravity-form input[type="submit"] {
    padding: 0.75em 2em;
}
.tpgb-gravity-form label.input__file_btn svg {
    margin-right: 10px;
}
.tpgb-gravity-form label.input__file_btn svg {
    fill: currentColor;
    vertical-align: middle;
}
.tpgb-gravity-form .gfield .ginput_container select {
    -webkit-appearance: none;
    background-image: url(../../plugins/the-plus-addons-for-block-editor/assets/images/selectarrow.png);
    background-position: center right;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 641px) {
    .gform_wrapper ul.gform_fields li.gfield {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .gform_wrapper .top_label li.gfield.gf_left_half {
        padding-right: 8px !important;
        padding-left: 0 !important;
    }
    .gform_wrapper .top_label li.gfield.gf_right_half {
        padding-left: 8px !important;
        padding-right: 0 !important;
    }
}

/*Ninja Form*/
.tpgb-ninja-form.style-1 {
    margin: 0 auto;
}
.nf-form-content .listselect-wrap .nf-field-element div,
.nf-form-content input.ninja-forms-field,
.nf-form-content select.ninja-forms-field:not([multiple]) {
    height: auto;
}
.tpgb-ninja-form.style-1,
.tpgb-ninja-form.style-1 .ninja-forms-field,
.tpgb-ninja-form.style-1 .nf-field-container,
.tpgb-ninja-form .nf-field-element input[type="text"],
.tpgb-ninja-form .nf-field-element input[type="email"],
.tpgb-ninja-form .nf-field-element input[type="number"],
.tpgb-ninja-form .nf-field-element input[type="tel"],
.tpgb-ninja-form .nf-field-element select,
.tpgb-ninja-form .nf-field-element textarea {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.tpgb-ninja-form .field-wrap input[type="button"] {
    width: 100%;
    height: auto;
}
.nf-after-field .nf-error-msg {
    margin-right: 0px !important;
}
.tpgb-ninja-form .nf-field-label {
    display: block;
}
.tpgb-ninja-form-labels-yes .nf-field-label {
    display: block;
}
.tpgb-ninja-form.style-1 .product-wrap > div input {
    width: 100% !important;
}
.checkbox-wrap .nf-field-element label:before,
.checkbox-wrap .nf-field-label label:before,
.listcheckbox-wrap .nf-field-element label:before,
.listcheckbox-wrap .nf-field-label label:before {
    opacity: 1 !important;
}
.tpgb-ninja-form .nf-field-element select {
    -webkit-appearance: none;
    background-image: url(../../plugins/the-plus-addons-for-block-editor/assets/images/selectarrow.png);
    background-position: center right;
    background-repeat: no-repeat;
}

/*Wp Form*/
.wpforms-container {
    margin: 0 auto !important;
}
.wpforms-container .wpforms-field input[type="text"],
.wpforms-container .wpforms-field input[type="email"],
.wpforms-container .wpforms-field input[type="number"],
.wpforms-container .wpforms-field select,
.wpforms-container .wpforms-field.wpforms-field-textarea textarea,
div.wpforms-container .wpforms-form button[type="submit"],
div.wpforms-container .wpforms-form .wpforms-field-radio,
div.wpforms-container .wpforms-form .wpforms-field-checkbox,
.wpforms-container .wpforms-field,
.wpforms-container {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.wpforms-field.wpforms-field-checkbox input[type="checkbox"],
.wpforms-field.wpforms-field-radio input[type="radio"] {
    display: none !important;
}
.wpforms-field.wpforms-field-checkbox li label .tpgb-wp-check,
.wpforms-field.wpforms-field-radio li label .tpgb-wp-radio {
    content: "\f00c";
    position: absolute;
    display: block;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    display: inline-block;
    font: normal normal normal 14px/1 "Font Awesome 5 Free";
    font-weight: 600;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 50%;
    left: -30px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    background: transparent;
    color: transparent;
    animation: radio-hide 0.2s ease-out;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    background: #bfcecc;
    transform: translateY(-50%);
}
.wpforms-field.wpforms-field-radio li label .tpgb-wp-radio {
    border-radius: 50px;
}
.wpforms-field.wpforms-field-checkbox li:not(.wpforms-selected) label .tpgb-wp-check,
.wpforms-field.wpforms-field-radio li:not(.wpforms-selected) label .tpgb-wp-radio {
    color: #fff;
}
.wpforms-field.wpforms-field-checkbox li.wpforms-selected label .tpgb-wp-check,
.wpforms-field.wpforms-field-radio li.wpforms-selected label .tpgb-wp-radio {
    color: #000;
}
.wpforms-field.wpforms-field-checkbox li label:after,
.wpforms-field.wpforms-field-radio li label:after {
    transform: translate3d(-50%, -50%, 0);
    animation: checkbox-show 0.2s;
}
.wpforms-field.wpforms-field-checkbox li label,
.wpforms-field.wpforms-field-radio li label {
    display: block;
    position: relative;
}
.wpforms-field.wpforms-field-checkbox ul label,
.wpforms-field.wpforms-field-radio ul label {
    margin: 0 30px !important;
}
.wpforms-field.wpforms-field-radio li.wpforms-image-choices-item label:before,
.wpforms-field.wpforms-field-checkbox li.wpforms-image-choices-item label:before {
    display: none !important;
}
.wpforms-container .wpforms-field select {
    -webkit-appearance: none;
    background-image: url(../../plugins/the-plus-addons-for-block-editor/assets/images/selectarrow.png);
    background-position: center right;
    background-repeat: no-repeat;
}