/**
 * CSS for both Frontend+Backend.
 */
.tpgb-plus-button {
    position: relative;
    display: block;
    width: 100%;
	font-size: 0;
}
.tpgb-plus-button .animted-content-inner {
	position: relative;
	display: inline-block;
}
.tpgb-plus-button .button-link-wrap {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 25px;
	text-decoration:blink;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.tpgb-plus-button .button-link-wrap .btn-icon {
    vertical-align: middle;
}
.tpgb-plus-button:not(.button-style-13) .button-link-wrap .btn-icon{
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.button-link-wrap .button-after {
    margin-left: 10px;
}
.button-link-wrap .button-before {
    margin-right: 10px;
}
.tpgb-plus-button .button-link-wrap .button_line {
    position: absolute;
    background: #000;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0%;
    pointer-events: none;
    z-index: 11;
    display: inline-block;
}
.tpgb-plus-button .button-link-wrap .button_line {
    height: 1px;
}
.tpgb-plus-button .button-link-wrap:hover .button_line{
    -webkit-animation: button_line_move 1s;
    -webkit-animation-iteration-count: 1;
    animation: button_line_move 1s;
    animation-iteration-count: 1;
}
.tpgb-plus-button.button-style-12 .button-link-wrap {
	padding: 0;
    padding-bottom: 7px;
	color: #212121;
}
@keyframes button_line_move {
    0% {
        left: 0%;
        width: 100%;
    }

    45% {
        left: 100%;
        width:0%;
    }

    55% {
        left: 0%;
        width: 0%;
    }

    100% {
        left: 0%;
        width: 100%;
    }
}
/*........style-1 end..........*/

/*........style-4,5,8,10,11,12,13,14,16,17,19,20,21,22,23 common css........*/

.tpgb-plus-button.button-style-4 .button-link-wrap, .tpgb-plus-button.button-style-8 .button-link-wrap, .tpgb-plus-button.button-style-11 .button-link-wrap, .tpgb-plus-button.button-style-1 .button-link-wrap, .tpgb-plus-button.button-style-13 .button-link-wrap, .tpgb-plus-button.button-style-20 .button-link-wrap{
    border-style: solid;
    border-color: #313131;
}
.tpgb-plus-button.button-style-4 .button-link-wrap, .tpgb-plus-button.button-style-8 .button-link-wrap, .tpgb-plus-button.button-style-11 .button-link-wrap, .tpgb-plus-button.button-style-1 .button-link-wrap, .tpgb-plus-button.button-style-13 .button-link-wrap, .tpgb-plus-button.button-style-20 .button-link-wrap{
    border-width: 1px 1px 1px 1px;
}
.tpgb-plus-button.button-style-4 .button-link-wrap:hover, .tpgb-plus-button.button-style-8 .button-link-wrap:hover, .tpgb-plus-button.button-style-13 .button-link-wrap:hover, .tpgb-plus-button.button-style-20 .button-link-wrap:hover{
    border-color: #313131;
}
.tpgb-plus-button.button-style-1 .button-link-wrap:hover, .tpgb-plus-button.button-style-11 .button-link-wrap:hover{
    border-color: #f18248;
}
/*..........common css end......*/

/*........style-4 start.....*/
.tpgb-plus-button.button-style-4 .button-link-wrap {
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid #7248f1;
    vertical-align: top;
    background: #7248f1;
    -webkit-transition: background 150ms ease-in-out,color 150ms ease-in-out;
    -moz-transition: background 150ms ease-in-out,color 150ms ease-in-out;
    -o-transition: background 150ms ease-in-out,color 150ms ease-in-out;
    -ms-transition: background 150ms ease-in-out,color 150ms ease-in-out;
    transition: background 150ms ease-in-out,color 150ms ease-in-out;
    position: relative;
    overflow: hidden;
	float: left;
    color: #ffffff;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-position: center center!important;
}
.tpgb-plus-button.button-style-4 .button-link-wrap::after {
    content: attr(data-hover);
    display: grid;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #f18248;
	color: #ffffff;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform ease 0.3s;
    -moz-transition: -moz-transform ease 0.3s;
    -o-transition: -o-transform ease 0.3s;
    -ms-transition: -ms-transform ease 0.3s;
    transition: transform ease 0.3s;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-position: center center!important;
}
.tpgb-plus-button.button-style-4 .button-link-wrap:hover {
    color: #ffffff;
    border: 1px solid #f18248;
}
.tpgb-plus-button.button-style-4 .button-link-wrap:hover::after {
    -ms-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
/*......style-4 end......*/

/*..........style-8 start......*/
.tpgb-plus-button.button-style-8 {
    overflow: visible;
}
.tpgb-plus-button.button-style-8 .button-link-wrap {
    padding: 15px 30px;
    border: 1px solid #212121;
	color: #212121;
}
.tpgb-plus-button.button-style-8 .button-link-wrap:hover{
    border-color: #313131;
}
.tpgb-plus-button.button-style-8 .button-link-wrap:hover {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
}
/*..........style-8 end......*/

/*............style-11 start........*/
.tpgb-plus-button.button-style-11 .button-link-wrap {
    display: inline-block;
    background: #7248f1;
	color: #ffffff;
    border: 1px solid #7248f1;
	float: left;
    overflow: hidden
}

.tpgb-plus-button.button-style-11 .button-link-wrap:hover>span {
    -webkit-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    -o-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    display: flex;
    opacity: 0
}

.tpgb-plus-button.button-style-11 .button-link-wrap::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: #f18248;
    display: grid;
    align-items: center;
    text-align: center
}

.tpgb-plus-button.button-style-11 .button-link-wrap>span,.tpgb-plus-button.button-style-11 .button-link-wrap::before {
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
    padding: 15px 30px;
    display: flex;
	align-items: center;
    justify-content: center;
}

.tpgb-plus-button.button-style-11.hover-left .button-link-wrap::before {
	-ms-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.tpgb-plus-button.button-style-11.hover-right .button-link-wrap::before {
    -webkit-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
}

.tpgb-plus-button.button-style-11.hover-top .button-link-wrap::before {
    -webkit-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    -moz-transform: translate3d(0,-100%,0);
    -o-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
}

.tpgb-plus-button.button-style-11.hover-bottom .button-link-wrap::before {
    -webkit-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    -o-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
}

.tpgb-plus-button.button-style-11.hover-left .button-link-wrap:hover::before,.tpgb-plus-button.button-style-11.hover-right .button-link-wrap:hover::before,.tpgb-plus-button.button-style-11.hover-top .button-link-wrap:hover::before,.tpgb-plus-button.button-style-11.hover-bottom .button-link-wrap:hover::before {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.tpgb-plus-button.button-style-11 .button-link-wrap {
	float: left;
    overflow: hidden;
    padding: 0
}
/*.........style-11 end.........*/
/*.........style-12 start.......*/
.tpgb-plus-button.button-style-1 .button-link-wrap {
    display: inline-block;
    border: 1px solid #7248f1;
    padding: 15px 30px;
	float: left;
    overflow: hidden;
	background: #7248f1;
}
.tpgb-plus-button.button-style-1 .button-link-wrap::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin: -15px 0 0 1px;
    width: 50px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f18248;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale3d(1,2,1);
    -moz-transform: scale3d(1,2,1);
    -ms-transform: scale3d(1,2,1);
    -o-transform: scale3d(1,2,1);
    transform: scale3d(1,2,1);
    -webkit-transition: -webkit-transform 0.3s,opacity 0.3s;
    -moz-transition: -webkit-transform 0.3s,opacity 0.3s;
    -ms-transition: -webkit-transform 0.3s,opacity 0.3s;
    -o-transition: -webkit-transform 0.3s,opacity 0.3s;
    transition: transform .1,opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.9,1);
    transition-timing-function: cubic-bezier(.7,0,.9,1);
}
.tpgb-plus-button.button-style-1 .button-link-wrap:hover::before {
    -webkit-transform: scale3d(9,9,1);
    transform: scale3d(9,9,1);
}
.tpgb-plus-button.button-style-1 .button-link-wrap span {
    z-index: 1;
    position: relative;
}
/*..........style-12 end......*/
/*..........style-13 start....*/
.tpgb-plus-button.button-style-13 .button-link-wrap {
    display: inline-block;
    border: 1px solid #212121;
    padding: 15px 30px;
	float: left;
    overflow: hidden;
	color: #212121;
}

.tpgb-plus-button.button-style-13 .button-link-wrap span {
    position: relative;
    z-index: 1
}

.tpgb-plus-button.button-style-13 .button-link-wrap::before {
    opacity: .4
}

.tpgb-plus-button.button-style-13 .button-link-wrap::before,.tpgb-plus-button.button-style-13 .button-link-wrap::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -ms-transform 0.3s;
    -ms-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(.75,0,.125,1);
    transition-timing-function: cubic-bezier(.75,0,.125,1)
}

.tpgb-plus-button.button-style-13.hover-top .button-link-wrap::before,.tpgb-plus-button.button-style-13.hover-top .button-link-wrap::after {
    bottom: 100%;
    left: 0
}

.tpgb-plus-button.button-style-13.hover-bottom .button-link-wrap::before,.tpgb-plus-button.button-style-13.hover-bottom .button-link-wrap::after {
    bottom: -100%;
    left: 0
}

.tpgb-plus-button.button-style-13.hover-right .button-link-wrap::before,.tpgb-plus-button.button-style-13.hover-right .button-link-wrap::after {
    right: 100%;
    top: 0;
    left: 100%
}

.tpgb-plus-button.button-style-13.hover-left .button-link-wrap::before,.tpgb-plus-button.button-style-13.hover-left .button-link-wrap::after {
    left: -100%;
    right: 100%;
    top: 0
}

.tpgb-plus-button.button-style-13.hover-left .button-link-wrap:hover::before,.tpgb-plus-button.button-style-13.hover-left .button-link-wrap:hover::after {
    -webkit-transform: translate3d(100%,0%,0);
    -ms-transform: translate3d(100%,0%,0);
    -moz-transform: translate3d(100%,0%,0);
    -o-transform: translate3d(100%,0%,0);
    transform: translate3d(100%,0%,0)
}

.tpgb-plus-button.button-style-13.hover-right .button-link-wrap:hover::before,.tpgb-plus-button.button-style-13.hover-right .button-link-wrap:hover::after {
    -webkit-transform: translate3d(-100%,0%,0);
    -ms-transform: translate3d(-100%,0%,0);
    -moz-transform: translate3d(-100%,0%,0);
    -o-transform: translate3d(-100%,0%,0);
    transform: translate3d(-100%,0%,0)
}

.tpgb-plus-button.button-style-13.hover-top .button-link-wrap:hover::before,.tpgb-plus-button.button-style-13.hover-top .button-link-wrap:hover::after {
    -webkit-transform: translate3d(0%,100%,0);
    -ms-transform: translate3d(0%,100%,0);
    -moz-transform: translate3d(0%,100%,0);
    -o-transform: translate3d(0%,100%,0);
    transform: translate3d(0%,100%,0)
}

.tpgb-plus-button.button-style-13.hover-bottom .button-link-wrap:hover::before,.tpgb-plus-button.button-style-13.hover-bottom .button-link-wrap:hover::after {
    -webkit-transform: translate3d(0%,-100%,0);
    -ms-transform: translate3d(0%,-100%,0);
    -moz-transform: translate3d(0%,-100%,0);
    -o-transform: translate3d(0%,-100%,0);
    transform: translate3d(0%,-100%,0)
}

.tpgb-plus-button.button-style-13 .button-link-wrap:hover::after {
    -webkit-transition-delay: 0.175s;
    -moz-transition-delay: 0.175s;
    -o-transition-delay: 0.175s;
    transition-delay: 0.175s
}

.tpgb-plus-button.button-style-13 .button-link-wrap::before,.tpgb-plus-button.button-style-13 .button-link-wrap::after {
    background: #f18248
}

/*...........style-13 end............*/

.tpgb-plus-button.button-style-20 .button-link-wrap{
    display: inline-block;
    margin: 0;
    padding: 15px 30px;
	float: left;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #212121;
	color : #212121;
}

.tpgb-plus-button.button-style-20 .button-link-wrap span,.tpgb-plus-button.button-style-20 .button-link-wrap .btn-icon {
    position: relative;
    z-index: 1
}

.tpgb-plus-button.button-style-20 .button-link-wrap:after{
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}


.tpgb-plus-button.button-style-20 .button-link-wrap:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #f18248;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
}

.tpgb-plus-button.button-style-20 .button-link-wrap:hover:after {
    height: 280%;
    opacity: 1
}

.tpgb-plus-button.button-style-20 .button-link-wrap:active:after {
    height: 500%;
    opacity: 1
}