@font-face {
	font-family: 'mighty-fonts';
	src: url('./mighty-fonts/mighty-fonts.eot?y3kchz');
	src: url('./mighty-fonts/mighty-fonts.eot?y3kchz#iefix') format('embedded-opentype'),
		url('./mighty-fonts/mighty-fonts.ttf?y3kchz') format('truetype'),
		url('./mighty-fonts/mighty-fonts.woff?y3kchz') format('woff'),
		url('./mighty-fonts/mighty-fonts.svg?y3kchz#mighty-fonts') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.mf {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'mighty-fonts' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mf-modal:before {
	content: "\e931";
}

.mf-agechecker:before {
	content: "\e92f";
}

.mf-piedonutchart:before {
	content: "\e930";
}

.mf-filtereffects:before {
	content: "\e92d";
}

.mf-backdropfilter:before {
content: "\e92e";
}

.mf-chart:before {
	content: "\e928";
}

.mf-textmarquee:before {
	content: "\e929";
}

.mf-wooaddtocart:before {
	content: "\e92a";
}

.mf-wooproductsgrid:before {
	content: "\e92b";
}

.mf-wooslider:before {
	content: "\e92c";
}

.mf-spacer:before {
  content: "\e927";
}

.mf-readingprogressbar:before {
  content: "\e926";
}

.mf-sectionslider:before {
	content: "\e920";
}

.mf-wrapperlink:before {
	content: "\e925";
}

.mf-linkeffects:before {
	content: "\e91e";
}

.mf-advancegradients:before {
	content: "\e927";
}

.mf-customcss:before {
	content: "\e91d";
}

.mf-advanceshadow:before {
	content: "\e91c";
}

.mf-mabrand:before {
	content: "\e91f";
	color: #6d7882;
}

.mf-copypaste:before {
	content: "\e910";
}

.mf-displayconditions:before {
	content: "\e91b";
}

.mf-contactform7:before {
	content: "\e905";
}

.mf-contenttoggle:before {
	content: "\e90b";
}

.mf-gmaps:before {
	content: "\e90c";
}

.mf-heading:before {
	content: "\e90d";
}

.mf-mailchimp:before {
	content: "\e90e";
}

.mf-openstreetmap:before {
	content: "\e913";
}

.mf-particles:before {
	content: "\e90a";
}

.mf-pixabay:before {
	content: "\e90f";
}

.mf-unsplash:before {
	content: "\e919";
}

.mf-xscps:before {
	content: "\e91a";
}

.mf-clicktocall:before {
	content: "\e912";
}

.mf-hotspot:before {
	content: "\e914";
}

.mf-opentable:before {
	content: "\e915";
}

.mf-pricelist:before {
	content: "\e916";
}

.mf-timeline:before {
	content: "\e917";
}

.mf-whatsappchat:before {
	content: "\e918";
}

.mf-tsl:before {
	content: "\e911";
}

.mf-advanceheading:before {
	content: "\e921";
}

.mf-instagallery:before {
	content: "\e922";
}

.mf-paypal:before {
	content: "\e923";
}

.mf-weather:before {
	content: "\e924";
}

.mf-copypaste:before {
	content: "\e910";
}

.mf-button:before {
	content: "\e900";
}

.mf-accordion:before {
	content: "\e901";
}

.mf-beforeafter:before {
	content: "\e902";
}

.mf-counter:before {
	content: "\e903";
}

.mf-flipbox:before {
	content: "\e904";
}

.mf-openinghours:before {
	content: "\e906";
}

.mf-progressbar:before {
	content: "\e907";
}

.mf-team:before {
	content: "\e908";
}

.mf-testimonial:before {
	content: "\e909";
}

.elementor-panel-category-items .elementor-element-wrapper .elementor-element:hover .icon .mf {
	color: #350079;
}

.elementor-element [class*="mf-"]:after {
	content: "MT";
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-size: 10px;
	padding: 2px 4px;
	color: #465f71;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #d1dde6;
	font-family: Roboto, Helvetica, sans-serif;
}

/* MA Tab for Panel */
.elementor-panel .elementor-panel-navigation .elementor-tab-control-map a:before {
	font-family: 'mighty-fonts' !important;
	content: '\e91f'
}

.elementor-panel .elementor-panel-navigation .elementor-tab-control-map {
	vertical-align: top
}